<div id='content_center' class="clientInfoBox">
	<dl class="curved">
		<dt><span  class='heading'>Client's Information</span></dt>	      	
			<dd class='clientInfo'> 
	        <p class='tdleft wid90'>Contact Person</p>
	        <p class="tdright wid158">{{client.email}}</p>
	      	<div class="clear"></div>
	        <p class='tdleft wid90'>Phone No.</p>
	        <p class="tdright wid158">{{client.phone_no}}</p>
	      	<div class="clear"></div>
	        <p class='tdleft wid90'>Email</p>
	        <p class="tdright wid158">{{client.email}}
	        </p>					        
 			<div class='clear'>&nbsp;</div>
			</dd>
		</dl>	
</div>