<div id='content_center' class="clientInfoBox">
	<dl class="curved">
		<dt><span  class='heading'>Client's Information</span></dt>	      	
			<dd style="height:201px;"> 
	        <p class='tdleft wid90'>Contact Person</p>
	        <p class="tdright wid158">{{projectId}}</p>
	      	<div class="clear"></div>
	        <p class='tdleft wid90'>Phone No.</p>
	        <p class="tdright wid158">{{cr_title}}</p>
	      	<div class="clear"></div>
	        <p class='tdleft wid90'>Email</p>
	        <p class="tdright wid158">{{cr_description}}
	        </p>					        
 			<div class='clear'>&nbsp;</div>
			</dd>
		</dl>	
</div>