<div id="content_left">
  <dl class="curved">
    <dt><div ng-if="userInfo.name"><span style='color:#103A5D'>Welcome <span >{{userInfo.name}}</span></span></div></dt>
    <dd> <br />
      <ul id="navlist">
      	<li><a ng-click='show_listing()' href='/crlisting'  >My Projects</a></li>
      	<li ng-if="userInfo.user==='pms'"><a href='/sendInvitation' >Send invitation</a></li>
        <li ng-if="userInfo.user==='cr'" ><a href='/profile' >Profile</a></li>
        <li ng-if="userInfo.user==='cr'" ><a href='/changePassword' >Change Password</a></li>
      	<li><a href='javascript:void(0);' ng-click='logout()' >Log out</a></li>
      </ul>
      <p class="last">&nbsp;</p>
    </dd>
  </dl>
</div>
