<div class="prop-deals-card" ng-if="deals.length">
	<div class="prop-card-header">
    	<i class="fa fa-bell-o"></i>
		<span class="font-weight paddingR5">
            <span ng-if="deals.length == 1">
                Deal
            </span>
            <span ng-if="deals.length > 1">
                Deals  <span>({{deals.length}})</span>
            </span>
         </span>
	</div>
	<div class="prop-card-content">
    	<div class="deal-items" ng-if="deals.length > 0">
            <div ng-repeat="deal in deals" class="paddingB5">
                <div class="deal-name-info">{{deal.offerHeading}}</div>
                <span class="deal-text-info">{{deal.offerDesc}}</span>
            </div>
            <div ng-if="deals.length > 1"><a href="/{{project.URL}}">view details</a></div>
        </div>		
		<div class="text-center deal-bottom-info"><button class="btn-action" ng-if="deals.length > 0" ng-click="openLeadForm($event, undefined, 'hidden-getdeal-listing')">GET DEAL</button></div>
	</div>
</div>
<div class="prop-list-perview row-fluid">
	<div class="prop-img-cont pull-left cursorZoomIn relativePostion" ng-click="openGallery()">
		<div image-block alt-text="project.builder.name + ' ' + project.name" image-source="project.imageURL" TYPE="MOBILE_3" class="image-view-info"></div>
        <div class="cont-buil-prop-info">
        	<div ng-if="project.imagesCount" class="pull-left" ng-click="openGallery()"><i class="fa fa-camera paddingR5"></i>{{project.imagesCount}}</div>
        	<div ng-if="project.videosCount" class="pull-left paddingL15"  ng-click="openGallery('video')"><i class="fa fa-video-camera paddingR5"></i>{{project.videosCount}}</div>
        </div>
        <div class="launch-soon-prot status-label" ng-if="project.projectStatus && project.showStatus" ng-class="{'new-launch-prot':project.projectStatus=='New Launch'}">
            {{project.projectStatus}}
        </div>
    </div>
    <div class="prop-info-cont pull-left">
        <div class="prop-result-info span8">
            <div class="prop-meta-info pull-left">
                <div class="pull-left prop-meta-container" style="width:45%;">
                    <div class="prop-name pull-left">
                        <div class="pull-left textWrap"><a ng-href="/{{project.URL}}" ng-click="clusterTracking('cluster', 'clicked', 'projectName', project.projectId, $parent.$index +1)" ng-attr-title="{{project.builder.name}} {{project.name}}"> {{project.builder.name}} {{project.name}}</a></div>
                        <div pt-favorite project-id="project.projectId" caller="callerLocation" class="pull-left paddingL5 marginT3"></div>
                    </div>
                    <div class="prop-address pull-left clear row-full">
                        <div class="overlay-modal pull-left">
                            <div class="locality-label add-overlay"  ng-mouseenter='getLocalityData()'>
                                {{project.locality.label}}
                            </div>
                            <span class="prop-local-over-info" pt-locality-overlay card="project.localityCard" ng-if="project.localityCard && locOverlayFetched"></span>
                            <div class="prop-fetch-info overlay-Wrapper" ng-if="!locOverlayFetched && project.localityCard">
                                <div pt-loading-block></div>
                            </div>
                        </div> 
                        <span class="city-label pull-left">
                                , {{project.locality.suburb.city.label}}
                                <a ng-click='openProjectMapModalMap(project);clusterTrackingMap(project)' ng-if="project.latitude && project.longitude && mapSupport(project.locality.suburb.city)"> 
                                    <i class="fa fa-map-marker"> </i> 
                                </a>
                        </span>  
                    </div>
                </div>
                <a href = "/{{project.URL}}#ptrend" tooltip="See Price Trends" class="pull-left prop-appreciation" ng-if="project.avgPriceRisePercentage">
                        <div pt-appreciation rate="project.avgPriceRisePercentage" time="project.avgPriceRiseMonths"></div>
                </a>
                
                <div class="overlay-modal prop-builder pull-right" ng-if="!isBuilder">
                    <a ng-href="/{{project.builder.url}}">
                    	<span class="builder-logo visibility" text-block text="project.builder.name" classname="projBuilderLogoInfo" ng-mouseenter='getBuilderData()'></span>
                    </a>
                    <span class="list-builder-overlay" pt-builder-overlay card="project.builderCard" ng-if="project.builderCard && builOverlayFetched"></span>
                    <div class="prop-fetch-info overlay-Wrapper" ng-if="!builOverlayFetched && project.builderCard">
                        <div pt-loading-block></div>
                    </div>
                </div>
            </div>

            <div class="relativePostion pull-left row-full" pt-property-listings page-type="listings" properties="project.properties" ng-if="project.properties && project.properties.length" open-lead-form="openLeadForm" project="project"></div>
        </div>
        
        <div class="prop-postdetails-info span4">
            <div class="prop-update-info pull-left span12">
                <div ng-if="project.projectStatus != 'On Hold'">
                    <div class="price-range" ng-if=" project.maxResaleOrPrimaryPrice && project.minResaleOrPrimaryPrice">
                        <span pt-shallow-range property-name="ResaleOrPrimaryPrice" base-object="project" type='price'> </span>
                        <i class="fa fa-exclamation-circle" tooltip="Some property prices of this project are currently unavailable" ng-if="project.hasPriceOnRequest"></i>
                    </div>
                    <div class="price-na" ng-if="!project.maxResaleOrPrimaryPrice || !project.minResaleOrPrimaryPrice">
                        <span>Price on request</span>
                        <a ng-click="openLeadForm($event, undefined, 'hidden-pricerequest-listing')"> Request Price </a>
                        <i class="fa fa-question-circle" tooltip="Exact price of this project is currently unavailable. Please get in touch with us for further details"></i>
                    </div>
                    <div class="possession-date" ng-class="{'hidden-visible':!project.possessionDate}">
                        <span ng-if="project.pastPossessionDate">
                            COMPLETED
                        </span>
                        <span ng-if="!project.pastPossessionDate">
                            POSSESSION
                        </span>
                        <span class="list-poss-date-info"> 
                            {{project.possessionDate | dateFormat}} 
                        </span>
                    </div>
                </div>
                <div ng-if="project.projectStatus == 'On Hold'" class="price-na paddingB25">
                    Project On Hold <i class="fa fa-question-circle" tooltip="This project is currently on hold"></i>
                </div>                
            </div>
            
            <div class="prop-pct-post-info span12 pull-left">
                <div class="posts-appraisals pull-left">
                    <div class="container-row row-fluid">
                        <div tooltip="Quality of Life Score" class="span6" ng-if="project.livabilityScore">
                        	<div class="safety-lyfstyl for-listing lyfstyl pull-left paddingR15">
                                <div class="img-n-count">
                                    <i class="icons-lifestylelarge"></i> {{project.livabilityScore.toFixed( 1 )}}
                                </div>
                                <div class="txt-wrap">LIFESTYLE</div>
                            </div>
						</div>
                        <a href="/{{project.URL}}#discuss" ng-click="clusterTracking('cluster', 'clicked', 'discusssionProjects', project.projectId, $parent.$index +1)" ng-class="{'span6 pull-left': project.livabilityScore, 'span12': !project.livabilityScore}">
                            <div discussions="project.discussions" pt-discussions></div>
                        </a>
                    </div>
                </div>
                <div class="prop-info-call pull-left" ng-class="{'prop-comp-act': isAddedToCompare()}">
                    <span pt-compare-button project='project' caller="callerLocation"></span>
                    <button class="gray-icon-btn-action pull-left marginL10"  data-toggle="tooltip" tooltip="Get Call Back" ng-click="openLeadForm($event, undefined, 'hidden-enquiry-listing')">
                        <i class="fa fa-phone btn-shaking"></i>
                    </button>
                    <a href="/{{project.URL}}" class="btn-primary pull-left marginL10" ng-click="clusterTracking('cluster', 'clicked', 'viewProjectDetails', project.projectId, $parent.$index +1)">  View Details </a>
                </div>
            </div>
        </div>
    
    </div>
</div>
