<div class="row-fluid">
	<div class="closeBtn" ng-click="cancel()">
        <i class="fa fa-times"></i>
    </div>
    <div class="map-fluid">
    	<div class="contentHeader">
        	<h5>{{ data.fullName }}
              <a ng-if="data.projectId"  href="{{ mapUrl }}#projectId={{ data.projectId}}" target="_blank" class="pull-right" ng-click="exploreTracking()">Explore on PropTiger maps <i class="fa fa-chevron-right"></i></a>
              <a ng-if="!data.projectId"  href="{{ mapUrl }}" target="_blank" class="pull-right" ng-click="exploreTracking()">Explore on PropTiger maps <i class="fa fa-chevron-right"></i></a>
           </h5>
        </div>
        <div pt-map-neighborhood class="projectMarker" data='data' marker='marker' marker-type='markerType' radius='radius' map-id='mapId' direction='direction'></div>
        <div pt-zoom-map></div>
    </div>
</div>

