<div class="row-fluid">
    <div class="closeBtn" ng-click="cancel()">
        <i class="fa fa-times"></i>
    </div>
    <div class="row-fluid">
    	<div class="contentHeader">
            <h5>{{title}} 
            	<a href="{{ mapUrl }}#projectId={{projectId}}" target="_blank" class="pull-right" ng-click="exploreTracking()">Explore on PropTiger Maps <i class="fa fa-chevron-right"></i></a>
            </h5>
        </div>
        <div pt-map-marker id="projectMap" class="projectMarker" lat="lat" lng="lng" zoom="12" title="title"></div>
        <div pt-zoom-map></div>
    </div>
</div>
