<div class="modal-header bg-modal">
	<span><i class="fa fa-info-circle"></i> <b>Please select a city to continue</b></span>
</div>
<div class="choose_city">
        <div class="city_option">
        	<h5>TOP CITIES</h5>
            <ul>
                <li ng-repeat=" city in cityList" ng-if="city.displayPriority == 1">
                    <div ng-click="setSelected(city)">{{city.label}}</div>
                </li>
            </ul>
        </div>
        <div class="city_option" style="padding-top:15px;">
        	<h5>OTHER CITIES</h5>
            <ul>
                <li ng-repeat=" city in cityList" ng-if="city.displayPriority == 2">
                    <div ng-click="setSelected(city)">{{city.label}}</div>
                </li>
            </ul>
        </div>
</div>
<div class="modal-footer md-footer">
</div>

<!--<div class="modal-header bg-modal">
	<span><b>Please select your city of interest to proceed further</b></span>
</div>
<div class="choose_city">
        <div class="city_option">
            <ul>
                <li ng-repeat=" city in cityList">
                    <div ng-click="setSelected(city)">{{city.label}}</div>
                </li>
            </ul>
        </div>
</div>
<div class="modal-footer"></div>
-->
