<div ng-show="showOverview">
    <div class="help-overlay"></div>
    <div class="help-screen-1">
    	<div class="content-wrap">
            <h2>PropTiger Maps</h2>
            <h3>Smarter way to explore</h3>
            <div class="feature-list">
                <div class="feature">
                    <div class="feature-icon"><i class="fa fa-map-marker"></i></div>
                    <div class="feature-desc">
                        <h4>Get Local</h4>
                        <p>Check localities, find projects, get directions and other local info</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="feature">
                    <div class="feature-icon"><i class="fa fa-coffee"></i></div>
                    <div class="feature-desc">
                        <h4>Neighborhood, Connectivity &amp; more</h4>
                        <p>Locate Schools, Restaurants, ATMs, Airports and other nearby facilities</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="feature">
                    <div class="feature-icon"><i class="fa fa-adjust"></i></div>
                    <div class="feature-desc">
                        <h4>Heat Maps - Price &amp; Possession</h4>
                        <p>Reduce search time to 50% through price variation &amp; property-readiness heat maps</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <center><button type="button" class="btn btn-large btn-default" ng-click="closeOverview('ok')">OKAY, GOT IT</button></center>
		</div>
        <button type="button" class="close" title="Close" ng-click="closeOverview('cancel')">x</button>
    </div>
</div>

    <div ng-show="showHelp" ng-if="pageType=='map-sale-listing-city'">    
        <div class="help-screen-2-1 icons-help-screen-2" ng-if="cardNumber=='1'" show else hide>
        	<div class="content-wrap">
                <p>Click on a locality bubble to explore projects inside that locality </p>
                <div class="btm-pnl">
                    <ul class="indicators-wrap">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="btn-area">
                        <button type="button" class="pull-right btn btn-default" ng-click="applyAction('onNext')">Next</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
			</div>  
            <button type="button" class="close" title="Close" ng-click="closeHelp()">x</button>   
        </div>
        
        <div class="help-screen-2-2" ng-if="cardNumber=='2'" show else hide>
        	<div class="content-wrap">
                <p>Use Search and Filters to get results matching your requirements </p>
                <div class="btm-pnl">
                    <ul class="indicators-wrap">
                        <li></li>
                        <li class="active"></li>
                        <li></li>
                    </ul>
                    <div class="btn-area">
                        <button type="button" class="btn btn-default" ng-click="applyAction('onPreviuos')">Previous</button>
                        <button type="button" class="btn btn-default" ng-click="applyAction('onNext')">Next</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
			</div>  
            <button type="button" class="close" title="Close" ng-click="closeHelp()">x</button>   
        </div>
        
        <div class="help-screen-2-3" ng-if="cardNumber=='3'" show else hide>
        	<div class="content-wrap">
                <p>Save your results for quick access in future. </p>
                <div class="btm-pnl">
                    <ul class="indicators-wrap">
                        <li></li>
                        <li></li>
                        <li class="active"></li>
                    </ul>
                    <div class="btn-area">
                        <button type="button" class="btn btn-default" ng-click="applyAction('onPreviuos')">Previous</button>
                        <button type="button" class="btn btn-primary" ng-click="applyAction('onDone')">Done</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
			</div>
            <button type="button" class="close" title="Close" ng-click="closeHelp()">x</button>     
        </div>
    </div>
    

    
    <div ng-show="showHelp" ng-if="pageType=='map-sale-listing-city-locality'">
       <div class="help-screen-3-1" ng-if="cardNumber=='1'" show else hide>
           <div class="content-wrap">
               <p>Switch view type to explore variations &amp; property readiness heat maps</p>
               <div class="btm-pnl">
                   <ul class="indicators-wrap">
                       <li class="active"></li>
                       <li></li>
                   </ul>
                   <div class="btn-area">
                       <button type="button" class="pull-right btn btn-default" ng-click="applyAction('onNext')">Next</button>
                   </div>
                   <div class="clearfix"></div>
               </div>
           </div>
           <button type="button" class="close" title="Close" ng-click="closeHelp()">x</button>    
       </div>
       
       <div class="help-screen-3-2" ng-if="cardNumber=='2'" show else hide>
           <div class="content-wrap">
               <p>Locate Schools, Restaurants, ATMS and other facilities in the locality </p>
               <div class="btm-pnl">
                   <ul class="indicators-wrap">
                       <li></li>
                       <li class="active"></li>
                   </ul>
                   <div class="btn-area">
                       <button type="button" class="btn btn-default" ng-click="applyAction('onPreviuos')">Previous</button>
                       <button type="button" class="btn btn-primary" ng-click="applyAction('onDone')">Done</button>
                   </div>
                   <div class="clearfix"></div>
               </div>
           </div>
           <button type="button" class="close" title="Close" ng-click="closeHelp()">x</button>    
       </div>
   </div>

   <div ng-show="showHelp" ng-if="pageType=='map-projectdetail'">
       <div class="help-screen-4-1" ng-if="cardNumber=='1'" show else hide>
           <div class="content-wrap">
               <p>Switch tabs to explore the project, including its neighbourhood facilities and connectivity </p>
               <div class="btm-pnl">
                   <button type="button" class="pull-right btn btn-primary" ng-click="applyAction('onDone')">Done</button>
                   <div class="clearfix"></div>
               </div>
           </div>
           <button type="button" class="close" title="Close" ng-click="closeHelp()">x</button>    
       </div>
       
       
   </div>