<div class="showby-wrap btn-group">
    <ul>
    	<li class="pro-type" ng-model="showType" btn-radio="'type'" ng-click="tracking('propertyType')">   		<!-- Please put active class here on click  -->
        	<i class="fa fa-circle-o"></i><i ng-show="showType === 'type'" class="fa fa-dot-circle-o"></i>  Property Type
        </li>
        <li class="price" ng-model="showType" btn-radio="'rate'" ng-click="tracking('Rate')">				<!-- Please put active class here on click  -->
        	<i ng-show="showType === 'rate'" class="fa fa-dot-circle-o"></i><i class="fa fa-circle-o"></i>  Rate (<i class="fa fa-inr"></i> /sq ft)
        </li>
        <li class="poss-date" ng-model="showType" btn-radio="'date'" ng-click="tracking('Possession')">			<!-- Please put active class here on click  -->
        	<i class="fa fa-circle-o"></i><i ng-show="showType === 'date'" class="fa fa-dot-circle-o"></i>  Possession Date
        </li>
    </ul>
    <div class="abc">
    	<div ng-show="showType === 'type'" class="legends-dd first-dd">
                <ul>
                    <li>
                    	<div class="sqm_project apartment">
                            <div class="val">
	                            <div class="val-type"><i class="fs15p icon-apartment"></i></div>
                            </div>
                    	</div>
                        <span class="na-text">APTS</span>
                    </li>
                    <li>
                    	<div class="sqm_project pt-type villa">
                            <div class="val">
	                            <div class="val-type"><i class="fs15p icon-villa"></i></div>
                            </div>
                    	</div>
                        <span class="na-text">VILLA</span>
                    </li>
                    <li>
                    	<div class="sqm_project pt-type plot">
                            <div class="val">
	                            <div class="val-type"><i class="fs15p icon-plot"></i></div>
                            </div>
                    	</div>
                        <span class="na-text">PLOT</span>
                    </li>
                </ul>
        </div>
        <div ng-show="showType === 'rate'" class="legends-dd">
                <ul>
                    <li class="second-dd">
                        <div class="gradient price-gradient" pt-gradientGR range="ranges.rateRange" type="rate"></div>
                    </li>
                    <!--<li tooltip="Rate Not Available" tooltip-placement="left" class="vertical-space"><i class="fa fa-circle"></i>
                    <div class="na-text">NA</div>
                    </li>-->
                </ul>
        	</div>
        <div ng-show="showType === 'date'" class="legends-dd" >
                <ul>
                	<li style="margin:0;padding:0 0 0 4px !important;">
                    	<div class="date-bar">
                            <span class="date-color-bar"></span>
                            <span class="date-color-text">Till<br>2011</span>
                        </div>
                    </li>
                    <li>
                        <div class="gradient price-gradient" pt-gradientGR range="ranges.dateRange" type="date"></div>
                    </li>
                </ul>
        	</div>
        
       
    </div>
</div>
