<div class="zoom-wrap">
    <div class="btn-group btn-group-vertical">
        <button class="btn btn-mini map-zoomin" tooltip="Zoom In" tooltip-placement="left"><i class="fa fa-plus"></i></button>
        <button class="btn btn-mini map-zoomout" tooltip="Zoom Out" tooltip-placement="left"><i class="fa fa-minus"></i></button>
    </div>
</div>
<div class="backBtn">
	<button id="backToCity" ng-if="backToCity" class="btn btn-mini backtocity" ng-click="back()"><i class="fa fa-arrow-left"></i> <span class="show">Go to {{cityName}}</span></button>
</div>
