/* 
Desc: Variable Scss Document 
Author: Sanjeev Verma
Date: 09 oct 2013
*/
/*** Body ***/
/*** Color ***/
/*** common ***/
/*** Header ***/
/*** Side Bar ***/
/*** Grid ***/
/*** Widget ***/
/*** Custom DropDown ***/
/*** Button ***/
/*** Listing Tab***/
/*** Filters ***/
/*** Model ***/
/* scrollbar */
/*** Tooltip ***/
/*** Rating ***/
/*** Footer ***/
/***  Path for fonts files ***/
/* 
Desc: Mixin Scss Document 
Author: Sanjeev Verma
Date: 24 Sept 2013
*/
/* 
Desc: Builder images hover Scss Document 
Author: Sanjeev Verma
Date: 24 July 2014
*/
/* line 7, ../scss/directive/common/_pt-builder-image-block.scss */
.buil-prop-local-info { position: absolute; bottom: 0; background: rgba(51, 51, 51, 0.8); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80333333,endColorstr=#80333333); width: 100%; padding: 2px 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 14, ../scss/directive/common/_pt-builder-image-block.scss */
.buil-prop-local-info .prop-name { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: white; line-height: 15x; font-weight: normal; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* line 24, ../scss/directive/common/_pt-builder-image-block.scss */
.buil-prop-local-info .prop-price-info { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: white; }
/* line 28, ../scss/directive/common/_pt-builder-image-block.scss */
.buil-prop-local-info .prop-address { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 11px; color: #a7a7a7; line-height: 16px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* line 38, ../scss/directive/common/_pt-builder-image-block.scss */
.buld-img-info { width: 100%; height: 50px; }

/* 
Desc: Listing View Scss Document 
Author: Sanjeev Verma, Hardeep Singh
Date: 23 December 2013
*/
/* line 7, ../scss/controller/_pt-listings.scss */
.no-data-img-info { background: #555555; }

/* line 8, ../scss/controller/_pt-listings.scss */
.no-data-vert-img { display: table !important; height: 110px; }

/* line 11, ../scss/controller/_pt-listings.scss */
.no-data-img-cont { width: 100%; height: 100%; display: table-cell; vertical-align: middle; text-align: center; }
/* line 16, ../scss/controller/_pt-listings.scss */
.no-data-img-cont img { width: auto; height: auto; max-width: 100%; max-height: 100%; margin: 0 auto; }

/* line 24, ../scss/controller/_pt-listings.scss */
.no-data-cont-info { padding-left: 4%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 26, ../scss/controller/_pt-listings.scss */
.no-data-cont-info .noDataHeading { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 700; font-style: normal; font-size: 18px; color: #555555; }
/* line 29, ../scss/controller/_pt-listings.scss */
.no-data-cont-info .noDataContent { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; color: #555555; }

/* Project result section */
/* line 36, ../scss/controller/_pt-listings.scss */
.result-info { margin: 0 0 15px 0; }
/* line 37, ../scss/controller/_pt-listings.scss */
.result-info .count-info { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; color: #a7a7a7; padding: 4px 0 0 0; min-height: 20px; }
/* line 42, ../scss/controller/_pt-listings.scss */
.result-info .count-info .count, .result-info .count-info h2 { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 700; font-style: normal; color: #555555; text-transform: capitalize; }
/* line 46, ../scss/controller/_pt-listings.scss */
.result-info .count-info h2 { font-size: 14px; line-height: 16px; display: inline-block; }
/* line 52, ../scss/controller/_pt-listings.scss */
.result-info .sort-action { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #a7a7a7; min-height: 20px; }
/* line 56, ../scss/controller/_pt-listings.scss */
.result-info .sort-action .button-set { margin: 0 0 0 10px; }
/* line 59, ../scss/controller/_pt-listings.scss */
.result-info .sort-action .button-set .filter-radio .btn { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 700; font-style: normal; text-transform: capitalize !important; }

/* line 66, ../scss/controller/_pt-listings.scss */
.build-list-info { position: absolute; width: 100px; height: 40px; right: 15px; top: 5px; }

/* line 74, ../scss/controller/_pt-listings.scss */
.list-loca-blog-info .contentHeader h5 { color: #555555; font-weight: normal !important; }
/* line 76, ../scss/controller/_pt-listings.scss */
.list-loca-blog-info .contentHeader h5 a { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; }

/* line 81, ../scss/controller/_pt-listings.scss */
.listings-container { min-height: 300px; }
/* line 82, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview { width: 100%; margin: 0 0 25px 0; position: relative; }
/* line 86, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview:hover .prop-img-cont { -webkit-box-shadow: white 15px 0px 0px, #999999 0px 0px 15px; -moz-box-shadow: white 15px 0px 0px, #999999 0px 0px 15px; box-shadow: white 15px 0px 0px, #999999 0px 0px 15px; }
/* line 87, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview:hover .prop-img-cont .img-overlay { opacity: 0; }
/* line 89, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview:hover .prop-info-cont { -webkit-box-shadow: #999999 0px 0px 15px; -moz-box-shadow: #999999 0px 0px 15px; box-shadow: #999999 0px 0px 15px; }
/* line 91, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview:hover .prop-builder .builder-logo { opacity: 1 !important; }
/* line 93, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview:hover .prop-info-call { opacity: 1; visibility: visible; filter: alpha(opacity=100); }
/* line 96, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview:hover .prop-info-call.prop-comp-act { visibility: visible; opacity: 1; filter: alpha(opacity=100); }
/* line 100, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview:hover .prop-info-call .btn-shaking { -moz-animation: ring 2s ease 3; -moz-transform-origin-x: center; -moz-transform-origin-y: center; -moz-transform-origin-z: initial; -moz-animation-delay: 1s; -webkit-animation: ring 2s ease 3; -webkit-transform-origin-x: center; -webkit-transform-origin-y: center; -webkit-transform-origin-z: initial; -webkit-animation-delay: 1s; -ms-animation: ring 2s ease 3; -ms-transform-origin-x: center; -ms-transform-origin-y: center; -ms-transform-origin-z: initial; -ms-animation-delay: 1s; animation: ring 2s ease 3; transform-origin-x: center; transform-origin-y: center; transform-origin-z: initial; animation-delay: 1s; }
/* line 126, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-img-cont { width: 25%; height: 215px; background: #555555; }
/* line 130, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-img-cont .launch-soon-prot { background: #00aeff; position: absolute; top: 20px; left: -10px; padding: 5px 15px; z-index: 0; }
/* line 136, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-img-cont .launch-soon-prot:after { content: ' '; position: absolute; width: 0; height: 0; left: 0px; top: 100%; border-width: 5px; border-style: solid; border-color: #264959 #264959 transparent transparent; }
/* line 147, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-img-cont .launch-soon-prot.status-label { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 700; font-style: normal; font-size: 12px; color: white; }
/* line 151, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-img-cont .launch-soon-prot.new-launch-prot { background: #27ae60; position: absolute; top: 20px; left: -10px; padding: 5px 15px; z-index: 0; }
/* line 157, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-img-cont .launch-soon-prot.new-launch-prot:after { content: ' '; position: absolute; width: 0; height: 0; left: 0px; top: 100%; border-width: 5px; border-style: solid; border-color: #1b4d30 #1b4d30 transparent transparent; }
/* line 170, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-img-cont .img-overlay { width: 100%; height: 100%; background: black; opacity: 0.3; position: absolute; top: 0px; z-index: 0; }
/* line 179, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-info-cont { width: 72.87234042553192%; min-height: 215px; background: white; padding: 0 0 0 2.127659574468085%; }
/* line 184, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info { padding: 15px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 186, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info { width: 100%; margin: 0 0 8px 0; display: block; }
/* line 190, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-meta-container { width: 50%; }
/* line 192, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-meta-container .prop-name .textWrap { max-width: 90%; max-width: 85% \9; }
/* line 196, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-meta-container .prop-name a:hover { text-decoration: underline; }
/* line 200, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-name { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 700; font-style: normal; font-size: 16px; color: #2980b9; width: 100%; }
/* line 204, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-name i { margin: 0 0 0 5px; }
/* line 208, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-address .locality-label { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #666666; padding-bottom: 1px; border-bottom: 1px dashed #a7a7a7; }
/* line 214, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-address .city-label { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #666666; }
/* line 219, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-appreciation { width: 15%; border-left: solid 1px #ccc; padding-left: 10px; width: 100px; display: block; }
/* line 226, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-builder { height: 40px; width: 160px; }
/* line 228, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-builder a:hover { text-decoration: none; }
/* line 229, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-builder .builder-logo { opacity: 0.5; border: 1px solid white; display: table; height: 40px; width: 160px; text-align: center; }
/* line 235, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-builder .builder-logo .projBuilderLogoInfo { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; color: #555555; line-height: 16px; display: table-cell; vertical-align: middle; }
/* line 241, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-builder .builder-logo .projBuilderLogoInfo:before { content: ''; display: inline-block; vertical-align: middle; }
/* line 247, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-builder .builder-logo:hover { background: whitesmoke; }
/* line 249, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-result-info .prop-meta-info .prop-builder .builder-logo span .parent-blocking { line-height: 20px; }
/* line 257, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info { padding: 15px 20px 20px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 259, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info { text-align: center; padding: 0 0 5px 0; border-bottom: 1px solid #e5e5e5; }
/* line 263, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .price-range span { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 700; font-style: normal; font-size: 16px; color: #555555; }
/* line 268, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .possession-date { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #999999; text-align: center; padding: 5px 0 0 0; }
/* line 273, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .possession-date .list-poss-date-info { font-size: 12px; font-weight: bold; color: #555555; padding: 0 0 0 3px; }
/* line 279, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .price-na { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 700; font-style: normal; font-size: 14px; color: #333333; }
/* line 282, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .price-na i { color: #555555; }
/* line 283, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .price-na a { display: none; visibility: hidden; }
/* line 284, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .price-na:hover span { display: none; }
/* line 285, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-postdetails-info .prop-update-info .price-na:hover a { display: inline-block; visibility: visible; }
/* line 291, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-pct-post-info { width: 100%; padding: 20px 0 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 294, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-pct-post-info .posts-appraisals { width: 100%; text-align: center; margin: 0 auto; }
/* line 300, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-pct-post-info .posts-appraisals a:hover .appraisal-icon-cont .appraisal-neg-info { text-decoration: underline; }
/* line 301, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-pct-post-info .posts-appraisals a:hover .appraisal-icon-cont .appraisal-post-info { text-decoration: underline; }
/* line 302, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-pct-post-info .posts-appraisals a:hover .appraisal-icon-cont i { text-decoration: underline; }
/* line 304, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-pct-post-info .posts-appraisals a:hover .posts-icon-cont { text-decoration: underline; }
/* line 305, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-pct-post-info .posts-appraisals a:hover .posts-icon-cont i { text-decoration: underline; }
/* line 311, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-info-call { width: 100%; padding: 25px 0 0 0; opacity: 0.5; visibility: visible; }
/* line 315, ../scss/controller/_pt-listings.scss */
.listings-container .prop-list-perview .prop-info-call.prop-comp-act { visibility: visible; opacity: 0.5; filter: alpha(opacity=50); }

/* line 322, ../scss/controller/_pt-listings.scss */
.prop-fetch-info { font-size: 30px; color: #f39c13; text-align: center; }
/* line 326, ../scss/controller/_pt-listings.scss */
.prop-fetch-info i { padding: 10px; }

/* line 328, ../scss/controller/_pt-listings.scss */
.more-detail-info { position: absolute; top: 5px; right: 5px; font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 18px; color: whitesmoke; padding: 4px 6px 6px 6px; cursor: pointer; line-height: 20px; z-index: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 340, ../scss/controller/_pt-listings.scss */
.more-detail-info .more-detail-bgarea { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #333333; background-color: #333333 \9; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; opacity: 0.6; filter: alpha(opacity=60); z-index: -1; }
/* line 353, ../scss/controller/_pt-listings.scss */
.more-detail-info:hover .more-detail-bgarea { opacity: 1; filter: alpha(opacity=100); }

/* line 359, ../scss/controller/_pt-listings.scss */
.proj-local-rat-info { width: 100%; }
/* line 360, ../scss/controller/_pt-listings.scss */
.proj-local-rat-info a { width: 100%; display: block; font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 65%; width: auto; }

/* line 371, ../scss/controller/_pt-listings.scss */
.proj-list-head-info { border-bottom: none; margin: 0 0 10px 0; padding: 0 !important; }

/* line 376, ../scss/controller/_pt-listings.scss */
.prop-buil-cont-info { margin: 0; padding: 0 20px 20px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 380, ../scss/controller/_pt-listings.scss */
.buil-head-cont-info { padding: 20px 20px 0 20px; }

/* line 381, ../scss/controller/_pt-listings.scss */
.buil-left-info { width: 100%; display: block; float: left; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 386, ../scss/controller/_pt-listings.scss */
.buil-left-info .border-Bottom { border-bottom: none; }
/* line 387, ../scss/controller/_pt-listings.scss */
.buil-left-info .prop-buil-detail-info { width: 50%; float: left; }
/* line 390, ../scss/controller/_pt-listings.scss */
.buil-left-info .prop-buil-descr-info { width: 50%; float: left; padding: 0 2% 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 396, ../scss/controller/_pt-listings.scss */
.buil-right-info { width: 40%; display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 403, ../scss/controller/_pt-listings.scss */
.prop-local-over-info .overlay-Wrapper .content-info { line-height: 18px; }

/* line 408, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .marginB15 { margin: 0; }
/* line 409, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .contentBoxContainer { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 410, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-head-cont-info { padding: 10px 15px 0 15px; }
/* line 411, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .build-list-info { display: none !important; }
/* line 412, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper h5 { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; color: #555555; font-weight: normal !important; overflow: hidden; }
/* line 417, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper h5 .head-overflow-text { width: 170px; max-width: 180px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* line 425, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .prop-buil-cont-info { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 429, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-left-info { width: 100%; padding: 0 15px; }
/* line 431, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-left-info .content-info { line-height: 18px; }
/* line 432, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-left-info .border-Bottom { border-bottom: 1px solid #e5e5e5; }
/* line 433, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-left-info .paddingL15 { padding-left: 0; }
/* line 434, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-left-info .prop-buil-detail-info { width: 100%; margin: 0 0 15px 0; }
/* line 436, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-left-info .prop-buil-detail-info .ratingHead { font-size: 10px; }
/* line 438, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-left-info .prop-buil-descr-info { width: 100%; padding: 0 0 15px 0; }
/* line 442, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-right-info { width: 100%; padding: 0; background: #111111; }
/* line 445, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-right-info .builder-image:first-child { border-left: none; }
/* line 446, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-right-info .ratingHead { font-size: 10px; }
/* line 449, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-right-info a:hover .buil-prop-local-info { width: 100%; height: 100%; }
/* line 451, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-right-info a:hover .buil-prop-local-info .prop-name { overflow: inherit; text-overflow: inherit; white-space: inherit; }
/* line 455, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-right-info a:hover .buil-prop-local-info .prop-address { overflow: inherit; text-overflow: inherit; white-space: inherit; }
/* line 464, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-prop-local-info { display: block; height: 40%; color: white; }
/* line 466, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-prop-local-info .prop-name { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 14px !important; color: white !important; line-height: 18px; font-weight: normal; text-align: left; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* line 477, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .buil-prop-local-info .prop-address { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #a7a7a7 !important; line-height: 16px; text-align: left; display: block; color: white; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* line 489, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .builder-image { height: 100px; padding: 0; position: relative; overflow: hidden; background: #555555; border-left: 2px solid white; }
/* line 495, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .builder-image a { width: 100%; height: 100px; }
/* line 497, ../scss/controller/_pt-listings.scss */
.list-builder-overlay .overlay-Wrapper .builder-image a .card-image { width: 100%; height: 100%; }

/* line 505, ../scss/controller/_pt-listings.scss */
.prop-deals-card + .prop-list-perview { margin: 35px 0 25px 0; }

/* line 506, ../scss/controller/_pt-listings.scss */
.list-cit-loca-info { background: #eeeeee; }
/* line 507, ../scss/controller/_pt-listings.scss */
.list-cit-loca-info .list-cit-loca-left-info { background: white; width: 85% !important; padding-right: 1.8%; }
/* line 510, ../scss/controller/_pt-listings.scss */
.list-cit-loca-info .list-cit-loca-right-info { width: 15% !important; margin: 0 !important; }

/* Deals style */
/* line 515, ../scss/controller/_pt-listings.scss */
.listing-element { position: relative; }

/* line 516, ../scss/controller/_pt-listings.scss */
.prop-deals-card { position: absolute; width: 240px; min-width: 200px; top: -27px; right: 10px; background: white; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; border: 1px solid #f39c13; z-index: 0; }
/* line 525, ../scss/controller/_pt-listings.scss */
.prop-deals-card:hover { z-index: 1; -webkit-box-shadow: #777777 0px 0px 10px; -moz-box-shadow: #777777 0px 0px 10px; box-shadow: #777777 0px 0px 10px; }
/* line 527, ../scss/controller/_pt-listings.scss */
.prop-deals-card:hover .prop-card-content { height: 200px; visibility: visible; }
/* line 532, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-header { background: #f39c13; padding: 4px 10px 5px 10px; font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; color: white; text-align: center; }
/* line 538, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content { width: 100%; height: 10px; overflow: hidden; visibility: hidden; -webkit-transition: height 600ms linear; -moz-transition: height 600ms linear; -o-transition: height 600ms linear; -ms-transition: height 600ms linear; transition: height 600ms linear; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 548, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content .deal-items { width: 220px; height: 135px; padding: 5px 10px; display: table-cell; vertical-align: middle; text-align: center; }
/* line 554, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content .deal-items .deal-name-info { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 13px; color: #333333; font-weight: bold; line-height: 16px; }
/* line 560, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content .deal-items .deal-text-info { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #333333; line-height: 14px; }
/* line 566, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content .deal-bottom-info { background: #eeeeee; padding: 10px; }
/* line 567, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content .deals-remaining { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #333333; text-align: center; padding: 20px 0 5px 0; }
/* line 573, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content a:hover { text-decoration: underline; }
/* line 574, ../scss/controller/_pt-listings.scss */
.prop-deals-card .prop-card-content .deals-btn-info { text-align: center; }

/* line 577, ../scss/controller/_pt-listings.scss */
.list-loca-img-view-info { height: 42px; overflow: hidden; }

/* line 578, ../scss/controller/_pt-listings.scss */
.list-loca-med-img-info { height: 105px; overflow: hidden; }

/* line 579, ../scss/controller/_pt-listings.scss */
.list-over-img-info:first-child { padding-top: 0; }

/* line 580, ../scss/controller/_pt-listings.scss */
.list-over-img-info { height: 130px; padding-top: 2px; }

/* line 581, ../scss/controller/_pt-listings.scss */
.list-no-img-info { height: 100%; background: #eeeeee; }

/* line 585, ../scss/controller/_pt-listings.scss */
.contentHeader h4 .local-sub-top-link a { font-family: "open-sans", Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #2980b9 !important; }
/* line 588, ../scss/controller/_pt-listings.scss */
.contentHeader h4 .local-sub-top-link a i { font-size: 14px; }
/* line 589, ../scss/controller/_pt-listings.scss */
.contentHeader h4 .local-sub-top-link a:hover { color: #2980b9 !important; }
/* line 594, ../scss/controller/_pt-listings.scss */
.contentHeader h1 { font-size: 18px; display: inline-block; line-height: 20px; }

/* line 601, ../scss/controller/_pt-listings.scss */
.list-prom-info .projLeadContainer { height: 270px; overflow: hidden; }
/* line 603, ../scss/controller/_pt-listings.scss */
.list-prom-info .projLeadContainer .enq-form-info { padding: 10px 0 0 0; }
/* line 604, ../scss/controller/_pt-listings.scss */
.list-prom-info .projLeadContainer .enq-form-info .contentHeader { margin: 0 0 5px 0; }
/* line 605, ../scss/controller/_pt-listings.scss */
.list-prom-info .projLeadContainer .enq-form-info p { margin: 0 0 10px 0; }
/* line 606, ../scss/controller/_pt-listings.scss */
.list-prom-info .projLeadContainer .enq-form-info .paddingT15 { padding-top: 10px; }

@-moz-keyframes ring { /* line 611, ../scss/controller/_pt-listings.scss */
  0% { -moz-transform: rotate(-15deg); }
  /* line 612, ../scss/controller/_pt-listings.scss */
  2% { -moz-transform: rotate(15deg); }
  /* line 613, ../scss/controller/_pt-listings.scss */
  4% { -moz-transform: rotate(-18deg); }
  /* line 614, ../scss/controller/_pt-listings.scss */
  6% { -moz-transform: rotate(18deg); }
  /* line 615, ../scss/controller/_pt-listings.scss */
  8% { -moz-transform: rotate(-22deg); }
  /* line 616, ../scss/controller/_pt-listings.scss */
  10% { -moz-transform: rotate(22deg); }
  /* line 617, ../scss/controller/_pt-listings.scss */
  12% { -moz-transform: rotate(-18deg); }
  /* line 618, ../scss/controller/_pt-listings.scss */
  14% { -moz-transform: rotate(18deg); }
  /* line 619, ../scss/controller/_pt-listings.scss */
  16% { -moz-transform: rotate(-12deg); }
  /* line 620, ../scss/controller/_pt-listings.scss */
  18% { -moz-transform: rotate(12deg); }
  /* line 621, ../scss/controller/_pt-listings.scss */
  20% { -moz-transform: rotate(0deg); } }

@-webkit-keyframes ring { /* line 624, ../scss/controller/_pt-listings.scss */
  0% { -webkit-transform: rotate(-15deg); }
  /* line 625, ../scss/controller/_pt-listings.scss */
  2% { -webkit-transform: rotate(15deg); }
  /* line 626, ../scss/controller/_pt-listings.scss */
  4% { -webkit-transform: rotate(-18deg); }
  /* line 627, ../scss/controller/_pt-listings.scss */
  6% { -webkit-transform: rotate(18deg); }
  /* line 628, ../scss/controller/_pt-listings.scss */
  8% { -webkit-transform: rotate(-22deg); }
  /* line 629, ../scss/controller/_pt-listings.scss */
  10% { -webkit-transform: rotate(22deg); }
  /* line 630, ../scss/controller/_pt-listings.scss */
  12% { -webkit-transform: rotate(-18deg); }
  /* line 631, ../scss/controller/_pt-listings.scss */
  14% { -webkit-transform: rotate(18deg); }
  /* line 632, ../scss/controller/_pt-listings.scss */
  16% { -webkit-transform: rotate(-12deg); }
  /* line 633, ../scss/controller/_pt-listings.scss */
  18% { -webkit-transform: rotate(12deg); }
  /* line 634, ../scss/controller/_pt-listings.scss */
  20% { -webkit-transform: rotate(0deg); } }

@-ms-keyframes ring { /* line 637, ../scss/controller/_pt-listings.scss */
  0% { -ms-transform: rotate(-15deg); }
  /* line 638, ../scss/controller/_pt-listings.scss */
  2% { -ms-transform: rotate(15deg); }
  /* line 639, ../scss/controller/_pt-listings.scss */
  4% { -ms-transform: rotate(-18deg); }
  /* line 640, ../scss/controller/_pt-listings.scss */
  6% { -ms-transform: rotate(18deg); }
  /* line 641, ../scss/controller/_pt-listings.scss */
  8% { -ms-transform: rotate(-22deg); }
  /* line 642, ../scss/controller/_pt-listings.scss */
  10% { -ms-transform: rotate(22deg); }
  /* line 643, ../scss/controller/_pt-listings.scss */
  12% { -ms-transform: rotate(-18deg); }
  /* line 644, ../scss/controller/_pt-listings.scss */
  14% { -ms-transform: rotate(18deg); }
  /* line 645, ../scss/controller/_pt-listings.scss */
  16% { -ms-transform: rotate(-12deg); }
  /* line 646, ../scss/controller/_pt-listings.scss */
  18% { -ms-transform: rotate(12deg); }
  /* line 647, ../scss/controller/_pt-listings.scss */
  20% { -ms-transform: rotate(0deg); } }

@keyframes ring { /* line 650, ../scss/controller/_pt-listings.scss */
  0% { transform: rotate(-15deg); }
  /* line 651, ../scss/controller/_pt-listings.scss */
  2% { transform: rotate(15deg); }
  /* line 652, ../scss/controller/_pt-listings.scss */
  4% { transform: rotate(-18deg); }
  /* line 653, ../scss/controller/_pt-listings.scss */
  6% { transform: rotate(18deg); }
  /* line 654, ../scss/controller/_pt-listings.scss */
  8% { transform: rotate(-22deg); }
  /* line 655, ../scss/controller/_pt-listings.scss */
  10% { transform: rotate(22deg); }
  /* line 656, ../scss/controller/_pt-listings.scss */
  12% { transform: rotate(-18deg); }
  /* line 657, ../scss/controller/_pt-listings.scss */
  14% { transform: rotate(18deg); }
  /* line 658, ../scss/controller/_pt-listings.scss */
  16% { transform: rotate(-12deg); }
  /* line 659, ../scss/controller/_pt-listings.scss */
  18% { transform: rotate(12deg); }
  /* line 660, ../scss/controller/_pt-listings.scss */
  20% { transform: rotate(0deg); } }
