<div ng-if="anonymousUser" class="anonym-user">
    <i class="fa fa-user"></i>
</div>
<div ng-if="!anonymousUser" class="non-anonym-user">
    <div ng-style="nameAvatarColor" ng-if="avatarType == 'discussion'" class="avatar pull-left">
        <span ng-if="!useAvatarOriginal">{{nameAvatar}}</span>
        <img ng-if="useAvatarOriginal" ng-src="{{userInfo.AVATAR}}">
    </div>
    <div ng-if="avatarType != 'discussion'">
        <span ng-if="!useAvatarOriginal" ng-style="nameTextColor">{{nameAvatar}}</span>
        <img ng-if="useAvatarOriginal" ng-src="{{userInfo.AVATAR}}">
    </div>
</div>