<div class="contentBoxContainer padding20 marginB15" ng-if="showGrid.project" id="projects">
    <div class="proj-see-more-info row-fluid tabContainer">
    	<div class="contentHeader" ng-if="allProjectLink">
            <h5>Projects
                <a href="/{{allProjectLink}}" ng-click="forwardflowTracking(projectFeaturedKey, '', 'Project', 'View all Projects')" target="_blank" class="pull-right forw-link-info">
                    View all Projects <i class="fa fa-chevron-right"></i>
                </a>
            </h5>
        </div>
    </div>
    <div ng-if="displayOrder.project.length && projectFeaturedKey">
        <div class="proj-see-link border-Top marginT10 paddingT10" ng-if="!showingData.project">Also see <a ng-repeat="obj in displayOrder.project" ng-click="showAlsoSee('project', obj)" href="" id="{{sameLevel.project[ obj ].id}}" class="marginL15">{{obj}}</a></div>
    </div>
    <div class="row-fluid" ng-class="{'marginT15':projectFeaturedKey}" ng-if="showGrid.project && showingData.project">
        <div class="proj-see-more-info row-fluid tabContainer paddingB15">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li ng-repeat="obj in displayOrder.project" class="{{cName.project[ obj ]}}">
                        <a ng-click="showData('project', obj)" id="{{sameLevel.project[ obj ].id}}" href="">{{obj}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-info">
            <div class="thumbsHolder row-fluid">
                <div ng-repeat="obj in sameLevel.project[ proKey ].data" class="span3">
                    <a ng-href="/{{obj.url}}" class="nounderline">
                        <div class="simil-prop-info">
                            <img ng-src="{{getImagePath( obj.imageUrl )}}" ng-if="obj.imageUrl">
                            <div class="simil-prop-detail-info">
                                <span class="prop-name">{{obj.name}}</span>
                                <span class="prop-address paddingT5">{{obj.subSubName}}</span>
                                <div class="prop-detail-info">
                                    <div ng-if="obj.minprice && obj.maxprice">
                                        <i class="fa fa-rupee"></i>{{obj.minprice}} - <i class="fa fa-rupee"></i>{{obj.maxprice}}
                                    </div>                                
                                </div>
                            </div>
                        </div>
                        <div class="paddingT10 prop-appre-line-info appre-small-head-info" pt-appreciation rate="obj.avgPriceRisePercentage" time="obj.avgPriceRiseMonths" ng-if="obj.avgPriceRisePercentage"></div>
                        <div ng-if="proKey == 'Most Discussed Projects' || proKey == 'Recently Discussed Projects'"  class="proj-post-info paddingTB10">
                             <i class="fa fa-comments"></i> {{obj.subName}}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contentBoxContainer paddingT5LRB20 marginB15 relativePostion" ng-if="showGrid.locality" id="localities">
    <div class="proj-see-more-info row-fluid tabContainer" ng-if="localityFeaturedKey">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="" id="{{obj.id}}">{{localityFeaturedKey}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-info" ng-if="localityFeaturedKey">
        <div class="row-fluid paddingT5 paddingB15">
            <div class="local-popu-text-info paddingT5" ng-if="localityFeaturedKey == 'Popular Localities'">People who viewed {{areaInfo.alsoSee}} also viewed</div>
            <div class="row-four-column show_loc pull-left" ng-repeat="obj in featured.locality[ localityFeaturedKey ].data">
                <div class="proj-local-rat-info">
                    <!-- Locality Name  -->
                    <a href="/{{obj.url}}" class="loc_name" title="{{obj.name}}" ng-click="forwardflowTracking(localityFeaturedKey, obj.propertyId, 'Locality')">{{obj.name}}</a>
                    <!-- ng-if condition for Rating  /  Appreciation  /  Not Rated  STARTS -->
                    <div class="loc_rating" pt-rating ratings="obj.ratings" ng-if="obj.ratings"></div>
                    <div class="loc_distance font-weight" ng-if="obj.subName">{{obj.subName}}</div>
                    <div class="loc_appreciation appre-small-head-info" pt-appreciation rate="obj.percentRise.avgPriceRisePercentage" time="obj.percentRise.avgPriceRiseMonths" ng-if="obj.percentRise.avgPriceRisePercentage"></div>
                    <span class="pull-left not-rating-info" ng-if="localityFeaturedKey != 'Popular Localities' && !obj.ratings.averageRating && !obj.percentRise.avgPriceRisePercentage && !obj.subName">
                        <span class="pull-left">Not rated</span>
                        <i class="fa fa-exclamation-circle pull-left paddingL5" tooltip="We do not have enough verified ratings at the moment"></i>
                    </span>
                    <!-- ng-if condition for Rating  /  Appreciation  /  Not Rated  ENDS -->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" ng-if="localityFeaturedKey"></div>
    <div ng-if="displayOrder.locality.length && localityFeaturedKey">
        <div class="proj-see-link border-Top marginT10 paddingT10" ng-if="!showingData.locality">Also see <a ng-repeat="obj in displayOrder.locality" ng-click="showAlsoSee('locality', obj)" href="" id="{{sameLevel.locality[ obj ].id}}" class="marginL15">{{obj}}</a></div>
    </div>
    <div class="row-fluid" ng-class="{'marginT15':localityFeaturedKey}" ng-if="showGrid.locality && showingData.locality">
        <div class="proj-see-more-info row-fluid tabContainer">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li ng-repeat="obj in displayOrder.locality" class="{{cName.locality[ obj ]}}">
                        <a ng-click="showData('locality', obj)" id="{{sameLevel.locality[ obj ].id}}" href="">{{obj}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-info">
            <div class="row-fluid paddingT5 paddingB15">
                <div class="local-popu-text-info paddingT5" ng-if="locKey == 'Popular Localities'">People who viewed {{areaInfo.alsoSee}} also viewed</div>
                <div class="row-four-column show_loc pull-left" ng-repeat="obj in sameLevel.locality[ locKey ].data">
                    <div class="proj-local-rat-info">
                        <!-- Locality Name  -->
                        <a href="/{{obj.url}}" class="loc_name" title="{{obj.name}}" ng-click="forwardflowTracking(locKey, obj.propertyId, 'Locality')">{{obj.name}}</a>
                        <!-- ng-if condition for Rating  /  Appreciation  /  Not Rated  STARTS -->
                        <div class="loc_rating" pt-rating ratings="obj.ratings" ng-if="obj.ratings"></div>
                        <div class="loc_appreciation appre-small-head-info" pt-appreciation rate="obj.percentRise.avgPriceRisePercentage" time="obj.percentRise.avgPriceRiseMonths" ng-if="obj.percentRise.avgPriceRisePercentage"></div>
                        <span class="pull-left not-rating-info" ng-if="locKey != 'Popular Localities' && !obj.ratings.averageRating && !obj.percentRise.avgPriceRisePercentage">
                            <span class="pull-left">Not rated</span>
                            <i class="fa fa-exclamation-circle pull-left paddingL5" tooltip="We do not have enough verified ratings at the moment"></i>
                        </span>
                        <!-- ng-if condition for Rating  /  Appreciation  /  Not Rated  ENDS -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- View All Locality -->
    <h6 ng-if="showLocality" class="sub-Header openSansFamily marginT15" ng-click="forwardflowTracking(localityFeaturedKey, '', 'Locality', 'All Localities')">All Localities</h6>
    <div ng-repeat="obj in allLocality" ng-if="showLocality" class="row-four-column pull-left show_loc">
        <a ng-href="/{{obj.url}}" class="loc_name">{{obj.label}}</a>
    </div>
    <div class="clearfix"></div>
    <div ng-if="areaInfo.type != 'locality' && !hideViewMore && !hideMoreLocality" class="view-more-info">
        <div ng-click="loadMore('locality', startLocality, lRow)" class="view-detail-info">{{allLocalityText}} <i class="fa fa-chevron-down"></i></div>
    </div>

</div>
<div class="contentBoxContainer padding20 marginB15 relativePostion" ng-if="showGrid.builder" id="pbuilder">
	<div class="contentHeader">
    	<h5 ng-if="showGrid.builder">Popular Builders</h5>
    </div>
    <div class="content-info" ng-if="showGrid.builder">
        <div class="row-fluid paddingT15 paddingB15">
            <div ng-repeat="obj in sameLevel.builder[ buiKey ].data" class="row-four-column show_builder pull-left">
                <a ng-href="/{{obj.url}}" ng-click="forwardflowTracking(buiKey, obj.propertyId, 'Builder')">
                    <div class="buld-img-info">
                        <span class="image-view-info" image-block alt-text="obj.name" image-source="obj.imageUrl" TYPE="THUMBNAIL" fit="true"></span>
                    </div>
                    <div class="paddingT5 text-center build-name">{{obj.name}}</div>
                </a>
            </div>
        </div>
    </div>
    <!-- View All Builder -->
    <h6 ng-if="showBuilder" class="sub-Header openSansFamily marginTB10">All Builders</h6>
    <div ng-repeat="obj in allBuilder" ng-if="showBuilder" class="row-four-column pull-left show_builder">
        <a ng-href="/{{obj.url}}">
            <div class="buld-img-info">
                <span class="image-view-info" image-block alt-text="obj.name" image-source="obj.imageURL" TYPE="THUMBNAIL" fit="true"></span>
            </div>
            <div class="paddingT5 text-center build-name">{{obj.name}}</div>
        </a>
    </div>
    <div class="clearfix"></div>
    <div ng-if="!hideViewMore && !hideMoreBuilder" class="view-more-info marginT10">
        <div ng-click="loadMore('builder', startBuilder, bRow)">{{allBuilderText}} <i class="fa fa-chevron-down"></i></div>
    </div>
</div>