
<div class="contentBoxContainer padding20 marginB15">
	<div class="contentHeader">    	
      	<div ng-if="overview.locSubName" class="cont-text-info">About {{overview.locSubName}}</div>
        <a href="/{{projectLocality.overviewUrl}}" target="_blank" class="pull-right grayLink" ng-if="projectLocality.overviewUrl" ng-click="viewAll(review)">
            More about {{projectLocality.locSubName}}
            <i class="fa fa-chevron-right"></i>
        </a>
        </h5>  
      	<h5 ng-if="!overview.locSubName">Overview</h5>
    </div>
    <div class="content-info row-fluid paddingB15 proj-text-justify">
        <div ng-class="{'span9':overview.overview.images.length,'span12':!overview.overview.images.length}">
            <div ng-if="!hideMore">
                <span ng-bind-html="overview.overview.smallDescription" class="backContentView"></span><a ng-show="overview.overview.showLessMore" ng-click="toggleDesc('more');">more</a>
            </div>
            <div ng-if="showSemi">
                <span class="backContentView" ng-bind-html="overview.overview.semiDescription"></span><br/><a target="_blank" ng-href="/{{overview.overviewUrl}}"> More about {{projectLocality.locSubName}}</a>
            </div>
            <div ng-if="showLess">
                <span class="backContentView" ng-bind-html="overview.overview.fullDescription"></span><a ng-click="toggleDesc('less');"> less</a>
            </div>
        </div>
        <div class="span3" ng-if="overview.overview.images.length">
            <div class="over-img-info row-full pull-left">
                <div pt-overviewgallery image="overview.overview.images" gallery="overview.overview.gallery.data" moretext="overview.overview.moreImageCount"></div>
            </div>
        </div>
    </div>

    <div class="content-info row-fluid border-Top paddingT15" ng-if="overview.overview.projectCount && overview.overview.overAllAvgPrice">
        <div class="span6 border-Right proj-over-rating-info">
            <div class="project-head-info" ng-if="overview.overview.projectCount > 0">
                Total Projects <strong class="project-head-info paddingL5">{{overview.overview.projectCount}}</strong>
            </div>
            <div class="row-fluid pull-left total-rating-cont-info" ng-repeat="pType in overview.overview.projectStatusCount">
                <span class="span5">{{pType.type|uppercase}}</span>
                <rating class="span5 total-rating-box paddingT5" value="pType.projectCount * 30 / overview.overview.projectCount" max="30" readonly="true" state-on="'good-rating'" state-off="'blank-rating'"></rating> {{pType.projectCount}}
            </div>
        </div>
        <div class="span6">
            <div ng-if="overview.overview.overAllAvgPrice > 0" class="project-head-info">
                Average Price <strong class="project-head-info paddingL5">Rs. {{overview.overview.overAllAvgPrice}} / sqft</strong>
            </div>
            <div class="project-text-info paddingL20 marginT5">
                <div ng-repeat="priceObj in overview.overview.avgBHKPricePerUnitArea">{{priceObj.bhk}} <strong class="project-sub-text-info paddingL10">Rs. {{priceObj.price}} / sqft</strong></div>
            </div>
        </div>
    </div>    
</div>
