<div pt-leftwidgetcontainer class="com-link-info">
    <ul class="quickContactLink sidebarContContainer">
        <li><a href="/aboutus" ng-class="{selected:checkActive('aboutus')}" once-title="labels.common.label.ABOUT_US" once-text="labels.common.label.ABOUT_US"> </a></li>
        <li><a href="/builderpartner" ng-class="{selected:checkActive('builderpartner')}" once-title="labels.common.label.BUILDER_PARTNERS" once-text="labels.common.label.BUILDER_PARTNERS"> </a></li>
        <li><a href="/management-team" ng-class="{selected:checkActive('management-team')}" once-title="labels.common.label.MANAGEMENT_TEAM" once-text="labels.common.label.MANAGEMENT_TEAM"> </a></li>
        <li><a href="/ourservices" ng-class="{selected:checkActive('ourservices')}" once-title="labels.common.label.OUR_SERVICES" once-text="labels.common.label.OUR_SERVICES"> </a></li>
        <li><a href="/proptiger-media" ng-class="{selected:checkActive('proptiger-media')}" once-title="labels.common.label.PROP_IN_MEDIA" once-text="labels.common.label.PROP_IN_MEDIA"> </a></li>
        <li><a target="_self" once-href="labels.common.link.CAREERS" once-title="labels.common.label.CAREERS" once-text="labels.common.label.CAREERS" ng-class="{selected:checkActive('careers')}"> </a></li>
        <li><a href="/contactus" ng-class="{selected:checkActive('contactus')}" once-title="labels.common.label.CONTACT_US" once-text="labels.common.label.CONTACT_US"> </a></li>
    </ul>
</div>