<div class="breadcrum">
	<div class="row-fluid">
    	<div class="pull-left">
        	<div ng-if="bCrumText" class="pull-left bread-head-info">{{bCrumText}}</div>
            <ul class="bread-link-info pull-left row-full">
                <li ng-repeat="obj in bCrum">
                    <a ng-if="obj.link && obj.text === 'Home'" href="{{obj.link}}" ng-click="tracking(obj.text)" target="{{obj.target}}">{{obj.text}}</a>

                    <a ng-if="obj.link && obj.text !== 'Home'" href="/{{obj.link}}" ng-click="tracking(obj.text)" target="{{obj.target}}">{{obj.text}}</a>
                    

                    <span ng-if="!obj.link" href="/{{obj.link}}">{{obj.text}}</span>
                    <i class="breadArrow"></i>
                </li>
            </ul>        	
        </div>
        <div class="pull-right">
        	<div class="text-right bread-last-update">
            	<div ng-if="lastUpdate">
                	<span class="bread-head-info">Last update</span>
                	<span class="bread-update-info">{{lastUpdateToDisplay}}</span>
                </div>
            </div>
            <h1>{{seoData.h1}}</h1>
        </div>
    </div>
</div>
