<div ng-keyup="keypress($event)" tabindex="1" class="pt-carousel {{options.skin}}" >
	<div class="pt-carousel-collection" ng-style="{width: options.width+'px', height: options.height+'px'}">
    	<div ng-if="totalImages>1" class="bannerControls">
	        <div ng-click="Previous()" class="leftNav"><i class="fa fa-chevron-circle-left"></i></div>
            <div ng-click="Next()" class="rightNav"><i class="fa fa-chevron-circle-right"></i></div>
        </div>
        
        <ul class="carouselImageViewer">
			<li ng-repeat="slide in ptslides">
				<div class="pt-cont-info" ng-if="slide.visible">
					<div class="pt-cont-buil-text-info pull-left">{{slide.mainTitle}}</div>
					<div class="pt-cont-text-info clear pull-left"><span class="cont-img-info">({{currentIndex + 1}}/{{totalImages}})</span><span class="proj-desc-img-info">{{slide.text}}</span></div>
				</div>
				<!-- if slide is not vedio -->

				<div ng-if="!options.height100Proc && slide.visible" class="imagerContainer {{slide.imageClass}}" ng-style="{width: calWidth+10+'px', height: options.height+'px'}">
                	<div ng-if="isloadervisible" class="carouselLoader"><div pt-loading-block class="carouselSpin"></div></div>
                    <div ng-style="{width: calWidth+10+'px', height: options.height+'px'}" pt-draggable="{{options.ptzoomControlVisible}}" class="image-info">             		
						
						<i ng-if="slide.video" class="fa fa-play-circle cursorPointer" ng-click="expand()"></i>
						<img ng-click="expand()" class="cursorZoomIn {{slide.slideClass}}" ng-src="{{slide.largeImage}}" alt="{{slide.text}}" ng-style="{width: calWidth, height: calHeight+'px', left: calLeft, top: calTop}" bn-load="imageLoaded()">
					</div>
				</div>
				<!-- is slide is full screen and not vedio -->
				<div ng-if="options.height100Proc && slide.visible && !slide.video" class="imagerContainer {{slide.imageClass}}" ng-style="{width: calWidth+10+'px', height: options.divHeight+'px'}">
                	<div ng-if="isloadervisible" class="carouselLoader"><div pt-loading-block class="carouselSpin"></div></div>
                    <div ng-style="{width: calWidth+10+'px', height: options.divHeight+'px'}" pt-draggable="{{options.ptzoomControlVisible}}" class="image-info">        
                	        		
						<img ng-src="{{slide.largeImage}}" class="{{slide.slideClass}}" alt="{{slide.text}}" ng-style="{width: calWidth, height: calHeight+'px', left: calLeft, top: calTop}" bn-load="imageLoaded()">
					</div>
				</div>
				<!-- if slide is vedio and full screen mode -->
				<div ng-style="{ height: options.divHeight+'px'}" ng-if="options.height100Proc && slide.visible && slide.video">
					<div style="height:52px; width:100%;"></div>                                     
                                        <span pt-youtube id="{{slide.videoId}}" slide-data="slide" width="100%" height="90%"></span>
                     
                     
                </div>
				<div ng-if="options.ptzoomControlVisible && !slide.video && slide.visible" class="ptZoomInOutControls buttons">
					<button ng-click="ZoomIn()" class="zoom-in fa fa-search-plus {{isZoomIn}}"></button>
					<button ng-click="ZoomOut()" class="zoom-out fa fa-search-minus {{isZoomOut}}"></button>
					<button ng-click="ZoomReset()" class="reset fa fa-undo {{isZoomReset}}"></button>
				</div>
			</li>
		</ul>
	</div>
	<div class="pt-thums-viewer" ng-if="options.showBottomNav" >
    	<div class="photoGalleryTab">
             <ul>
                <li ng-repeat="bucket in buckets">
                    <a ng-click="SetImage(bucket.minRange)" class="{{bucket.class}}">{{bucket.name}}</a>
                </li>
            </ul>
        </div>
        <div class="pt-thums-img-gallery" ng-style="{width: carouselVisibleWidth+'px'}">
			<ul class="carouselIndicators" ng-style="{width: carouselWidth+'px'}">
				<li class="sliderTab" ng-repeat="slide in ptslides">
					<div class="thumbsHolder_ThumbOFF {{slide.thumbClass}}" ng-style="{width: options.thumbnailWidth+'px', height: options.thumbnailHeight+'px', marginRight: options.thumbnailMargin+'px'}" ng-click="SetImage($index)">
						<i ng-if="slide.video" class="fa fa-play-circle" ></i>
                        <img ng-src="{{slide.thumbImage}}" ng-style="{width: options.thumbnailWidth+'px', height: options.thumbnailHeight+'px'}">
					</div>
				</li>
			</ul>
		</div>
		<div ng-if="carouselSteps > 1">
	        <div ng-click="scrollThumbnailsRight()" class="carouselLeftNav {{leftScrollClass}}"><i class="fa fa-chevron-circle-left"></i></div>
			<div ng-click="scrollThumbnailsLeft()" class="carouselRightNav {{rightScrollClass}}"><i class="fa fa-chevron-circle-right"></i></div>
		</div>
	</div>
	<div ng-click="expand()" class="expand-btn"><i class="fa fa-expand"></i></div>	
</div>
<div style="display:none">
    <ul>
        <li ng-repeat="item in ptslides">
            <img ng-if="$index == currentIndex+1" ng-src="{{item.largeImage}}" />            
        </li>
    </ul>
</div>
