<div ng-if="project" class="relativePostion">
    <div class="btn-close pull-left" ng-click="remove(project.projectId)">
        <i class="fa fa-times"></i>
    </div>
    <div class="prop-image relativePostion" ng-click="goToProjectPage()">
    	<img class="prop-image" ng-src="{{project.imageURL}}" >
        <div class="comp-prop-detail">
            <div class="proj-name" ng-class="{'dontDisplay':!project.builder.name, 'showStuff':project.builder.name}">{{project.builder.name}} </div>
            <div class="proj-name textWrap" ng-class="{'dontDisplay':!project.name, 'showStuff':project.name}" title="{{project.name}}">{{project.name}}</div>         
            <div class="proj-address row-fluid">
                <span class="pull-left span10" ng-class="{'dontDisplay':!project.locality.label, 'showStuff':project.locality.label}">
                    {{project.locality.label}}</span>
                <span ng-class="{'dontDisplay':!projectDetails.Id, 'showStuff':projectDetails.Id}" pt-favorite caller='callerLocation' project-id="project.projectId" class="pull-left paddingL10"></span>
            </div>                        
        </div>
        <div class="proj-gray-info"></div>
    </div>
    <div class="comp-proj-data">
    	<div pt-appreciation 
             rate="project.avgPriceRisePercentage" 
             time="project.avgPriceRiseMonths" 
             class="comp-price-trend pull-left" ng-if="project.avgPriceRisePercentage">
        </div>
        <div ng-if="!project.avgPriceRisePercentage" class="comp-price-trend">
            -
        </div>


        <div class="comp-proj-content comp-rowbg" ng-class="{'comp-hide':!project.projectStatus, 'comp-show':project.projectStatus}">
            {{project.projectStatus}}
        </div>
        <div class="comp-proj-content" ng-class="{'comp-hide':!project.launchDate, 'comp-show':project.launchDate}"> 
            {{project.launchDate | dateFormat}} 
        </div>
        <div class="comp-proj-content comp-rowbg" ng-class="{'comp-hide':!project.possessionDate, 'comp-show':project.possessionDate}">
            {{project.possessionDate | dateFormat }}
        </div>
        <div class="comp-proj-content" ng-class="{'comp-hide':!project.offerHeading, 'comp-show':project.offerHeading}"> 
            {{project.offerHeading}} 
        </div>
    </div>
    <div class="comp-proj-type-data">

        <span ng-if = "project.properties && project.properties.length">

        	<select ng-model="project.currentProperty" ng-options="property.compareLabel for property in project.properties" ng-if="!project.hasOnlyPlots" ng-disabled="project.properties.length == 1">
                  <option value=""> {{project.distinctBedrooms | joinArray}} BHK </option>
            </select>

            <select ng-model="project.currentProperty" ng-options="property.compareLabel for property in project.properties" ng-if="project.hasOnlyPlots" ng-disabled="project.properties.length == 1">
                  <option value=""> Plot </option>
            </select>
                  
                            
            <div ng-if="!project.currentProperty" class="comp-proj-text">
                <div class="comp-proj-content comp-rowbg" pt-shallow-range property-name="Bathrooms" base-object="project"> </div>
                <div class="comp-proj-content">
                	<div class="pull-left" pt-shallow-range 
                        property-name="Size" 
                        base-object="project"
                        unit="project.propertySizeMeasure"
                        open-lead-form = "openLeadForm">
                    </div>
                </div>
                <div class="comp-proj-content comp-rowbg" >
                        <span ng-if="project.minPricePerUnitArea">
                	       <i class="fa fa-rupee pull-left paddingT3"></i>
                        </span>
                    <div class="pull-left" pt-shallow-range 
                        property-name="PricePerUnitArea" 
                        base-object="project" 
                        unit="project.propertySizeMeasure">
                    </div> 							
                </div> 
                <div class="comp-proj-content">
                    <span ng-if="project.properties[0].budget">
                        {{project.properties[0].budget | formatPrice}} 
                    </span>
                    <span ng-if="!project.properties[0].budget">
                        <a ng-click="openLeadForm($event, 'newPrice','hidden-pricerequest-listing')">Price On Request</a>
                    </span>
                </div>
                <div class="comp-proj-img comp-proj-text"  align="center" tooltip="Click to view Floor Plan" ng-if="project.properties[0].images[0].absolutePath"> 
                    <div class="comp-img-info" image-block image-source="project.properties[0].images[0].absolutePath" TYPE="MOBILE_1"  allow-modal="true"></div>
                </div>

                <div class="comp-proj-img comp-proj-text"  align="center" ng-if="!project.properties[0].images[0].absolutePath" > 
                    <div class="comp-img-info" image-block image-source="project.properties[0].images[0].absolutePath" TYPE="MOBILE_1"  allow-modal="true"></div>
                </div>


            </div>
            <div ng-if="project.currentProperty" class="comp-proj-text">
                <div class="comp-proj-content comp-rowbg"> 
                    {{project.currentProperty.compareBathroomsLabel}} 
                </div>
                <div class="comp-proj-content">
                    <span ng-if="project.currentProperty.size && project.currentProperty.size != 'NA'">
                        {{project.currentProperty.size}} {{project.propertySizeMeasure}}
                    </span>
                    <span ng-if="!project.currentProperty.size || project.currentProperty.size == 'NA'">
                        <a ng-click="openLeadForm($event, 'size', 'hidden-sizerequest-listing', project.currentProperty)">Size On Request</a>
                    </span>
                </div>
                <div class="comp-proj-content comp-rowbg">
                    <span ng-if="project.currentProperty.pricePerUnitArea">
                        <i class="fa fa-rupee paddingT3"></i> {{project.currentProperty.pricePerUnitArea}} {{project.propertySizeMeasure}} 
                    </span>
                    <span ng-if="!project.currentProperty.pricePerUnitArea">
                        -
                    </span>
                </div>
                <div class="comp-proj-content" >
                    <span ng-if="project.currentProperty.budget">
                        {{project.currentProperty.budget | formatPrice}} 
                    </span>
                    <span ng-if="!project.currentProperty.budget">
                        <a ng-click="openLeadForm($event, 'newPrice','hidden-pricerequest-listing', project.currentProperty)">Price On Request</a>
                    </span>
                </div> 
                

                <div class="comp-proj-img comp-proj-text" align="center" tooltip="Click to view Floor Plan" ng-if="project.currentProperty.images[0].absolutePath"> 
                    <span image-block image-source="project.currentProperty.images[0].absolutePath" type="MOBILE_1" allow-modal="true"></span>
                </div>

                <div class="comp-proj-img comp-proj-text" align="center" ng-if="!project.currentProperty.images[0].absolutePath"> 
                    <span image-block image-source="project.currentProperty.images[0].absolutePath" type="MOBILE_1" allow-modal="true"></span>
                </div>


            </div>
        </span>
        <span ng-if="!project.properties || !project.properties.length">
            No properties available
        </span>   
    </div>
    <div class="comp-proj-ratting-data">
    	<div class="comp-proj-text">
            <div class="comp-proj-content" ng-class="{'dontDisplay':!project.name, 'showStuff':project.name}">
                {{project.locality.label}}
            </div>
            <div class=" pull-left paddingL15" ng-if="!project.locality.ratings.averageRating">
                -
            </div>
            <div pt-rating ratings="project.locality.ratings" ng-if="project.locality.ratings.averageRating" class="pull-left paddingL15 showStuff"></div>
        </div>
    </div>
    <div class="comp-proj-amenity-data">
    	<div class="stat-block" ng-repeat="(amenity,count) in project.locality.amenityTypeCount"> 
            <div class="comp-proj-amenity-content">
            	<span>{{amenity | _lessCaps}}</span>
            	<span class="paddingL5">{{count}}</span>
            </div>
        </div>
    </div>
</div>
<div ng-if="!project">
    <div class="comp-project-block">
        <span pt-loading-block loading-object='project'></span>
    </div>
</div>
