<div class="content-info" ng-if="description.length">
	<span class="backContentView" ng-bind-html="mDescription"></span>
	<span ng-if="description.length <= shortLength && link">
		... <br />
		<a  href="{{link}}" class="cursorPointer" ng-click="projectCustomTracking('overlay','clicked', callertype,callerid,'View more about');" target='_blank'> 	
			 View more about {{label}}
		</a>
	</span>
	<span ng-if="description.length > shortLength && mDescription.length <= shortLength">
		<a ng-if="largeLength" class="cursorPointer" ng-click='showMore()' target='_blank'>
			... more
		</a>
		<span ng-if="!largeLength && link">
			... <br />
			<a  href="{{link}}" class="cursorPointer" ng-click="projectCustomTracking('overlay','clicked', callertype,callerid,'View more about');" target='_blank'>
				View more about {{label}}
			</a>	
		</span>
	</span>
	<span ng-if="description.length > shortLength && mDescription.length > shortLength && link && description.length > mDescription.length">
		... <br />
		<a  ng-if="!descModal" href="{{link}}" class="cursorPointer" ng-click="projectCustomTracking('overlay','clicked', callertype,callerid,'View more about');" target='_blank'>
			View more about {{label}}
		</a>
		<a  ng-if="descModal" class="cursorPointer" target='_blank' data-toggle="modal" data-target="#descModal">
			View more about {{label}}
		</a>
	</span>
</div>

<div class="modal fade" id="descModal" ng-if="descModal" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="closeBtn" data-dismiss="modal" aria-hidden="true" >
            <i class="fa fa-times"></i>
        </div>
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <h5 class="modal-title" id="myModalLabel">About {{label}}</h5>
      </div>
      <div class="modal-body backContentView" ng-bind-html="description"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
