<div class="contentBoxContainer padding20 marginB15" >
	<div class="contentHeader">
    	<h5>Discuss this project</h5>
    </div>
    <div id="my-comment" class="ec-comment-pane" >
    	<div id="ec-page">
            <div class='ec-total' ng-if="discussions.data.length == 0">
                Be the first person to leave a comment
            </div>
            <div class="ec-comment-info">
	      <div ng-if="discussions.count > 5">
		<div id="paging_discussion">
		  <!-- Showing {{ pg.from+1 }} - {{ pg.to }} of {{ discussions.count }} -->		  
		  <!-- <a ng-click="prevPage()" ng-show="pg.pageno > 0" ng-disabled="fetching"> Prev </a> -->
		  <!-- <a ng-click="nextPage()" ng-show="pg.to < discussions.count" ng-disabled="fetching"> Next </a> -->
		</div>
	      </div>
            	<div class="ec-comment-form">
                    <legend class="title">Leave your comment here</legend>
                    <textarea class="ec-comment-area" pt-placeholder="Share your comments to help buyers make better choices and plan their dream home" ng-model="postComment" ></textarea>
                    <div class="text-left">
                        <span class="val_error">{{errorValidate}}</span>
                    </div>
                    <div class="text-right"><button name="submit" class="btn-primary small-btn" ng-click="Submit(postComment)">Submit</button></div>
                </div>
            	<div ng-if="discussions.data.length">                					
                    <ul class="ec-comment-list">
                        <li class="ec-comment" ng-repeat="discussion in discussions.data" ng-include="'views/directives/common/discussions_renderer.html'">
                        </li>
                    </ul>
                    <legend class="title ec-page-info">
                    	<div class="pull-right">
                        	<button ng-click="prevPage()" ng-disabled="fetching || pg.pageno == 0" class="pull-left prev-btn"> Previous </button>
                      		<button ng-click="nextPage()" ng-disabled="fetching || pg.to >= discussions.count" class="pull-left marginL10 next-btn"> Next </button>
                        </div>
                    </legend>				
                </div>
            </div>
        </div>
    </div>    
</div>