<div class="page-footer">
<div ng-if="false">
  <div class="seo-footer" ng-show="city || showSeoFooter">
    <div class="footer-cont-info row-fluid">
      <h2 ng-show="seoData.footertext && showSeoFooter">{{seoData.h2}}</h2>
      <div ng-show="seoData.footertext && showSeoFooter" class="backContentView" ng-bind-html="seoData.footertext">
      </div> 
    
 <div ng-show="(isOverview || isListing) && seoData.footer && !builderId">
  <div class="row-fluid footer-prop-link" ng-if="seoData.footer.unittype">
    <div ng-if="seoData.footer.unittype.apartment.length > 0">
          <span class="font-weight">Apartments</span>
          <a ng-repeat="item in seoData.footer.unittype.apartment" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Unit Type');"> {{ item.label }} </a>
    </div>
    <div ng-if="seoData.footer.unittype.villa.length > 0">
          <span class="font-weight">Villas</span>
          <a ng-repeat="item in seoData.footer.unittype.villa" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Unit Type');"> {{ item.label }} </a>
    </div>
        
  </div> 
  <div class="row-fluid footer-prop-link" ng-if="seoData.footer.mostsearch">
          <span class="font-weight"> Most Searched</span>          
          <a ng-href="{{seoData.footer.mostsearch.url}}" ng-click="footersTracking('footer','clicked','Most Searched');"> {{seoData.footer.mostsearch.label}} </a>         
  </div>   
  <div class="row-fluid footer-prop-link" ng-if="seoData.footer.upcoming.length > 0">
          <span class="font-weight"> Upcoming Projects</span>          
          <a ng-repeat="item in seoData.footer.upcoming" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Upcoming Projects');"> {{ item.label }} </a>    
  </div>
  <div class="row-fluid footer-prop-link" ng-if="seoData.footer.budgetbased.length > 0">
          <span class="font-weight"> Budget Based Projects</span>          
          <a ng-repeat="item in seoData.footer.budgetbased" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Budget Based Projects');"> {{ item.label }} </a>    
  </div>
  <div class="row-fluid footer-prop-link" ng-if="seoData.footer.resale">
          <span class="font-weight"> Resale Projects</span>          
          <a ng-repeat="item in seoData.footer.resale" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Resale Projects');"> {{ item.label }} </a>    
  </div>
 </div>  

  <div ng-show="isBuilder && seoData.footer">
      <div class="row-fluid footer-prop-link" ng-if="seoData.footer.othercity.length > 0">
        <span class="font-weight"> Other Cities</span>          
        <a ng-repeat="item in seoData.footer.othercity" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Other Cities');"> {{ item.label }} </a>
      </div>

      <div class="row-fluid footer-prop-link" ng-if="seoData.footer.propertystatus.length > 0">
        <span class="font-weight"> Projects by Property Status</span>          
        <a ng-repeat="item in seoData.footer.propertystatus" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Projects by Property Status');"> {{ item.label }} </a>
      </div>

      <div class="row-fluid footer-prop-link" ng-if="seoData.footer.otherbuilder.length > 0">
        <span class="font-weight"> Other Builders Across India</span>          
        <a ng-repeat="item in seoData.footer.otherbuilder" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Other Builders Across India');"> {{ item.label }} </a>
      </div>

       <div class="row-fluid footer-prop-link" ng-if="seoData.footer.locality.length > 0">
        <span class="font-weight"> {{Builder}} Projects in Localities</span>          
        <a ng-repeat="item in seoData.footer.locality" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Builders Projects in Localities');"> {{ item.label }} </a>
      </div>

      <div class="row-fluid footer-prop-link" ng-if="seoData.footer.suburb.length > 0">
        <span class="font-weight"> {{Builder}} Projects in Popular Areas</span>          
        <a ng-repeat="item in seoData.footer.suburb" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Builders Projects in Popular Areas');"> {{ item.label }} </a>
      </div> 
   </div>

   <div ng-show="isBuilderCity && seoData.footer">
      <div class="row-fluid footer-prop-link" ng-if="seoData.footer.othercity.length > 0">
        <span class="font-weight"> Other Cities</span>          
        <a ng-repeat="item in seoData.footer.othercity" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Other Cities');"> {{ item.label }} </a>
      </div>

      <div class="row-fluid footer-prop-link" ng-if="seoData.footer.propertystatus.length > 0">
        <span class="font-weight"> Projects by Property Status</span>          
        <a ng-repeat="item in seoData.footer.propertystatus" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Projects by Property Status');"> {{ item.label }} </a>
      </div>

       <div class="row-fluid footer-prop-link" ng-if="seoData.footer.locality.length > 0">
        <span class="font-weight"> {{Builder}} Projects in Localities</span>          
        <a ng-repeat="item in seoData.footer.locality" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Builders Projects in Localities');"> {{ item.label }} </a>
      </div>

      <div class="row-fluid footer-prop-link" ng-if="seoData.footer.suburb.length > 0">
        <span class="font-weight"> {{Builder}} Projects in Popular Areas</span>          
        <a ng-repeat="item in seoData.footer.suburb" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Builders Projects in Popular Areas');"> {{ item.label }} </a>
      </div>  

   </div>       
   <div ng-show="isProjectDetail && seoData.footer">     
     <div class="row-fluid footer-prop-link" ng-if="seoData.footer.subrub.length > 0">
        <span class="font-weight"> Suburbs in {{City}} </span>          
        <a ng-repeat="item in seoData.footer.subrub" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Suburbs in Project');"> {{ item.label }} </a>
    </div>
    <div class="row-fluid footer-prop-link" ng-if="seoData.footer.locality.length > 0">
        <span class="font-weight"> Localities in {{City}} </span>          
        <a ng-repeat="item in seoData.footer.locality" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Localities in Project');"> {{ item.label }} </a>
    </div>
    <div class="row-fluid footer-prop-link" ng-if="seoData.footer.builder.length > 0">
        <span class="font-weight"> Builders in {{City}} </span>          
        <a ng-repeat="item in seoData.footer.builder" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Builders in Project');"> {{ item.label }} </a>
    </div>
    <div class="row-fluid footer-prop-link" ng-if="seoData.footer.unittype_locality.length > 0">
        <span class="font-weight"> Unit type by {{Locality}} </span>          
        <a ng-repeat="item in seoData.footer.unittype_locality" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Unittype Locality in Project');"> {{ item.label }} </a>
    </div>
    <div class="row-fluid footer-prop-link" ng-if="seoData.footer.unittype_builder.length > 0">
        <span class="font-weight"> Unit type by {{Builder}} </span>          
        <a ng-repeat="item in seoData.footer.unittype_builder" ng-href="{{item.url}}" ng-click="footersTracking('footer','clicked','Unittype Locality in Project');"> {{ item.label }} </a>
    </div>

   </div>

  </div>
  </div>
</div>
  <div class="footer-container row-fluid">      
    <div class="span8 corporateLink">
      <div class="span2">
        <ul>
          <li class="suHeading">{{labels.common.label.QUICK_LINKS}}</li>
          <li><a ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" once-href="labels.common.link.HOME" target="_self" once-title="labels.common.label.HOME" once-text="labels.common.label.HOME"></a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" href="/aboutus" once-title="labels.common.label.ABOUT_US" once-text="labels.common.label.ABOUT_US"></a></li>
          <li><a target="_self" ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" once-href="labels.common.link.CAREERS" once-title="labels.common.label.CAREERS" once-text="labels.common.label.CAREERS"></a></li>
          <li><a target="_self" ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" once-href="labels.common.link.OUR_BLOG" once-title="labels.common.label.OUR_BLOG" once-text="labels.common.label.OUR_BLOG"></a></li>
          <li><a target="_self" ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" once-href="labels.common.link.NEWS" once-title="labels.common.label.NEWS" once-text="labels.common.label.NEWS"></a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" href="/contactus" once-title="labels.common.label.CONTACT_US" once-text="labels.common.label.CONTACT_US"></a></li>
          <li><a target="_self" ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" once-href="labels.common.link.SITE_MAP" once-title="labels.common.label.SITE_MAP" once-text="labels.common.label.SITE_MAP"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" href="/user-agreement" once-title="labels.common.label.USER_AGREEMENT" once-text="labels.common.label.USER_AGREEMENT"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" href="/disclaimer" once-title="labels.common.label.DISCLAIMER" once-text="labels.common.label.DISCLAIMER"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.common.label.QUICK_LINKS);" href="/privacy-policy" once-title="labels.common.label.PRIVACY_POLICY" once-text="labels.common.label.PRIVACY_POLICY"> </a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li class="suHeading">{{labels.footer.label.BUILDERS}}</li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.DLF" once-title="labels.footer.label.DLF" once-text="labels.footer.label.DLF"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.UNITECH_GROUP" once-title="labels.footer.label.UNITECH_GROUP" once-text="labels.footer.label.UNITECH_GROUP"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.VATIKA_GROUP" once-title="labels.footer.label.VATIKA_GROUP" once-text="labels.footer.label.VATIKA_GROUP"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.EMAAR_MGF" once-title="labels.footer.label.EMAAR_MGF" once-text="labels.footer.label.EMAAR_MGF"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.RAMPRASTHA_GROUP" once-title="labels.footer.label.RAMPRASTHA_GROUP" once-text="labels.footer.label.RAMPRASTHA_GROUP"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.ELDECO_GROUP" once-title="labels.footer.label.ELDECO_GROUP" once-text="labels.footer.label.ELDECO_GROUP"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.3C_GROUP" once-title="labels.footer.label.3C_GROUP" once-text="labels.footer.label.3C_GROUP"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.AMRAPALI" once-title="labels.footer.label.AMRAPALI" once-text="labels.footer.label.AMRAPALI"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.INDIABULLS" once-title="labels.footer.label.INDIABULLS" once-text="labels.footer.label.INDIABULLS"> </a></li>
          <li><a target="_self" ng-click="footersTracking('footer','clicked', labels.footer.label.BUILDERS);" once-href="labels.footer.link.ALL_BUILDERS" once-title="labels.footer.label.ALL_BUILDERS" once-text="labels.footer.label.ALL_BUILDERS" class="font-weight"> </a></li>
        </ul>
      </div>
      <div class="span3">
        <ul>
          <li class="suHeading">{{labels.footer.label.PROP_IN_INDIA}}</li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_GURGAON" once-title="labels.footer.label.PROP_IN_GURGAON" once-text="labels.footer.label.PROP_IN_GURGAON"> </a></li>
          <li><a ng-click="footersTracking('footer', 'clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_NOIDA" once-title="labels.footer.label.PROP_IN_NOIDA" once-text="labels.footer.label.PROP_IN_NOIDA"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_GHAZIABAD" once-title="labels.footer.label.PROP_IN_GHAZIABAD" once-text="labels.footer.label.PROP_IN_GHAZIABAD"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_DELHI" once-title="labels.footer.label.PROP_IN_DELHI" once-text="labels.footer.label.PROP_IN_DELHI"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIAI);" once-href="labels.footer.link.PROP_IN_MUMBAI" once-title="labels.footer.label.PROP_IN_MUMBAI" once-text="labels.footer.label.PROP_IN_MUMBAI"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_PUNE" once-title="labels.footer.label.PROP_IN_PUNE" once-text="labels.footer.label.PROP_IN_PUNE"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_BANGALORE" once-title="labels.footer.label.PROP_IN_BANGALORE" once-text="labels.footer.label.PROP_IN_BANGALORE"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_CHENNAI" once-title="labels.footer.label.PROP_IN_CHENNAI" once-text="labels.footer.label.PROP_IN_CHENNAI"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.PROP_IN_AHMEDABAD" once-title="labels.footer.label.PROP_IN_AHMEDABAD" once-text="labels.footer.label.PROP_IN_AHMEDABAD"> </a></li>                
          <li><a target="_self" ng-click="footersTracking('footer','clicked',labels.footer.label.PROP_IN_INDIA);" once-href="labels.footer.link.ALL_CITIES" once-title="labels.footer.label.ALL_CITIES" once-text="labels.footer.label.ALL_CITIES" class="font-weight"> </a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li class="suHeading">{{labels.footer.label.RESOURCES}}</li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.RESOURCES);" once-href="labels.common.link.HOME_LOAN" once-title="labels.common.label.HOME_LOAN" once-text="labels.common.label.HOME_LOAN"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.RESOURCES);" once-href="labels.common.link.NRI_SERVICES" once-title="labels.common.label.NRI_SERVICES" once-text="labels.common.label.NRI_SERVICES"> </a></li>
          <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.RESOURCES);" once-href="labels.footer.link.HOW_TO_BUY" once-title="labels.footer.label.HOW_TO_BUY" once-text="labels.footer.label.HOW_TO_BUY"> </a></li>
          <li><a target="_self" ng-show="city" ng-href="{{site_map_link}}" ng-click="footersTracking('footer','clicked', labels.footer.label.RESOURCES);" title="{{site_map_label}}"> {{site_map_label}} </a></li>
          <li><a target="_self" ng-show="city" ng-href="{{resale_link}}" ng-click="footersTracking('footer','clicked', labels.footer.label.RESOURCES);" title="{{resale_label}}"> {{resale_label}} </a></li>
        </ul>
      </div>
      <div class="span3" ng-if="nonIndiaLevel">      
        <ul>
          <li class="suHeading" once-text="labels.footer.label.PROPERTY_TYPE"> </li>
        <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROPERTY_TYPE);" once-href="labels.footer.link.APARTMENTS_SALE" once-title="labels.footer.label.APARTMENTS_SALE" once-text="labels.footer.label.APARTMENTS_SALE"> </a></li>
        <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROPERTY_TYPE);" once-href="labels.footer.link.PROPERTY_SALE" once-title="labels.footer.label.PROPERTY_SALE" once-text="labels.footer.label.PROPERTY_SALE"> </a></li>
        <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROPERTY_TYPE);" once-href="labels.footer.link.VILLAS_SALE" once-title="labels.footer.label.VILLAS_SALE" once-text="labels.footer.label.VILLAS_SALE"> </a></li>
        <li><a ng-click="footersTracking('footer','clicked',labels.footer.label.PROPERTY_TYPE);" once-href="labels.footer.link.PLOTS_SALE" once-title="labels.footer.label.PLOTS_SALE" once-text="labels.footer.label.PLOTS_SALE"> </a></li>
          <!--<li><a href="" once-title="labels.footer.label.TOWNSHIPS}}">{{labels.footer.label.TOWNSHIPS}}</a></li>-->
        </ul>
      </div>
      <div class="span3" ng-if="!nonIndiaLevel && urlData.propertyType !== 'Plot'">
        <ul>
          <li class="suHeading"> Unit Type </li>
          <li><a ng-href="{{ propertyTypeRoot }}/1bhk"> 1BHK {{ propertyTypeLabel }} in India </a></li>
          <li><a ng-href="{{ propertyTypeRoot }}/2bhk"> 2BHK {{ propertyTypeLabel }} in India </a></li>
          <li><a ng-href="{{ propertyTypeRoot }}/3bhk"> 3BHK {{ propertyTypeLabel }} in India </a></li>
          <li><a ng-href="{{ propertyTypeRoot }}/4bhk"> 4BHK {{ propertyTypeLabel }} in India </a></li>
          <li><a ng-href="{{ propertyTypeRoot }}/5bhk"> 5BHK {{ propertyTypeLabel }} in India </a></li>
        </ul>
      </div>
    </div>
    
    
    <div class="span4">
    	<div class="footerLeadInfo" pt-enquireform city-enabled="cEnabled" locality-enabled="lEnabled" data-initial="leadData"></div>
        <div class="row-fluid footerContactDetail">
          <div class="footerCallDetail">
              <div class="pull-left suHeading">Call us at</div>
              <div class="dropdown pull-left marginL10">
                <a href="">
                  <i class="{{defHeaderPhone.class}}"></i>
                  +{{defHeaderPhone.number}}
                  <i class="caret"></i>
                </a>
                <ul class="dropdownlist">
                  <li ng-repeat="phone in headerPhone">
                    <a href="" ng-click="updateHeaderPhone(phone)">
                      <i class="{{phone.class}}"></i> +{{phone.number}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footerCallDetail">
              <span class="pull-left suHeading">Visit us</span>               
              <span class="pull-left officeDetail marginL10">D-12, Ist Floor, Sector 3, Noida 201301</span>
            </div>
            <div class="regionalOfficeDetail"><a href="/contactus">View all regional offices</a></div>          
        </div>
    </div>
    
    
    
    
  </div>
  <!-- Start Copyright Area -->
  <div class="row-fluid copyright">
    <div class="copy-container">
      <div class="span6 col-followUs">
        <div class="pull-left marginT7">{{labels.footer.label.FOLLOW_US}}</div>
        <ul class="pull-left">
          <li><a target="_blank" ng-click="footersTracking('social','follow','Facebook','social');" href="http://www.facebook.com/proptiger" class="icons-fb-icon" title="Follow Proptiger on Facebook">&nbsp;</a></li>
          <li><a target="_blank" ng-click="footersTracking('social','follow','Twitter','social');" href="http://www.twitter.com/proptiger" class="icons-twitter-icon" title="Follow Proptiger on Twitter">&nbsp;</a></li>
          <li><a target="_blank" ng-click="footersTracking('social','follow','Linkedin','social')" href="http://in.linkedin.com/in/proptiger" class="icons-linkedin-icon" title="Follow Proptiger on LinkedIn">&nbsp;</a></li>
          <li><a target="_blank" ng-click="footersTracking('social','follow','Youtube','social')" href="http://www.youtube.com/proptiger" class="icons-youtube-icon" title="Follow Proptiger on YouTube">&nbsp;</a></li>
        </ul>
      </div>
      <div class="span6">
        <div class="paddingT5 text-right">Copyright &copy; 2013 <a id="copyRight" href="http://www.proptiger.com/"> proptiger.com</a> | All Rights Reserved.</div>
      </div>
    </div>
  </div>
  <!-- End Copyright Area -->

</div>