<div class="img-cont-info" ng-class="{'img-buil-view-info' : fit, 'img-top-info' : fitop}">
    <div class="big-img-info">
        <div class="img-crop-info">
           <img class="buil-img" 
                alt="{{altText}}"
                ng-class="{'image-hide':!imageLoaded, 'image-show':imageLoaded}"  
                ng-click="invokeModal()"
            ></img>
 <div pt-loading-block loading-object="imageLoaded"></div>
        </div>
    </div>
</div>
<div class="buil-prop-local-info" ng-if="projectData">
  <div class="prop-name" tooltip="{{projectData.name}}" ng-if="projectData.name">{{projectData.name}}</div>
  <div class="prop-address">{{projectData.locality.label}}, {{projectData.locality.suburb.city.label}}</div>
  <div pt-shallow-range property-name="ResaleOrPrimaryPrice" base-object="projectData" type='price'> </div>
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none"  ng-if="allowModal">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="closeBtn" data-dismiss="modal" aria-hidden="true" >
            <i class="fa fa-times"></i>
      </div>
      <div class="modal-header text-left">
        <h5 class="modal-title" id="myModalLabel">Floor Plan</h5>
      </div>
      <div class="modal-body">
        <img ng-src="{{imageSource}}" style="height:400px"></img>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
