<div class="contentBoxContainer padding20 marginB15" ng-if="showWidget" id="price_trends">
    <div class="contentHeader">
        <h5>
            {{fsWidgetName}}
        </h5>
    </div>
    <div class="widgeteDetailContainer">
        <div ng-if="singleTrend">
            <div pt-widgetchart widget-data="trend"></div>
        </div>

        <div class="proj-see-more-info row-fluid tabContainer">
            <div ng-if="!showLink.global && singleTrend">
                <div class="contentHeader">
                    <h5>{{areainfo.data.locSubName}} Trends</h5>
                </div>                   
                <div class="row-fluid">
                    <a ng-if="showCountSize" class="{{showLink.showCountSizeClass}}" ng-click="focusG();showGraph('showCountSize');" href="">Price Ranges</a>
                    <a ng-if="showBedPrice" class="{{showLink.showBedPriceClass}} paddingL15" ng-click="focusG();showGraph('showBedPrice');" href="">Average Budget</a>
                    <a ng-if="showComparision" class="{{showLink.showComparisionClass}} paddingL15" ng-click="focusG();showGraph('showComparision');" href="">Price Comparison</a>
                    <a ng-if="showCountStatus" class="{{showLink.showCountStatusClass}} paddingL15" ng-click="focusG();showGraph('showCountStatus');" href="">Construction Profile</a>
                    <a ng-if="showDemandBarGraph" class="{{showLink.showDemandBarGraphClass}} paddingL15" ng-click="focusG();showGraph('showDemandBarGraph');" href="">Demand Comparison</a>
                </div>
            </div>
            <div class="tabbable" ng-if="showLink.global" id="subgraph">
                <div class="contentHeader">
                    <h5>{{areainfo.data.locSubName}} Trends</h5>
                </div>
                <ul class="nav nav-tabs">
                    <li ng-if="showCountSize" class="{{showLink.showCountSizeClass}}"><a ng-click="showGraph('showCountSize', 'Price Ranges');focusG();" href="">Price Ranges</a></li>
                    <li ng-if="showBedPrice" class="{{showLink.showBedPriceClass}}"><a ng-click="showGraph('showBedPrice', 'Average Budget');focusG();" href="">Average Budget</a></li>
                    <li ng-if="showComparision" class="{{showLink.showComparisionClass}}"><a ng-click="showGraph('showComparision', 'Price Comparision');focusG();" href="">Price Comparison</a></li>
                    <li ng-if="showCountStatus" class="{{showLink.showCountStatusClass}}"><a ng-click="showGraph('showCountStatus', 'Construction Profile');focusG();" href="">Construction Profile</a></li>
                    <li ng-if="showDemandBarGraph" class="{{showLink.showDemandBarGraphClass}}"><a ng-click="showGraph('showDemandBarGraph', 'Demand Comparison');focusG();" href="">Demand Comparison</a></li>
                </ul>
            </div>
        </div>
        <div pt-widgetchart widget-data="countSize" ng-if="showLink.showCountSize"></div>
        <div pt-widgetchart widget-data="bedPrice" ng-if="showLink.showBedPrice"></div>
        <div pt-widgetchart widget-data="barTrend" ng-if="showLink.showComparision"></div>
        <div pt-widgetchart widget-data="countStatus" ng-if="showLink.showCountStatus"></div>
        <div pt-widgetchart widget-data="demandBarGraph" ng-if="showLink.showDemandBarGraph"></div>
     </div>
</div>
