<div class="searchBar">
	<div class="row-fluid searchFilter" style="display:block;">			
        	<ul class="nav pull-left">
                <li>
                    <div class="input-append searchBox">
                        <input type="text" 
                                ng-model="selValue"
                                ng-keypress="formFill()" 
                                typeahead="result.displayText for result in searchSuggestions($viewValue) | limitTo:8" 
                                typeahead-template-url="views/static/searchTypeAhead.html"
                                typeahead-on-select="searchOptionSelected($item, $model, $label)"
                                typeahead-input-formatter="$model = ''" pt-placeholder="Enter a locality or project" ng-class="validateInputClass"/>
                        <button type="button" ng-click="setDefaultSort()" class="btn btn-small search-bg"><i class="fa fa-search"></i></button>
                    </div>
                </li>
            </ul>
            <ul class="nav pull-left" ng-controller="filterCtrl" ng-show="showFilters">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-btn">
                    	<b ng-if="filters.bed.selected.length != 0">{{getAppliedFilters('bed')}} Bed(s) <i class="caret"></i></b>
                        <span ng-if="filters.bed.selected.length == 0">Bed(s) <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-content">
                        <li class="bed-filter">
                            <div pt-multiselect data="filters.bed.data" selected="filters.bed.selection" name="bed" update-filter="updateFilter(filter='bed', fetch='true', data)" any="false"> 
                                <button class="btn btn-mini clearFilter" ng-click="clearBed()">CLEAR</button>
                            </div>
                        </li>
                   </ul>
                </li> 
                <li class="dropdown">
                    <a href="javascript:void(0)" ng-if="filters.budget.selection[0] && filters.budget.selection[1]" class="dropdown-btn">
                        <b ng-if="filters.budget.selection[0] != filters.budget.data[0] || filters.budget.selection[1] != filters.budget.data[1]"><i class="fa fa-inr"></i>{{ filters.budget.selection[0] | priceFormat }} - &nbsp;<i class="fa fa-inr"></i>{{ filters.budget.selection[1] | priceFormat }}</b>
                        <span ng-if="filters.budget.selection[0] == filters.budget.data[0] && filters.budget.selection[1] == filters.budget.data[1]">Budget</span>
                        <i class="caret"></i></a>
    
                    <ul class="dropdown-content filter-budget">
                        <li>
                        <i class="fa fa-inr"></i><span class="budget-min-size">{{ filters.budget.selection[0] | priceFormat }}</span>
                            <div class="filter-slider" pt-rangeslider range="filters.budget.data" selected="filters.budget.selection" name="budget" update-filter="updateFilter(filter='budget', fetch='true', data)"></div>
                        <i class="fa fa-inr"></i><span class="budget-max-size">{{ filters.budget.selection[1] | priceFormat }}</span>
                        </li>
                    </ul>
                </li> 
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-btn">
                        <b ng-if="displaySettings.appliedMoreFilter">More ({{displaySettings.appliedMoreFilter}})</b>
                    	<span ng-if="!displaySettings.appliedMoreFilter">More </span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-content filter-more">
                        <li>
                            <div class="more-filter-blk propertyType-filter">
                                <label>Property Type</label>
                                <div class="proptype-filter" pt-multiselect data="filters.propertyType.data" name="propertyType" selected="filters.propertyType.selection" update-filter="updateFilter(filter='propertyType', fetch='true', data)" any="false">
                                </div>
                            </div>
                            <div class="more-filter-blk bath-filter">
                                <label>Baths</label>
                                <div class="bath-filter" pt-multiselect data="filters.bath.data" name="bath" selected="filters.bath.selection" update-filter="updateFilter(filter='bath', fetch='true', data)" any="false">
                                </div>
                            </div>
                            <div class="more-filter-blk listingType-filter">
                                <label>Listing Type</label>
                                <div class="proptype-filter" pt-multiselect data="filters.listingType.data" name="listingType" selected="filters.listingType.selection" update-filter="updateFilter(filter='listingType', fetch='true', data)" any="false">
                                </div>
                            </div>
                            <div class="more-filter-blk status-filter">
                                <label>Project Status</label>
                                <div class="proptype-filter" pt-multiselect data="filters.projectStatus.data" name="projectStatus" selected="filters.projectStatus.selection" update-filter="updateFilter(filter='projectStatus', fetch='true', data)" any="false">
                                </div>
                            </div>
                            <div class="more-filter-blk possessionDate-filter float-label">
                                <label>Possession Within Next</label>
                                <div class="bath-filter" pt-singleselect data="filters.completionDate.data" name="possessionTime" selected="filters.completionDate.selection" update-filter="updateFilter(filter='completionDate', fetch='true', data)" >
                                </div>
                            </div>
                            <div class="more-filter-blk size-filter">
                                <label>AREA SIZE</label>
    
                                
                                <span class="sqft_wrap"><span class="area-min-size">{{filters.size.selection[0]}} </span><div class="clear">sq ft</div></span>
                                <div class="filter-slider" pt-rangeslider range="filters.size.data" selected="filters.size.selection" name="area" update-filter="updateFilter(filter='size', fetch='true', data)"></div>                            
                                <span class="sqft_wrap"><span class="area-max-size">{{filters.size.selection[1]}} </span><div class="clear">sq ft</div></span>
    
                            </div>
                        </li>
                        <li>
                            <div class="column brdr-top" ng-if='!filters.builder.hide'>
                            	<div class="row-fluid">
                                	<label>Builders</label>                               
                                    <div class="autoCompleteSearch" tags-input ng-model="filters.builder.selected" 
                                    placeholder="{{builderPlaceHolder}}" 
                                    temp-placeholder="{{builderPlaceHolder}}"
                                    replace-spaces-with-dashes="false"                                   
                                    add-from-autocomplete-only="true"
                                    allowed-tags-pattern = "[a-zA-Z0-9\.]*"                                
                                    max-tags = "6"
                                    min-length="2"
                                    on-tag-added="add($tag, model, label, 'builder')"
                                    on-tag-removed="remove('builder', $tag.label)"
                                    >
                                    	<div auto-complete source="loadBuilderData($query)" min-length="2" debounce-delay="0" max-results-to-show="5"></div>
                                    </div>

                                    <div class="filter-recommended">
                                     <a class="" ng-repeat="(id, item) in filters.builder.recommended" ng-click="add(item, model, label, type='builder')" ng-show="!item.notVisible"><span class="buider-ellipse" once-title="item.label" once-text="item.label"></span></a>
                                     </div>
                                    <div class="requireText"><strong>Note:</strong> You can add upto 6 builders</div> 
                                </div> 
                                
                            </div>    
                            <div class="column brdr-top marginT10" ng-if='!filters.locality.hide && !isMaps()'>
                                <div class="row-fluid">
                                	<label>Localities</label>                                    
                                    <div class="autoCompleteSearch" tags-input ng-model="filters.locality.selected" 
                                    placeholder="{{localityPlaceHolder}}" 
                                    temp-placeholder="{{localityPlaceHolder}}"
                                    replace-spaces-with-dashes="false"                                   
                                    add-from-autocomplete-only="true"
                                    allowed-tags-pattern = "[a-zA-Z0-9\.]*"
                                    min-length="2" 
                                    max-tags = "6"
                                    on-tag-added="add($tag, model, label, 'locality')"
                                    on-tag-removed="remove('locality', $tag.label)"
                                    >
                                    	<div auto-complete source="loadLocalityData($query)" min-length="2" debounce-delay="0" max-results-to-show="5"></div>
                                    </div>
                                    <div class="filter-recommended">
                                    <a class="" ng-repeat="(id, item) in filters.locality.recommended" ng-click="add(item, model, label, type='locality')" ng-show="!item.notVisible"><span class="buider-ellipse" once-title="item.label" once-text="item.label"></span></a>
                                    </div>

                                    <div class="requireText"><strong>Note:</strong> You can add upto 6 Localities</div>                                 
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> 
                <li class="sec-btn" ng-click="saveSearchClicked()">
                    <button class="btn btn-small"><i class="fa fa-floppy-o"></i> &nbsp;Save Search</button>
                </li> 
                <li>
                    <button class="btn btn-small" ng-class="{disabled:!displaySettings.appliedFilter}" ng-click="clearAll()"><i class="fa fa-refresh"></i> &nbsp;Reset</button>
                </li>
                <li class="help-tips" ng-if="isMaps()">
                   <i id="usehelp" class="fa fa-lightbulb-o active" tooltip="Help Tips" ng-click="ShowAgainMap()"></i>
               </li>
           </ul>
           <div class="btn-group mapOrList filter-radio pull-right" ng-show="showFilters && cityMapSupport">
               <a><button type="button" class="btn listView" ng-class="{active : !isMaps()}"  ng-click="toggleMapList(false)"><i class="fa fa-list-ul"></i> List</button></a>
               <a><button type="button" class="btn mapView" ng-class="{active : isMaps()}"  ng-click="toggleMapList(true)"><i class="fa fa-map-marker"></i> Map</button></a>
           </div>
        
    </div>
</div>
