<div class="overlay-Wrapper">
	<div class="top-container paddingTB10LR15">
		<h6 class="sub-Header openSansFamily">
        	<span>{{card.label}}</span>
        	<a class="pull-right" href="{{card.overviewUrl}}" ng-click="projectCustomTracking('overlay','clicked','moreLocality','Link Clicked','Locality',card.localityId,'More About');" target="_blank"><span class="paddingR5">more about {{card.label}} </span><i class="fa fa-chevron-right"></i></a>
        </h6>
		<div class="overlay-cont-container row-fluid">
        	<div pt-description description="card.description" callerid="card.detail.id" callertype="Locality" ng-if="card.description" class="paddingB10" link="card.overviewUrl" label="card.label"></div>
        	<div class="row-full pull-left paddingT10 paddingB10 border-Top"  ng-if="card.amenityTypeCount && !isEmpty(card.amenityTypeCount)">
                <div class="stat-content pull-left" ng-repeat="(amenity,count) in card.amenityTypeCount"> 
                    <div class="stat-heading">{{amenity | _lessCaps}}</div>
                    <div class="stat-value"> {{count}} </div>
                </div>
            </div>
            <div class="rating-post-cont row-fluid paddingT10 pull-left border-Top" ng-if=" card.averageRating || card.totalReviews">
                <div class="span6"  ng-if="card.averageRating">
                    <div class="block-label">AVG RATING</div>
                    <span class="rating-pop-info" ng-if="card.ratings.averageRating">
                        <span class="avg-rating avg-rating">{{card.ratings.averageRating | roundSingleDecimal}}</span>
                        <span class="total-rating">{{card.ratings.ratingsCount}} ratings </span>
                    </span>
                </div>
                <div class="span6" ng-if="card.totalReviews">
                    <a href="{{card.overviewUrl}}#review" ng-click="projectCustomTracking('overlay','clicked','reviews','Link Clicked','Locality',card.localityId,'Reviews');" target="_blank">
                        <div class="block-label">TOTAL REVIEWS </div>
                        <div class="block-review-count grayLink">
                        	<span tooltip="View all reviews">
                            {{card.totalReviews}}
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            
		</div>
	</div>
	<div class="prop-img-info row-full" ng-if="card.images.length > 1">
		<div class="row-three-column prop-img-dis-info" ng-repeat="image in card.images | limitTo:3">
            <div class="image-view-info" image-block image-source="image.absolutePath" TYPE="MOBILE_1"></div>
		</div>
	</div>
</div>