<form name="enqForm" class="lead-form" id="enquiry-form" novalidate>
    <div class="enq-form-info">
      <div class="contentHeader">
    
    <h5 ng-bind-html="formTitle"></h5>
      </div>
      <p ng-if="formData && formData.interested" ng-bind-html="formData.interested"> </p>
      <div class="formFieldArea form-info">
    <div class="">
      <input type="hidden" name="query" ng-model="formData.query" />
    </div>
    <div class="formRow" ng-class="{error:(isSubmitted && (enqForm.fullname.$error.required || enqForm.fullname.$error.name))}">
      <input type="text" name="fullname" pt-namevalid pt-required id="fullname" ng-model="formData.name" pt-placeholder="labels.lead.placeholder.FULL_NAME" />
      <span ng-show="enqForm.fullname.$error.required && isSubmitted" class="error-info" > Name is required </span>
      <span ng-show="enqForm.fullname.$error.name && isSubmitted && !enqForm.fullname.$error.required" class="error-info" > Name is invalid </span>
    </div>
    <div class="formRow" ng-class="{error:((enqForm.email.$error.required || enqForm.email.$error.email) && isSubmitted)}">
      <input type="text" name="email" id="email" pt-emailvalid pt-required ng-model="formData.email" pt-placeholder="labels.lead.placeholder.EMAIL"  />
      <span ng-show="enqForm.email.$error.required && isSubmitted" class="error-info" > Email is required </span>
      <span ng-show="enqForm.email.$error.email && isSubmitted && !enqForm.email.$error.required" class="error-info" > Email is invalid </span>
    </div>
        <div class="formRow" ng-if="cityEnabled" ng-class="{error:(enqForm.city.$error.required && isSubmitted)}">
            <select name="city" ng-disabled="(cityList && cityList.length === 0)" ng-model="formData.city" pt-required ng-options="c.label for c in cityList"  >
                <option value=""> City </option>
            </select>
            <span ng-show="enqForm.city.$error.required && isSubmitted" class="error-info"> City is required </span>        
        </div>
        <div class="formRow" ng-if="localityEnabled" ng-class="{error:(enqForm.locality.$error.required && isSubmitted)}">
            <select name="locality" ng-model="formData.locality" ng-disabled="(localityList && localityList.length === 0)" pt-required ng-options="l.label for l in localityList" >
                <option value=""> Locality </option>
            </select>
            <span ng-show="enqForm.locality.$error.required && isSubmitted" class="error-info"> Locality is required </span>
        </div>
        <div class="row-fluid">
          <div class="span6 formAutoRow" ng-disabled="!countryList" ng-class="{error:((enqForm.country.$error.required || enqForm.country.$error.country) && isSubmitted)}">
        <select name="country" ng-model="formData.country" ng-disabled="(countryList && countryList.length === 0)" pt-countryvalid pt-required ng-options="c.name for c in countryList" >
          <option value=""> Country </option>
        </select>        
        <span ng-show="(enqForm.country.$error.required || enqForm.country.$error.country) && isSubmitted" class="error-info"> Country is required </span>
      </div>
      <div class="span6 formAutoRow" ng-class="{error:((enqForm.mobile.$error.required || enqForm.mobile.$error.mobile) && isSubmitted)}">
        <input type="text" name="mobile" id="mobile" ng-model="formData.mobile" data-country="{{ formData.country | getName }}" pt-placeholder="labels.lead.placeholder.MOBILE" pt-mobilevalid pt-required class="input-mobile" />
        <span ng-show="enqForm.mobile.$error.required && isSubmitted" class="error-info"> Contact is required </span>
        <span ng-show="enqForm.mobile.$error.mobile && isSubmitted && !enqForm.mobile.$error.required" class="error-info"> Contact is invalid </span>
      </div>
        </div>
        <div class="formRow">
          <span class="pull-right paddingT15">
            <button class="btn-action" ng-click="save(formData)" ng-disabled="isSaving" ng-show="!isSaving">
            	Get Call Back         
            </button>
            <button class="btn-action disabled" ng-show="isSaving">
                Please wait...         
            </button>
          </span>
        </div>
    
    
      </div>
    </div>
</form>
