<div class="contentBoxContainer relativePostion" ng-if="data.latitude && data.longitude">
	<img ng-src="{{mapurl}}" ng-if="showNeighbor || mapurl" style="width:100%">
    <ul class="neigh-Nav">
        <li ng-repeat="neig in neighbor" tooltip="{{neig.name}}">
            <i class="fs0 {{neig.class}} pull-left"></i><span class="neigCount pull-left">{{neig.count}}</span>
        </li>
    </ul>
    <div class="neig-explo-info" ng-if="mapurl">
        <a class="btn-search-map" ng-click="openNeighborhoodMapModal(data, marker, markerType, 5, '/maps/'+url, direction)">
            <i class="fa fa-search"></i> EXPLORE ON MAP
        </a>
    </div>
</div>
