<div id="notification" ng-show="showAlert">
<div id="alert" class="alert alert-{{alert.type}} alert-dismissable">
	<!--<button type="button" class="close" ng-click="closeNoti()">&times;</button>-->
	<span class="pull-left">
    <i ng-if="alert.type==='alert'" class="fa fa-exclamation-triangle"></i>
    <i ng-if="alert.type==='info'" class="fa fa-info-circle"></i>
    <i ng-if="alert.type==='error'" class="fa fa-ban"></i>
    {{alert.msg}}</span> 
	<span class="paddingL15 pull-right">
        <button ng-if="alert.showYes" type="button" class="btn btn-small search-bg" ng-click="actionTaken('onYes')">{{alert.confirmText}}</button>
        <button ng-if="alert.showNo" type="button" class="btn btn-small search-bg" ng-click="actionTaken('onNo')">{{alert.cancelText}}</button>
  	</span>
    
</div>
</div>

