<table class="table table-hover additional-table">
	<tr class="header-row">
    	<th>Property</th>
        <th>Size</th>
        <th ng-if="project.isPrimary">New Price</th>
        <th ng-if="project.isResale">Resale Price</th>
        <th ng-if="showFloorPlanColumn">Floor Plan</th>
	</tr>
	<tr ng-repeat-start="clubProp in properties" 
		pt-property-listings-row 
		property='clubProp' 
		ng-if="!clubProp.isComposite" 
		project='project'
		show-lead-form='showLeadForm'
		show-error-form = "showErrorForm"
		floorplanimagelist="floorPlanImageList"
		show-floor-plan-column="showFloorPlanColumn"
		page="page"
		>
	</tr>
	<tr ng-if="clubProp.isComposite" ng-click="clubProp.showProps = !clubProp.showProps" class="cursorPointer">
        <td class="cursorPointer"><i ng-if="!clubProp.showProps && clubProp.TYPE == 'Villa'" class="fs0 icon-villa" tooltip='Villa'></i>
            {{clubProp.label}}
            <span ng-if="!clubProp.showProps" ng-click="projectListingCluster('cluster','clicked','expandProperties','Expand');"><i class="fa fa-chevron-down"></i></span>
            <span ng-if="clubProp.showProps" ng-click="projectListingCluster('cluster','clicked','expandProperties','Collapse');"><i class="fa fa-chevron-up"></i></span>
        </td>
		<td ng-class="{'colu-hidden':clubProp.showProps}">
			<span pt-shallow-range property-name="Size" base-object="clubProp" unit="clubProp.measure" ng-if="clubProp.hasSizes"> </span>
			<span ng-if="!clubProp.hasSizes">
					On Request
			</span>
		</td>
		<td ng-if='project.isPrimary' ng-class="{'colu-hidden':clubProp.showProps}">
			<span ng-if="clubProp.minBudget && clubProp.maxBudget">
				<div pt-shallow-range property-name="Budget" base-object="clubProp" type='price'> </div>
			</span>
			<span ng-if="!clubProp.minBudget && !clubProp.maxBudget">
				<span ng-if="project.isSoldOut">
            		Sold Out
        		</span>
        		<span ng-if="!project.isSoldOut">
					On Request
				</span>
			</span>
		</td>
		<td ng-if='project.isResale' ng-class="{'colu-hidden':clubProp.showProps}">
			<span ng-if="clubProp.minResalePrice && clubProp.maxResalePrice">
				<div pt-shallow-range property-name="ResalePrice" base-object="clubProp" type='price'> </div>
			</span>
			<span ng-if="!clubProp.minResalePrice && !clubProp.maxResalePrice">
				On Request
			</span>
		</td>
        <td ng-if="page == 'projectDetail'" ng-class="{'colu-hidden':clubProp.showProps}"><span><a>View floor plan</a></span></td>
	</tr>
	<tr ng-repeat="property in clubProp.properties" 
		class="more-option-info"
		pt-property-listings-row 
		property='property' 
		project='project' 
		ng-if="clubProp.showProps" 
		show-lead-form='showLeadForm'
		show-error-form = "showErrorForm"
        floorplanimagelist="floorPlanImageList"
        show-floor-plan-column="showFloorPlanColumn"
		page="page"
		ng-repeat-end>
	</tr>
</table>
<div ng-if="extraProps.length" class="more-info pull-left" ng-click="toggleMore()">
	View 
    <span ng-if="!showingMore">{{extraProps.length}} more <i class="fa fa-chevron-down"></i></span>
    <span ng-if="showingMore">less <i class="fa fa-chevron-up"></i></span>
</div>

