<td class="text-inde-info">
	<a ng-href="/{{followUrl}}" class="{{class}}">
        <i ng-if="property.unitTYPE == 'villa'" class="fs0 icon-villa" tooltip='Villa'></i>
        <span ng-if="property.bedrooms == 0"> Plot</span>
        <span ng-if="property.bedrooms != 0" ng-click="propertyTracking('cluster', 'clicked', 'propertyName', project.projectId, $parent.$index +1);"> {{property.bedrooms}}BHK + {{property.bathrooms}}T </span>
    </a>        
</td>
<td ng-if="mergeColumns" colspan="3">
    <span class="requ-info">
        <span>Details on Request</span>
        <a ng-click="showLeadForm($event, 'newPrice', property)">Get property details</a>
    </span>
</td>

<td ng-if="!mergeColumns">
	<span ng-if="property.size">
		{{property.size | figureFMT}} {{property.measure}}
   </span>
   <span class="requ-info" ng-if="!property.size">
		<span>On Request</span>
        <a ng-click="showLeadForm($event, 'size', property)">Request Size</a>
	</span>	
</td>	
<td ng-if="project.isPrimary && !mergeColumns">
    <div ng-if="project.isSoldOut">
        Sold Out
    </div>
    <div ng-if="!project.isSoldOut">
        <div ng-if="property.budget" class="grid-budget">
            <i class="fa fa-inr"></i> {{property.budget | formatPrice}}
            <div class="rate" ng-if="property.pricePerUnitArea"> 
                <i class="fa fa-rupee"></i> {{property.pricePerUnitArea | rateFMT}} 
            </div>
        </div>
        <div ng-if="!property.budget">            
            <span class="requ-info" ng-if="project.projectStatus != 'On Hold'">
            	<span>On Request</span>
                <a ng-click="showLeadForm($event, 'newPrice', property)">Request Price</a>
            </span>
            <span ng-if="project.projectStatus == 'On Hold'">
                <span>On Hold</span>
            </span>
        </div>
    </div>
</td>

<td ng-if="project.isResale && !mergeColumns">
    <span ng-if="property.resalePrice" class="grid-budget">
        <i class="fa fa-inr"></i> {{property.resalePrice | formatPrice}}

        <span ng-if="property.resalePricePerUnitArea" class="rate"> 
            <i class="fa fa-inr"></i> {{property.resalePricePerUnitArea | rateFMT}}
        </span>
    </span>
    <span class="requ-info" ng-if="!property.resalePrice">
        <span>On Request</span>
        <a ng-click="showLeadForm($event, 'newPrice', property)">Request Price</a>
    </span>
</td>

<td ng-if="showFloorPlanColumn">
    <a ng-if="property.floorPlanImage" ng-click="openImageModal()">
        View floor plan
    </a>
    <a ng-if="showGetFloorPlan" ng-click="showLeadForm($event, 'floorPlan', property)">
        Get floor plan
    </a>
</td>



