<div pt-leftwidgetcontainer name-param="qlWidgetName">
    <ul class="quickContactLink sidebarContContainer">
        <li><a href="/homeloan" ng-class="{selected:checkActive('homeloan')}">{{labels.common.label.HOME_LOAN}}</a></li>
        <li><a href="/documents" ng-class="{selected:checkActive('documents')}">{{labels.common.label.DOCS_REQ_FOR_HOME_LOAN}}</a></li>
        <li><a href="/emi" ng-class="{selected:checkActive('emi')}">{{labels.common.label.EMI_CALCULATOR}}</a></li>
        <li><a href="/faqs" ng-class="{selected:checkActive('faqs')}">{{labels.common.label.PROPERTY_BUYING_TIPS}}</a></li>
        <li><a href="/vaastu" ng-class="{selected:checkActive('vaastu')}">{{labels.common.label.VAASTU_TIPS}}</a></li>
        <li><a href="/nri" ng-class="{selected:checkActive('nri')}">{{labels.common.label.NRI_SERVICES}}</a></li>
    </ul>
</div>
