<form name="errForm" class="lead-form" id="error-form" novalidate >
<div ng-if="step==='step1'">
	<div class="enq-form-info">
		<div class="contentHeader">
	  		<h5> Report Error</h5>
        </div>
        <div class="formFieldArea report-info">
        	<div class="formRow">
        		<label>What is Wrong? </label>
                <span>           
                  <input class="pull-left" ng-click="optionChange('Price / Rate')" type="radio" name="error" id="rate" value="rate" ng-model="formData.error" />
                  <label class="pull-left" for="a"> Price / Rate </label>
                  <input class="pull-left" ng-click="optionChange('Project Status')" type="radio" name="error" id="status" value="status" ng-model="formData.error" />
                  <label class="pull-left" for="b"> Project Status </label>
                  <input class="pull-left" ng-click="optionChange('Property Details')" type="radio" name="error" id="propdetails" value="propdetails" ng-model="formData.error" />
                  <label class="pull-left" for="c"> Property Details </label>
                  <input class="pull-left" type="radio" name="error" id="other" value="other" ng-model="formData.error" />
                  <label class="pull-left" for="d"> Other </label>
                </span>
        	</div>
			<div class="formRow paddingT20">
	  			<label>Details about errors:</label>
	  			<textarea name="txtcomment" ng-model="formData.txtcomment" pt-placeholder="Some more details will be useful for us"> </textarea>
          <span style="color: red;">{{detailsError}}</span>
			</div>
			<div class="formRow paddingT20">
	  			<label>Email: <span>(Optional)</span></label>
	  			<input type="text" name="email" pt-placeholder="Email Address" ng-model="formData.email" />
          <span style="color: red;">{{emailError}}</span>
			</div>
        	<div class="formRow">
	 			<span class="pull-right paddingT15">
	    			<button class="btn-action" ng-click="save(formData)" ng-disabled="isSaving"> Report </button>
	  			</span>
        	</div>		
      </div>
  </div>
</div>
<div ng-if="step==='step2'">
	<div class="contentHeader">
		<h5>Report Error</h5>
	</div>
  <div class="content-info">
    <p>Thank you for reporting an error. We'll correct it as soon as possible</p>
  </div>
</div>
</form>
