<form name="sellForm" class="lead-form" id="sell-form" novalidate autocomplete="off">
    <div class="enq-form-info">
    	<div class="contentHeader">
            <h5>{{ labels.common.heading.SELLPROP }}</h5>
        </div>
        <div class="formFieldArea report-info" ng-show="stage === 'step1'">
        	<div class="formRow" ng-class="{error:(isSubmittedstep1 && (sellForm.fullname.$error.required || sellForm.fullname.$error.name))}">
                <input type="text" name="fullname" pt-namevalid pt-required id="fullname" ng-model="formData.name" pt-placeholder="labels.lead.placeholder.FULL_NAME" />
                <span ng-show="sellForm.fullname.$error.required && isSubmittedstep1" class="error-info" > Name is required </span>
                <span ng-show="sellForm.fullname.$error.name && isSubmittedstep1 && !sellForm.fullname.$error.required" class="error-info" > Name is invalid </span>
            </div>
            <div class="formRow" ng-class="{error:((sellForm.email.$error.required || sellForm.email.$error.email) && isSubmittedstep1)}">
                <input type="text" name="email" id="email" pt-emailvalid pt-required ng-model="formData.email" pt-placeholder="labels.lead.placeholder.EMAIL"  />
                <span ng-show="sellForm.email.$error.required && isSubmittedstep1" class="error-info" > Email is required </span>
                <span ng-show="sellForm.email.$error.email && isSubmittedstep1 && !sellForm.email.$error.required" class="error-info" > Email is invalid </span>
            </div>
            <div class="row-fluid">
                <div class="span5 formAutoRow" ng-disabled="!countryList" ng-class="{error:(sellForm.country.$error.required && isSubmittedstep1)}">
                    <select name="country" ng-model="formData.country" ng-disabled="(countryList && countryList.length === 0)" pt-required ng-options="c.name for c in countryList" >
                    <option value=""> Country </option>
                    </select>
                <span ng-show="sellForm.country.$error.required && isSubmittedstep1" class="error-info"> Country is required </span>
                </div>
                <div class="span7 formAutoRow" ng-class="{error:((sellForm.mobile.$error.required || sellForm.mobile.$error.mobile) && isSubmittedstep1)}">
                    <input type="text" name="mobile" id="mobile" ng-model="formData.mobile" data-country="{{ formData.country | getName }}" pt-placeholder="labels.lead.placeholder.MOBILE" pt-mobilevalid pt-required class="input-mobile" />
                    <span ng-show="sellForm.mobile.$error.required && isSubmittedstep1" class="error-info"> Contact is required </span>
                    <span ng-show="sellForm.mobile.$error.mobile && isSubmittedstep1 && !sellForm.mobile.$error.required" class="error-info"> Contact is invalid </span>
                </div>
            </div>
            <div class="formRow">
                <label>Who are you? </label>
                <span>           
                    <input class="pull-left" type="radio" name="seller_type" id="owner" value="owner" ng-model="formData.sellerType" />
                    <label class="pull-left" for="a"> Owner </label>
                    <input class="pull-left" type="radio" name="seller_type" id="broker" value="broker" ng-model="formData.sellerType" />
                    <label class="pull-left" for="b"> Agent / Broker </label>
                </span>
            </div>
            <div class="formRow paddingT20">
                <span> By clicking on continue you agree to our <a href="user-agreement" target="_blank"> Terms & Conditions </a> </span>
            </div>
            <div class="formRow paddingT10">
                <span class="pull-right paddingT15">
                	<button class="btn-primary" ng-click="goToStep('step2')"> Continue </button>
                </span>
            </div>
            
        </div>
        <div class="formFieldArea report-info" ng-show="stage === 'step2' || stage === 'step3'">
            <div class="formRow" ng-class="{error:(sellForm.city.$error.required && isSubmitted)}">
                <select name="city" ng-disabled="(cityList && cityList.length === 0)" ng-model="formData.city" pt-required ng-options="c.label for c in cityList"  >
                <option value=""> City </option>
                </select>
                <span ng-show="sellForm.city.$error.required && isSubmitted" class="error-info"> City is required </span>        
            </div>
            <div class="formRow">
                <label>
                {{labels.common.items.PROJECT}}<span class="strickColor">*</span>
                </label>
                <input class="pull-left" name="project" type="text" ng-disabled="!formData.city" pt-placeholder="labels.addproperty.placeholder.SELECT_PROJECT" ng-model="formData.project" typeahead-editable="true" typeahead-on-select="onProjectSelected()"  typeahead-wait-ms="500" 
                 typeahead="project as project.coreText for project in projects(listing.city.label, $viewValue) | limitTo:8" pt-required />
                <span ng-show="sellForm.project.$error.required && isSubmitted" class="error-info"> Project is required </span>
            </div>
            <div class="formRow">
                <label class="pull-left">{{labels.common.items.CONFIGURATION}}<span class="strickColor">*</span></label>
                <select class="pull-left" name="unit" ng-model="formData.unitDefault" ng-init="formData.unit=0" ng-options="unit as (unit.unitName + ' ' + unit.sizeMeasure ) for unit in formData.units" ng-change="updateSize(formData.unitDefault)" pt-required >
                <option value="">{{labels.portfolio.label.CONFIGURATON_OPTION_0}}</option>
                </select>
                <span ng-show="sellForm.unit.$error.required && isSubmitted" class="error-info"> Unit is required </span>
            </div>
            <div class="formRow" ng-class="{error:(sellForm.locality.$error.required && isSubmitted)}">
                <select name="locality" ng-model="formData.locality" ng-disabled="(localityList && localityList.length === 0)" pt-required ng-options="l.label for l in localityList" >
                <option value=""> Locality </option>
                </select>
            	<span ng-show="sellForm.locality.$error.required && isSubmitted" class="error-info"> Locality is required </span>
            </div>
            <div class="formRow">
                <span ng-click="goToStep('step3')" ng-if="stage === 'step2'"> <a> Enter Optional Info </a> </span>
                <span ng-click="goToStep('step2')" ng-if="stage === 'step3'"> <a> Hide Optional Info </a> </span>
            </div>
            <div ng-show="stage === 'step3'">
                <div class="row-fluid">
                	<div class="span6 formAutoRow">
                        <label class="pull-left">{{labels.portfolio.label.UNIT_NO}}</label>
                        <input class="pull-left" maxlength="5" ng-model="formData.unitNo" pt-placeholder="labels.common.placeholder.UNIT" />
                    </div>
                	<div class="span6 formAutoRow">
                        <label class="pull-left">{{labels.common.items.FLOOR}}</label>
                        <input class="pull-left" maxlength="5" ng-model="formData.floor" pt-placeholder="labels.common.placeholder.FLOOR" />
                    </div>                    
                </div>
                <div class="row-fluid">
                	<div class="span6 formAutoRow">
                    	<label class="pull-left">{{labels.common.items.TOWER}}</label>
                    	<input class="pull-left" type="text" maxlength="15" ng-model="formData.tower" pt-placeholder="labels.common.placeholder.TOWER" />
                    </div>
                    <div class="span6 formAutoRow">
                    	<label class="pull-left">{{labels.common.items.PHASE}}</label>
                    	<input class="pull-left" type="text" maxlength="15" ng-model="formData.phase" pt-placeholder="labels.common.placeholder.PHASE" />
                    </div>
                </div>           
            </div>
            <div class="formRow">
                <span class="pull-right paddingT15">
                    <button class="btn-primary" ng-click="goToStep('step1')" ng-disabled="isSaving">Back </button>
                    <button class="btn-primary marginL15" ng-click="save(formData)" ng-disabled="isSaving">Submit</button>
                </span>
            </div>            
        </div>
        <div class="formFieldArea report-info" ng-show="stage === 'step4'">
        	Your Contact has been submitted. Our Business Team will get back to you shortly for confirming the details
            <div class="formRow">
                <span class="pull-right paddingT15">
                	<button class="btn-action" ng-click="close(formData)" >Okay</button>
            	</span>
            </div>    
        </div>
    </div>
</form>