<form name="reviewForm" novalidate >
	<div class="contentHeader">
    	<h5>Rate & Review</h5>
    </div>
    <div class="row-fluid">
        <div class="comm-rating-head-info">Your Rating</div>
        <div id="overallRating" class="pull-left" tooltip-trigger="click" tooltip-placement="top" tooltip="Please rate this locality to write review!">
            <rating class="rat-icon-info" value="rate" max="ratingObject.max" state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="ovrRating(value)" on-leave="overStar = null" ng-click="rateOverall();ratingObject.rateLocality(true, false, true);"></rating>
        </div>
    </div>
    <div class="formFieldArea report-info">
        <div class="formRow paddingT10" ng-class="{'error': (titleStatus == 'extra' || error.title || error.both)}">
            <label>Title of your review
            	<span class="pull-right" ng-class="{'error': (titleStatus == 'extra')}">{{titleCharDiff}} characters {{titleStatus}}</span>
            </label>
            <input ng-model="formData.title" pt-required pt-placeholder="Review Title" name="title" id="review_title" ng-keyup="updateTitle()" />
            <span ng-show="reviewForm.review_title.$error.required && isSubmitted" class="error-info"> Title is required </span>
        </div>
        <div class="formRow error">
            <span class="pull-left error-info error-val paddingT3">
                {{error.title}}
            </span>
        </div>
        <div class="formRow paddingT15" ng-class="{'error': (reviewStatus == 'extra' || error.review || error.both)}">
            <label>Your review
            	<span class="pull-right" ng-class="{'error': (reviewStatus == 'extra')}">{{reviewCharDiff}} characters {{reviewStatus}}</span>
            </label>
            <textarea ng-model="formData.review" name="review" id="review" pt-required pt-placeholder="Share what you think about this area! " ng-keyup="updateReview()"> </textarea>
            <span ng-show="reviewForm.review.$error.required && isSubmitted" class="error-info"> Please Enter your Review </span>
        </div>
        <div class="formRow error">
            <span class="pull-left error-info error-val paddingT3">
            	{{error.review}}
            </span>
        </div>
        <div class="formRow error">
            <span class="pull-left error-info error-val paddingT3">
                {{error.both}}
            </span>
        </div>
        <div class="formRow">
            <span class="pull-right paddingT15">
            	<button class="btn-action" ng-click="save(formData)" ng-disabled="isSaving"> Post Review </button>
            </span>
        </div>
    </div>
</form>
