<div class="contentBoxContainer padding20 marginB15" >
	<div class="contentHeader">
        <h5>EMI Calculator</h5>
    </div>
    <div class="content-info row-fluid paddingL15">
    	<div class="span6 border-Right">
        	<div class="cal-cont-info row-full pull-left">
            	<label for="loan-amount">Total Cost</label>
                <div class="cal-cont-input">
                    <div class="dropdown prop-drop-info pull-left padding5 cal-tot-cost-info">
                        <a class="dropdown-toggle">{{item.name}}<i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="name in emi_prop_list" ng-class="{'active': (name.display == 'font-weight')}"><a ng-click="updatePrice('', name)" class="{{name.display}}">{{name.name}}</a></li>
                        </ul>
                    </div>
                    <div class="pull-left clear paddingT5">
                    <i class="fa fa-inr pull-left marginT10"></i>
                	<input type="text" id="loan-amount" class="marginL5 pull-left" ng-model="total_cost" ng-keyup="setAmounts($event)"></div>
                    <span class="seg_controls {{state}} pull-left paddingT5">
                        <a class="{{lacClass}}" ng-click="setAmounts(null, 'Lac')">Lac</a>
                        <a class="{{crClass}}" ng-click="setAmounts(null, 'Cr')">Cr</a>
                    </span>
                </div>
            </div>
            <div class="cal-cont-info row-full pull-left paddingT15">
	      		<label for="down-payment">Down Payment</label>
            	<div class="cal-cont-input">
                	<input class="pull-left" type="text" id="down-payment" ng-model="down_payment" ng-keyup="set_amounts(total_cost, down_payment, interest_rate)" value="{{down_payment}}" style="width:40px;">
                    <span class="pull-left paddingL5 paddingT5 cal-pres-text">%</span>
		  			<span class="cal-input-text paddingL20 pull-left paddingT5" id="down-payment-value">{{down_payment_value}}</span>
                </div>
            </div>
            <div class="cal-cont-info row-full pull-left paddingT15 marginB20">
            	<label for="interest-rate">Interest Rate</label>
            	<div class="cal-cont-input">
                	<input class="pull-left" type="text" id="interest-rate" ng-model="interest_rate" ng-keyup="set_amounts(total_cost, down_payment, interest_rate)" ng-blur="set_interest_rate(interest_rate)" value="{{interest_rate}}" style="width:40px;">
                    <span class="pull-left paddingL5 paddingT5 cal-pres-text">%</span>
                </div>
            </div>
            
        </div>
        <div class="span6">
        	<div class="row-fluid paddingT35">
            	<div class="cal-view-info span3">
                    <label>Total Cost</label>
                    <div class="cal-cont-input"><i class="fa fa-inr"></i> {{total_cost_complete_display}}</div>
                </div>
                <div class="cal-view-info span1">
                    <label>&nbsp;</label>
                    <div >-</div>
                </div>
                <div class="cal-view-info span4">
                    <label>Down Payment</label>
                    <div class="cal-cont-input"><i class="fa fa-inr"></i> {{down_payment_complete_display}}</div>
                </div>
                 <div class="cal-view-info span1">
                    <label>&nbsp;</label>
                    <div>=</div>
                </div>
                <div class="cal-view-info span3">
                    <label>Loan Amount</label>
                    <div class="cal-cont-input"><i class="fa fa-inr"></i> {{loan_amount_complete_display}}</div>
                </div>            
            </div>
            <div class="row-full paddingT35">
                <div class="row-full eligb-check-info pull-left">
                	<input type="checkbox" class="pull-left marginR5" id="check-loan-eligibility" ng-model="loan_eligibility_check" ng-click="showCalc()">
                    <label for="check-loan-eligibility" class="pull-left">Check my loan eligibility</label>
                
                </div>
                <div class="paddingL20 income_slide row-full pull-left" style="display: none;">
                	<div class="row-full pull-left">
                        <label class="pull-left income-text-info">Your Annual Income</label>
                        <span class="pull-left paddingL10 income-text-info check-annu-info"><i class="fa fa-inr"></i> {{annual_income | formatPrice}}</span>
                    </div>
                    <div class="row-full pull-left">
                    	<span class="pull-left income-text-info">
                        	<i class="fa fa-inr"></i> {{income_range[0] | formatPrice}}
                        </span>
                    	<div pt-incomeslider income="annual_income" range="income_range" class="cal-slid-info pull-left"></div>
                    	
                    	<span class="pull-left income-text-info">
                        	<i class="fa fa-inr"></i> {{income_range[1] | formatPrice}}
                        </span>
                    </div>
                </div>                
            </div>
        </div>
    	<div class="row-full clear paddingT10">
        	<div class="emi-cont-info paddingB10">Easy Monthly Installments</div>
            <div class="row-fluid border-Top paddingT5">
            	<div class="span4 cal-emi-info {{class_loan['class_loan_10']}}">
                	<div class="pull-left emi-cal-text-info">
                    	<span class="emi-year-info row-full" for="year-10-value">for 10 years</span>
                        <span class="emi-month-info row-full paddingT5" id="year-10-value">
                            <span id="emi-10-amount" class="emi-amount"><i class="fa fa-inr"></i> {{emi_10_amount}}</span>
                            <i ng-if="class_loan['class_loan_10'] == 'exclamation'" tooltip="Max loan you can avail is {{max_loan['max_loan_10'] | formatPrice}}" class="fa fa-{{class_loan['class_loan_10']}}-circle icon"></i>
                            <i ng-if="class_loan['class_loan_10'] == 'check'" tooltip="Eligible" class="fa fa-{{class_loan['class_loan_10']}}-circle icon"></i>
                        </span>
                    </div>                    
                    <button class="btn-action get-btn small-btn pull-left marginT20" ng-click="openLeadForm($event, 'locality-city', 'hidden-homeloan-mid')">GET QUOTE</button>
                </div>
                <div class="span4 cal-emi-info {{class_loan['class_loan_20']}}">
                	<div class="pull-left emi-cal-text-info">
                    	<span class="emi-year-info row-full" for="year-20-value">for 20 years</span>
                        <span class="emi-month-info row-full paddingT5" id="year-20-value">
                            <span id="emi-20-amount" class="emi-amount"><i class="fa fa-inr"></i> {{emi_20_amount}}</span>
                            <i ng-if="class_loan['class_loan_20'] == 'exclamation'" tooltip="Max loan you can avail is {{max_loan['max_loan_20'] | formatPrice}}" class="fa fa-{{class_loan['class_loan_20']}}-circle icon"></i>
                            <i ng-if="class_loan['class_loan_20'] == 'check'" tooltip="Eligible" class="fa fa-{{class_loan['class_loan_20']}}-circle icon"></i>
                        </span>
                    </div>
                    <button class="btn-action get-btn small-btn pull-left marginT20" ng-click="openLeadForm($event, 'homeloan', 'hidden-homeloan-mid')">GET QUOTE</button>
                </div>
                <div class="span4 cal-emi-info {{class_loan['class_loan_30']}}">
                	<div class="pull-left emi-cal-text-info">
                    	<span class="emi-year-info row-full" for="year-30-value">for 30 years</span>
                        <span class="emi-month-info row-full paddingT5" id="year-30-value">
                            <span id="emi-30-amount" class="emi-amount"><i class="fa fa-inr"></i> {{emi_30_amount}}</span>
                            <i ng-if="class_loan['class_loan_30'] == 'exclamation'" tooltip="Max loan you can avail is {{max_loan['max_loan_30'] | formatPrice}}" class="fa fa-{{class_loan['class_loan_30']}}-circle icon"></i>
                            <i ng-if="class_loan['class_loan_30'] == 'check'" tooltip="Eligible" class="fa fa-{{class_loan['class_loan_30']}}-circle icon"></i>
                        </span>
                    </div>                    
                	<button class="btn-action get-btn small-btn pull-left marginT20" ng-click="openLeadForm($event, 'homeloan', 'hidden-homeloan-mid')">GET QUOTE</button>
                </div>            
            </div>
        
        </div>
    </div>
    
</div>





