<div class="contentBoxContainer row-fluid pull-left">
    <div class="span6 prop-meta-detail-info paddingTB10LR15">
        <div class="pull-left">
            <div class="prop-name pull-left">
                <span class="pull-left">{{project.fullName}}</span>
                <span pt-favorite="" project-id="project.projectId" caller="callerLocation" class="pull-left paddingL5 marginT3"></span>
            </div>
            <div class="prop-address row-full clear paddingT3 pull-left">
                <div class="pull-left overlay-modal locality-nolink-label" ng-class="{'locality-label': showCard}">
                    {{project.locality.label}},
                    <span pt-locality-overlay="" card="project.localityCard" ng-if="showCard"></span>
                </div>
                <div class="city-label pull-left">&nbsp;{{project.locality.suburb.city.label}}</div>
            </div>
        </div>
        <div pt-appreciation rate="project.avgPriceRisePercentage" time="project.avgPriceRiseMonths" ng-if="project.avgPriceRisePercentage && !isPropertyPage" class="pull-left marginL10 border-Left paddingL10"></div>
    </div>
    <div class="span6 paddingTB10LR15">
		<div class="pull-right">
        	<div tooltip="Safety Score" class="pull-left safety-lyfstyl for-subhdr paddingR15" ng-if="project.safetyScore">
	            <i class="fa fa-shield"></i> <span class="count">{{project.safetyScore}}</span>
            </div>
            <div tooltip="Quality of Life Score" class="pull-left safety-lyfstyl for-subhdr lyfstyl border-Right paddingR15" ng-if="project.livabilityScore">
	            <i class="icons-lifestylesmall pull-left"></i> <span class="count">{{project.livabilityScore}}</span>
            </div>
            <div class="pull-left paddingL15">
                <div ng-if="propList.length > 2">
                    <div class="dropdown prop-drop-info">
                        <a class="dropdown-toggle" ng-class="{'font-selected': (prop_selected.show == true)}">{{prop_selected.name}}<i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="name in propList" ng-class="{'active': (name.display == 'font-weight')}"><a ng-click="update_prop(name)" class="{{name.display}}">{{name.name}}</a></li>
                        </ul>
                    </div>
                    <div class="prop-price-info paddingT3" ng-if="!isPropertyPage && !!(project.minPrice && project.maxPrice)">
                        {{priceRange}}
                    </div>
                    <div pt-priceonrequest class="prop-price-request" ng-if="!isPropertyPage && !(project.minPrice && project.maxPrice)"></div>
                    <div class="prop-price-info paddingT3" ng-if="isPropertyPage && prop_selected.value">
                        {{prop_selected.value}}
                    </div>
                    <div class="prop-price-info pull-left" ng-if="isPropertyPage && !prop_selected.value">
                        <div class="price-na">
                            <span>Price on request</span>
                            <a ng-click="openLeadForm($event, 'newPrice', 'hidden-pricerequest-mid', prop_selected)"> Request Price </a>
                            <i class="fa fa-question-circle" tooltip="Exact price of this property is currently unavailable. Please get in touch with us for further details"></i>
                        </div>
                    </div>
                </div>
                <div ng-if="propList.length <= 2">
                    <span class="prop-buil-bhk-info pull-left row-full">{{propList[0].name}}</span>
                    <div pt-priceonrequest class="prop-price-request" ng-if="!isPropertyPage && !(project.minPrice && project.maxPrice)"></div>
                    <div class="prop-price-info paddingT5 pull-left row-full">
                        {{priceRange}}
                    </div>
                    <div class="prop-price-info pull-left" ng-if="!propList[0].value && isPropertyPage">
                        <div class="price-na">
                            <span>Price on request</span>
                            <a ng-click="openLeadForm($event, 'newPrice', 'hidden-pricerequest-mid', propList[0])"> Request Price </a>
                            <i class="fa fa-question-circle" tooltip="Exact price of this property is currently unavailable. Please get in touch with us for further details"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pull-left paddingL20">
                <div class="wrap" pt-compare-button project='project' caller="callerLocation"></div>
            </div>
            <div class="btn-more pull-left marginL10 rightPop" pt-more-new-button show-error-form="showErrorForm" show-lead-form='openLeadForm'></div>
         </div>
    </div>
</div>
