<div class="contentBoxContainer row-fluid pull-left proj-top-desc-info">
    <div class="prop-meta-detail-info paddingTB10LR15 row-full">
        <div class="prop-name pull-left">
            <span class="pull-left prop-name-info textWrap" ng-attr-title="{{projectDetails.fullName}}">{{projectDetails.fullName}}</span> 
            <span pt-favorite project-id="projectDetails.projectId" caller="callerLocation" class="pull-left paddingL5 marginT3"></span>
        </div>
        <div class="prop-address clear row-full paddingT5 pull-left ">
            <div class="pull-left overlay-modal locality-nolink-label" ng-class="{'locality-label': showCard}">
                <span class="locality-name-desc-info textWrap" ng-attr-title="{{thisLocalityName}}">{{thisLocalityName}}</span>
                <span pt-locality-overlay card="projectDetails.localityCard" ng-if="showCard"></span>
            </div>
            <div class="city-label pull-left">&nbsp;{{thisCityName}}</div>
        </div>
        <div class="clearfix"></div>
        <div class="paddingT10"></div>
        <div tooltip="Safety Score" class="pull-left safety-lyfstyl for-subhdr paddingR15" ng-if="project.safetyScore">
            <i class="fa fa-shield"></i> <span class="count">{{project.safetyScore}}</span>
        </div>
        <div tooltip="Quality of Life Score" class="pull-left safety-lyfstyl for-subhdr lyfstyl paddingR15" ng-if="project.livabilityScore">
            <i class="icons-lifestylelarge"></i> <span class="count">{{project.livabilityScore}}</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="pull-left row-full paddingB10 paddingLR15">
        <div class="pull-left row-full">
            <div ng-if="propList.length > 2">
                <div class="dropdown prop-drop-info">
                    <a class="dropdown-toggle" ng-class="{'font-selected': (prop_selected.show == true)}">{{prop_selected.name}}<i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="name in propList" ng-class="{'active': (name.display == 'font-weight')}"><a ng-click="update_prop(name)" class="{{name.display}}">{{name.name}}</a></li>
                    </ul>
                </div>
                <div>
                    <div class="prop-price-info pull-left" ng-if="!isPropertyPage && !!(projectDetails.minPrice && projectDetails.maxPrice)">
                        {{priceRange}}
                    </div>
                    <div pt-priceonrequest class="prop-price-request" ng-if="!isPropertyPage && !(projectDetails.minPrice && projectDetails.maxPrice)"></div>
                    <div class="prop-price-info pull-left" ng-if="isPropertyPage && prop_selected.value">
                        {{prop_selected.value}}
                    </div>
                    <div class="prop-price-info pull-left" ng-if="isPropertyPage && !prop_selected.value">
                        <div class="price-na">
                            <span>Price on request</span>
                            <a ng-click="openLeadForm($event, 'newPrice', 'hidden-pricerequest-mid', prop_selected)"> Request Price </a>
                            <i class="fa fa-question-circle" tooltip="Exact price of this property is currently unavailable. Please get in touch with us for further details"></i>
                        </div>
                    </div>
                    <div class="prop-emi-info pull-left paddingL10" ng-if="prop_selected.value.length > 0 && emi != 0">
                        <span class="prop-emi-head-info">EMI:</span> <a ng-click="goToEl('emi_calc')" tooltip="for {{noOfYears}} years"><i class="fa fa-inr"></i> {{emi}}</a>
                    </div>
                </div>
            </div>
            <div ng-if="propList.length <= 2">
                <div class="prop-buil-bhk-info">{{propList[0].name}}</div>
                <div>
                    <div class="prop-price-info pull-left">
                        {{priceRange}}
                    </div>
                    <div class="prop-price-info pull-left" ng-if="!propList[0].value && isPropertyPage">
                        <div class="price-na">
                            <span>Price on request</span>
                            <a ng-click="openLeadForm($event, 'newPrice', 'hidden-pricerequest-mid', propList[0])"> Request Price </a>
                            <i class="fa fa-question-circle" tooltip="Exact price of this property is currently unavailable. Please get in touch with us for further details"></i>
                        </div>
                    </div>
                    <div pt-priceonrequest class="prop-price-request" ng-if="!isPropertyPage && !(projectDetails.minPrice && projectDetails.maxPrice)"></div>
                    <div class="prop-emi-info pull-left paddingL10" ng-if="prop_selected.value.length > 0 && emi != 0">
                        <span class="prop-emi-head-info">EMI:</span> <a ng-click="goToEl('emi_calc', 'EMI')" tooltip="for {{noOfYears}} years"><i class="fa fa-inr"></i> {{emi}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-left paddingTB10LR15">
    	<div class="row-fluid prop-btn-info">
        	<button class="btn-action pull-left" ng-click="openLeadForm($event, undefined, 'hidden-enquiry-left')"><i class="fa fa-phone paddingR5"></i>Get Call Back</button>
            <div class="pull-left paddingL10">
                <div class="wrap" pt-compare-button project='project' caller="callerLocation"></div>
            </div>
            <div class="btn-more pull-left marginL10" pt-more-new-button show-error-form="showErrorForm" show-lead-form='openLeadForm'></div>
        </div>        
    </div>   
</div>
