<div class="contentBoxContainer padding20 marginB15" >
	<div class="contentHeader">
		<h5>Homeloan</h5>
	</div>
	<div class="content-info row-fluid">
		<p ng-if="loanProviderBankDetails && loanProviderBankDetails.length > 0">Do you require a home loan? This project has been approved by the following financial institutions. Get in touch with us for more details on home loans and best EMI options.</p>
		<div class="row-fluid" ng-if="loanProviderBankDetails && loanProviderBankDetails.length > 0">
        	<div class="span6">
            	<div class="pull-left bank-img-info" ng-repeat="bank in loanProviderBankDetails">
                	<div class="bank-img-area" >
                    	<span class="visibility image-view-info" image-block alt-text="bank.name" image-source="bank.images[0].absolutePath" TYPE="THUMBNAIL" fit="true"></span>
                    </div>
                </div>
            </div>
        	<div class="span6">
            	<div class="bank-text-info relativePostion">
                	<div pt-staticimage small="true" class="bank-show-text-info"></div>
                    <div class="bank-overlay"></div>
                    <div class="bank-cont-info">
                		<h4>Home loan hassles no more - Ask us how!</h4>
                        <div class="row-fluid paddingT40">
                        	<div class="span6 bank-list-info">Multiple banks <br />
                                Avail easy EMI Offers
                            </div>
                            <div class="span6"><button class="btn-action small-btn" ng-click="openLeadForm($event, 'homeloan', 'hidden-homeloan-mid')">Get more info</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid home-loan-Cont-info" ng-if="loanProviderBankDetails && loanProviderBankDetails.length == 0">
        	<div class="span7 loan-offer-info" pt-staticimage small="true">
            </div>
        	<div class="span5">
            	<div class="bank-cont-info">
                    <h4>Home loan hassles no more <br />Ask us how!</h4>
                    <div class="row-fluid paddingT40">
                        <div class="bank-list-info">Multiple banks <br />
                            Avail easy EMI Offers
                        </div>
                        <div class="paddingT15"><button class="btn-action small-btn" ng-click="openLeadForm($event, 'homeloan', 'hidden-homeloan-mid')">Get more info</button></div>
                    </div>
                </div>
            </div>
        </div>
        
        
	</div>
</div>