<div pt-leftwidgetcontainer class="com-link-info">
	<ul class="quickContactLink sidebarContContainer">
		<li ng-repeat="section in sections">
			<a ng-click="goToEl(projectSectionsHash[section],section,'sidebar')" ng-class="{selected:checkBounds(projectSectionsHash[section])}" ng-show="checkHeight(projectSectionsHash[section])">
                {{section}}
                <span ng-if="section == 'Discussions'">
                    <i class="fa fa-comments"></i>
                    {{project.discussions}}
                </span>
            </a>
        </li>
	</ul>
</div>
