<div class="contentBoxContainer padding20 marginB15" >
    <div class="contentHeader">
        <h5>Neighborhood</h5>
    </div>
    <div class="content-info row-fluid proj-neig-info">
        <div pt-neighborhood neighbor="areaInfoForGraph.data.amenityTypeCount" mapurl="areaInfoForGraph.data.mapUrl" url="areaInfoForGraph.data.exploreUrl" data='project' marker='true' marker-type="normal" direction="true" class="row-full pull-left marginB20"></div>
        <div pt-areaoverview overview="projectLocality.overview" myurldata="PARSED_URL_DATA"></div>
        <div pt-commonrating class="proj-rating-info" id="review"></div>
        <div pt-commonreview class="proj-review-info"></div>
    </div>
</div>
