<div class="contentBoxContainer padding20 marginB15" >
    <div class="contentHeader">
        <h5>Overview
        <div class="pull-right sub-date-info">
            <div class="pull-left" ng-if="val.possessionDate">
                <span class="date-info">{{possessionString}}</span>{{val.possessionDate}} 
            </div>
            <div ng-if="showStatusRibbon" class="pull-left" ng-class="{'launch-soon-prot': val.projectStatus == 'Launching Soon', 'new-launch-prot': val.projectStatus == 'New Launch'}">{{val.projectStatus}}</div>
        </div>
        </h5>
    </div>
    <div class="content-info">
        <div ng-if="!moreFlag">
            <span class="backContentView" ng-bind-html="val.projectDescriptionSmall"></span>
            <a ng-if="val.projectDescriptionFull" ng-click="updateFlag(true)">more</a>
        </div>
        <div ng-if="moreFlag">
            <span class="backContentView" ng-bind-html="val.projectDescriptionFull"></span>
            <a ng-click="updateFlag(false)">less</a>
        </div>
    </div>
    <div class="content-info paddingT25 marginL20">
        <h6 class="sub-Header">At a Glance<a ng-click="updateFlag(false);goToEl('proj_specs','More about project');" class="pull-right">More about project</a></h6>
        <div class="row-fluid paddingT5">
        	<div class="span7 prop-over-info">
            	<span><b>Status :</b> {{val.projectStatus}}</span>
                <span ng-if="val.supply != 'NA'"><b>Total Units :</b> {{val.supply}}</span>
                <span><b>Sizes :</b> {{val.sizeHtml}}</span>
                <span ng-if="val.launchDate"><b>Launch Date :</b> {{val.launchDate}}</span>
                <span ng-if="val.projectSize != 'NA'"><b>Total Area :</b> {{val.projectSize}}</span>
                <span><b>Availability :</b> {{availability}}</span>
            </div>
            <div class="span5">
            	<div class="pull-right">
        			<div pt-discussions discussions="val.discussions" class="over-post-info post-about-it-info pull-left" ng-click="goToEl('discuss', 'Discussion')"></div>
                    <div class="over-post-info paddingT15B5 pull-left marginL15" ng-if="amenitiesAvailableDisplay && amenitiesAvailableDisplay.length > 1" ng-click="goToEl('amenities', 'Amenities');expandAmenities();">
                    	<div class="ameni-icon-info paddingB5">
                        	<div class="ameni-icon-container pull-left" ng-repeat="amenity in amenitiesAvailableDisplay">
                            	<i class="fs0 icon-{{amenity.amenityMaster.abbreviation}}" tooltip="{{ amenity.amenityDisplayName }}" tooltip-placement="top" ></i>
                            </div>
                        </div>
                        <div class="row-fluid ameni-link-info clear text-center"><a ng-click="goToEl('amenities', 'View all Amenities')">View all {{amenityLength}} Amenities</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-info paddingT25 marginL20" ng-if="showNeighborhood">
        <h6 class="sub-Header">Neighborhood<a ng-click="goToEl('loc_overview', 'More about neighborhood')" class="pull-right">More about neighborhood</a></h6>
        <div class="row-fluid paddingT5">
        	<div class="span7 prop-over-info">
            	<span ng-repeat="item in val.neighborhood">{{item.displayName}} <b>({{item.count}})</b></span>
            </div>
            <div class="span5 over-post-info" ng-click="goToEl('loc_overview', 'Review')">
                <div class="pull-left prop-img-local-info" ng-if="val.locality.imageURL">
                    <img ng-src="{{val.locality.imageURL}}">
                </div>
                <div class="pull-left prop-local-info">
                    <div class="prop-head-info pull-left">{{val.locality.label}}</div>
                    <div class="pull-left paddingL10 paddingT3">
                    	<span class="pull-left prop-local-rating-info paddingR5">AVG Rating</span>
                        <span class="rating-right-info" pt-rating ratings="val.locality" class="pull-left paddingL5" ng-if="val.locality.ratings.ratingsCount"></span>
                        <span class="not-rating-info pull-left" ng-if="!val.locality.ratings.ratingsCount">
                        	<span class="pull-left">Not rated</span>
                            <i class="fa fa-exclamation-circle pull-left paddingL5" tooltip="We do not have enough verified ratings at the moment"></i>
                        </span>
                    </div>
                    <div ng-if="val.locality.totalReviews" class="pull-left prop-local-rev-info paddingL10 paddingT3">Total Reviews <span>{{val.locality.totalReviews}}</span></div>
                </div>
            </div>
        </div>
    </div>   
</div>
