<div class="contentHeader cursorPointer" ng-click="specToggle()">
	<h6>Specifications
    	<div class="pull-right paddingR10"><i class="cursorPointer fa fa-chevron-{{arrowSpecState}}" ></i></div>
    </h6>    
</div>
<div class="content-info row-fluid marginL20" id="specs">
    <div>
        <div ng-repeat="(key, value) in val.specifications" class="prop-speci-info pull-left paddingB10">
            <div class="span10 proj-spec-info">
                <div ng-if="checkObject(value)">
        	        <h6 class="sub-Header">{{key}}</h6>
                    <div ng-repeat="(item, val) in value" class="paddingL15">
                        <b>{{item}}</b> : {{val}}
                    </div>
                </div>
                <div ng-if="!checkObject(value)">
                    <h6 class="sub-Header">{{key}}</h6>
                    {{value}}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
