<div class="propSearch relativePostion">
    <div class="transBlackColor"></div>
    <div class="fullContContainer relativePostion">
        <div class="homeSearch paddingT2Pct paddingL30"><strong>Search</strong> from {{properties}} properties</div>
        <div class="paddingT15 row-fluid">
            <div class="span6 paddingL15">
                <div class="propSearchInfo">
                    <div class="row-fluid tabContainer homeTabContainer">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="{{classidx[0]}}" ng-click="changeMode(0)"><a><i class="fa fa-list-ul"></i> List</a>
                                </li>
                                <li class="{{classidx[1]}}" ng-click="changeMode(1)"><a><i class="fa fa-map-marker"></i> Map</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div pt-search></div>
                </div>
            </div>
        </div>
        <div class="findTextInfo">
            <div class="findTextHead">Find a home</div>
            <div class="findTextHead font-weight">Find Happiness</div>
        </div>
    </div>
</div>
<div pt-onscroll></div>
<div class="propCityView row-fluid">
    <div class="fullContContainer">
        <div class="propCityHead">Find your home in over 12 cities across India</div>
       	<div class="row-fluid">
        	<ul id="cities">
            	<li ng-repeat="citydetail in cities">
                    <img ng-src="/styles/images/{{citydetail.img}}" alt="{{citydetail.alt}}">
                    <div class="propCityName">{{citydetail.city}}</div>
                    <button ng-click="moreCities($index)" class="btn-primary small-btn">{{citydetail.btntxt}}</button>
                </li>
            </ul>
        </div>	
    </div>
</div>

<div class="row-fluid propSkyScraper">
	<div class="fullContContainer">
		<div class="row-fluid">
        	<div class="text-center">
            	<span ng-click="showSkyScrapper()" class="icons-down-arrow cursorPointer"></span>
            </div>
        	<div class="homeHeading text-center paddingT3Pct">Things that matter</div>
        	<div class="homeTextInfo text-center paddingT10">The Story So Far</div>
        </div>

    </div>
    <div class="skyScraperContentInfo">
        <div class="fullContContainer relativePostion">
        	<div class="propOfficeInfo skyScraperOverlay">
            	<div class="propSkyHead">8 Offices</div>
                <div class="propSkyText">{{noOfAgents}}+ Agents</div>
                <div class="skyScraperPopup">
                	<div class="row-two-column pull-left">
                    	Noida <br />
                        Gurgaon <br />
                        Mumbai <br />
                        Bangalore <br />
                        &amp; other major cities
                    </div>
                    <div class="row-two-column pull-left">
                    	<span class="icons-sky-office pull-right"></span>
                    </div>
                </div>
            </div>
            <div class="propHappyCustomerInfo skyScraperOverlay">
            	<div class="propSkyHead">{{noOfCustomers}}+ happy customers </div>
				<div class="propSkyText">have bought their homes from us</div>
            	<div class="skyScraperPopup">
                	<div class="row-two-column pull-left">
                    	Begin your home search with
                        our intuitive 
                        products and 
                        commited support
                    </div>
                    <div class="row-two-column pull-left">
                    	<span class="icons-sky-happy-customer pull-right"></span>
                    </div>
                </div>
            </div>
            <div class="propSearchLoanInfo skyScraperOverlay">
            	<div class="propSkyHead">From search to home loan</div>
				<div class="propSkyText">everything under one roof</div>
                <div class="skyScraperPopup">
                	<div class="row-two-column pull-left">
                    	From the moment
                        you wish to the
                        moment you buy,
                        we are there for you
                    </div>
                    <div class="row-two-column pull-left">
                    	<span class="icons-sky-home-loan pull-right"></span>
                    </div>
                </div>
            </div>
            <div class="propSoldInfo skyScraperOverlay">
            	<div class="propSkyHead"><i class="fa fa-inr"></i> {{worthOfProperties | priceFormatHomePage}}</div>
				<div class="propSkyText">worth of houses sold</div>
                <div class="skyScraperPopup">
                    <div class="row-two-column pull-left">
                    	Delivering on our
                        promise to you 
                        we are scaling 
                        new heights 
                        everyday.
                    </div>
                    <div class="row-two-column pull-left">
                    	<span class="icons-sky-house-sold pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

<div ng-if="loadComparison" class="propReason row-fluid relativePostion">
    <div class="fullContContainer propReasInfo">
        <div class="homeHeading text-center">We do things differently</div>
        <div class="row-fluid propReasonContent">
            <div class="span6">
                <span class="reasSubhead">What we do</span>
                <ul class="reasonList">
                    <li>Verified and up-to-date listings</li>
                    <li>Specialized professionals</li>
                    <li>Home loan and paperwork support</li>
                </ul>
            </div>
            <div class="span6 text-right">
                <span class="reasSubhead">What we don’t</span>
                <ul class="reasonList rightList">
                    <li>False and inaccurate listings</li>
                    <li>Unskilled agents</li>
                    <li>No service and support</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="propTestimonialSection row-fluid">
	<div class="fullContContainer">
    	<div id="testimonials-carousal" class="carousel slide row-fluid">
        	<!-- Carousel items -->
        	<div class="carousel-inner">
                <div ng-class="{'active' : $index==0}" class="item" ng-repeat="testimonial in testimonials | limitTo : 5"> 
                	<div class="span10 offset1">
                    	<div class="testiContent">
                        	<i class="fa fa-quote-left testiQuoteTop"></i>
                            <i class="fa fa-quote-right testiQuoteBottom"></i>
                        	<span class="testiDesContent" ng-bind-html="testimonial.clientComment">{{testimonial.clientComment}}</span>
                        </div>
                        <div>
                            <img ng-src="{{testimonial.clientImage}}">
                        </div>
                    	<div class="testClientInfo">{{testimonial.clientName}}
                        	<span class="testClientCompInfo">{{testimonial.companyName}}</span>
                        </div>
                    </div>
                </div>
          	</div>
          	<!-- Carousel nav -->
          	<a class="carousel-control left" ng-click="prevslide()"><i class="fa fa-chevron-left" ></i></a>
          	<a class="carousel-control right" ng-click="nextslide()"><i class="fa fa-chevron-right" ></i></a>
        </div>
    	<div class="row-fluid text-center testlink paddingT2Pct">
        <a target="_blank" ng-click="tracking('scroll', 'clicked', 'viewAllReviws')" ng-href="testimonials">View all reviews</a>
        </div>
    </div>
</div>

<div ng-if="loadRealStateGuide" class="row-fluid propRealEstate">
	<div class="fullContContainer">
    	<div class="row-fluid text-center">
        	<div class="homeHeading">Simplifying real estate for you</div>
        	<div class="homeTextInfo paddingT10" >Your home guide</div>
        </div>
        <div class="row-fluid paddingT5Pct">
        	<div class="span4">
            	<div class="propRealEstatInfo">
                    <div class="realEstatImageInfo">
                    	<a href="/blog/guide-to-real-estate-jargon/" target="_self">
                        <img ng-src="/styles/images/real-img-01.jpg"  alt="What do real estate terms really mean?"></a>
                    </div>
                    <div class="authDiscInfo">What do real estate terms really mean?</div>
                    <div class="authorText">
                    	<div class="pull-right">
                        	<span class="text-right paddingR10"><a ng-href="http://www.proptiger.com/blog/author/rupanshi/" target="_blank">Rupanshi Thapa</a></span>
                             <a ng-href="http://www.proptiger.com/blog/author/rupanshi/" target="_blank"><img ng-src="/styles/images/author-01.jpg"></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
            </div>
            <div class="span4">
            	<div class="propRealEstatInfo">
                	<div class="realEstatImageInfo">
                    	<a href="/blog/your-checklist-to-buying-property-in-india/" target="_self">
                        <img ng-src="/styles/images/real-img-02.jpg"  alt="Buying property? Here’s your checklist"></a>
                    </div>
                    <div class="authDiscInfo">Buying property? Here’s your checklist</div>
                    <div class="authorText">
                    	<div class="pull-right">
                        	<span class="text-right paddingR10"><a ng-href="http://www.proptiger.com/blog/author/taniaseth/" target="_blank">Tania Seth</a></span>
                             <a ng-href="http://www.proptiger.com/blog/author/taniaseth/" target="_blank"><img ng-src="/styles/images/author-02.jpg"></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="span4">
            	<div class="propRealEstatInfo">
                	<div class="realEstatImageInfo">
                    	<a href="/blog/category/interiors-and-design/" target="_self">
                        <img ng-src="/styles/images/real-img-03.jpg" alt="Creative interiors for your new home"></a>
                    </div>
                    <div class="authDiscInfo">Creative interiors for your new home</div>
                    <div class="authorText">
                    	<div class="pull-right">
                        	<span class="text-right paddingR10"><a ng-href="http://www.proptiger.com/blog/author/kritika/" target="_blank">Kritika Pandey</a></span>
                             <a ng-href="http://www.proptiger.com/blog/author/kritika/" target="_blank"><img ng-src="/styles/images/author-03.jpg"></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row-fluid text-center testlink paddingT2Pct"><a once-href="labels.common.link.OUR_BLOG" ng-click="tracking('scroll', 'clicked', 'viewAllBuyingTips')" target="_blank">View all buying tips</a></div>
	</div>
</div>

<div ng-if="loadRealStateGuide" class="row-fluid propSliderSite">
	<div id="product-portfolio-carousal" class="carousel slide propImageSlider propTechInfo">
        <div class="row-fluid propSliderTab">
        	<div class="fullContContainer relativePostion">
                <ol class="carousel-indicators">
                    <li data-target="#product-portfolio-carousal" data-slide-to="0" class="active">
                    	<span>Android app</span>
                    </li>
                    <li data-target="#product-portfolio-carousal" data-slide-to="1"><span>Search on map</span></li>
                    <li data-target="#product-portfolio-carousal" data-slide-to="2"><span>Portfolio</span></li>
                </ol>
            </div>
        </div>
        <!-- Carousel items -->
        <div class="fullContContainer relativePostion">
            <div class="carousel-inner">
                <div class="active item">
                    <div class="row-fluid">
                    	<div class="span12">
                        	<div class="pull-left paddingL100">
                            	<img ng-src="/styles/images/app-pic.png">
                            </div>
                            <div class="pull-left">
                            	<div class="carou-head-text">Find a home</div>
                                <div class="carou-subhead-text">On The Go</div>
                                <div class="carou-text-info appTextSpacInfo">Search Quickly, Stay Updated</div>
                                <a ng-click="tracking('mobileapp', 'clicked', '')" ng-href="https://play.google.com/store/apps/details?id=com.proptiger" target="_blank" class="icons-google-play marginT20 pull-left"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-fluid">
                    	<div class="pull-left">
                            <img ng-src="/styles/images/map-pic.png">
                        </div>
                        <div class="pull-left">
                        	<div class="carou-head-text">Search properties</div>
                            <div class="carou-subhead-text">On PropTiger Maps</div>
                            <div class="carou-text-info appTextSpacInfo mapSpaceCarou">Experience a smarter way to explore</div>
                            <a ng-click="tracking('MapV2', 'clicked', 'trynow')"  class="btn-primary marginT20 pull-left" target="_blank" ng-href="/maps">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-fluid">
                    	<div class="pull-left paddingL50">
                            <img ng-src="/styles/images/portfolio-pic.png">
                        </div>
                        <div class="pull-left paddingL35 paddingT63">
                        	<div class="carou-head-text">India’s first</div>
                            <div class="carou-subhead-text">Real Estate tracker</div>
                            <div class="carou-text-info appTextSpacInfo portSpaceCarou">Price movements, construction updates &amp; more...</div>
                            <a ng-click="openSignIn('portfolio/index')" class="btn-primary marginT20 pull-left" target="_blank">Try Now</a>
                        </div>                    
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->        
            <a class="carousel-control left" ng-click="pp_prevslide()"><i class="fa fa-chevron-left" ></i></a>
            <a class="carousel-control right" ng-click="pp_nextslide()"><i class="fa fa-chevron-right" ></i></a>
        </div>
    	
    </div>
</div>


<div class="propSocialNetwork row-fluid">
    <div class="fullContContainer">
        <div class="homeHeading text-center">We&prime;re Social</div>
        <div class="row-fluid paddingT5Pct">
            <div class="span8 offset2">
                <div class="row-fluid">
                    <div class="span2 offset1">
                        <a class="socialFaceInfo" ng-click="tracking('social', 'follow', 'Facebook')" target="_blank" title="Visit us on facebook" ng-href="https://www.facebook.com/proptiger" alt="PropTiger on Facebook"><i class="fa fa-facebook"></i>
                        </a>
                    </div>
                    <div class="span2">
                        <a class="socialGoogleInfo" ng-click="tracking('social', 'follow', 'google plus')" target="_blank" title="Visit us on google+" ng-href="https://plus.google.com/+Proptiger" alt="PropTiger on Google+"><i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                    <div class="span2">
                        <a class="socialTwitterInfo" ng-click="tracking('social', 'follow', 'Twitter')" target="_blank" title="Visit us on twitter" ng-href="https://twitter.com/proptiger" alt="PropTiger on Twitter"><i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <div class="span2">
                    	<a class="socialLinkInfo" ng-click="tracking('social', 'follow', 'Linkedin')" target="_blank" title="Visit us on linkedin" ng-href="http://www.linkedin.com/company/2019909" alt="PropTiger on Linkedin"><i class="fa fa-linkedin"></i>
                        </a>
                    </div>                    
                    <div class="span2">
                        <a class="socialYoutubeInfo" ng-click="tracking('social', 'follow', 'Youtube')" target="_blank" title="Visit us on youtube" ng-href="http://www.youtube.com/proptiger" alt="PropTiger on Youtube"><i class="fa fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="loadMapVideo" ng-class="imageClass" class="row-fluid propAddressInfo">
    <div class="fullContContainer" pt-home-map></div>
</div>

<div ng-if="loadMapVideo" class="propNewsSection row-fluid">
    <div class="fullContContainer">
        <div class="homeHeading text-center">We’re in the news</div>
        <div class="row-fluid paddingT3Pct">
            <div class="span10 offset2">
                <div class="newsInfo">
                    <div class="playerContainer" autoplay="autoplay" pt-youtube id="{{videoId}}"></div>
                    <div class="playerControl">
                        <div ng-class ="upActive" ng-click="up()" class="playerBtnUp"><i class="fa fa-arrow-circle-o-up"></i>
                        </div>
                        <div ng-class ="dnActive" ng-click="down()" class="playerBtnDown"><i class="fa fa-arrow-circle-o-down"></i>
                        </div>
                        <div class="playerViewInfo" id="videolist">
                            <div id="videoThumb" class="scrollThumb">
                                <img ng-click="changeVideo(video)" ng-repeat="video in videos" ng-src="http://img.youtube.com/vi/{{video}}/default.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="totop" class="bktop" ng-class="{'buttonFixedShow': !toTopButtonHide, 'center-page': pageEnd}">
    <div ng-if="!toTopButtonHide" ng-click="scrollToTop()">
        <div class="backtotop"><i class="fa fa-chevron-up"></i></div>
        <span>Top</span>
    </div>
</div>
