<div pt-notification ></div>
<div class="listings-container">
	
    <div pt-breadcrum b-crum="bCrum" b-crum-text="bCrumText" seo-data="seoData"></div>

    <div pt-listing-overview-card meta="overviewCard" ng-if="overviewCard"></div>

    <div class="contentBoxContainer paddingTB10LR20 result-info" ng-if="overviewCard.listHeading || searchedFor">
        <div class="row-fluid">
            <div class="span6 count-info">
                Showing <span class="count">{{totalResultsCount}} Projects</span> 
                for <span class="count" ng-if="overviewCard.listHeading">{{overviewCard.listHeading}}</span>
                    <span class="count" ng-if="searchedFor">{{searchedFor}}</span>
            </div>
            <div class="span6 sort-action">
            	<div class="pull-left paddingT3 discla-info overlay-modal">{{labels.common.label.DISCLAIMER}}
                	<div class="overlay-Wrapper padding10 content-info">{{labels.common.label.DISCLAIMER_INFO}}</div>
                </div>
                <div class="button-set pull-right">
                    <div class="btn-group filter-radio">
                        <button ng-repeat="key in keys(sortFilter.data)" 
                            type="button" 
                            class="btn" 
                            ng-class = "{'active': key == sortFilter.selected}"
                            ng-click="sort(key)" >
                            
                            <span ng-if="key == 'minResaleOrPrimaryPrice'">
                                {{sortFilter.data[key][price_sort_by]}}
                                <span ng-if="price_sort_by == 'ASC'">
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                                <span ng-if="price_sort_by == 'DESC'">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </span>
                            <span ng-if="key != 'minResaleOrPrimaryPrice'">
                                {{sortFilter.data[key]}}
                            </span>
                        </button>
                    </div>
                </div>
                <div class="pull-right marginT3">Order by</div>
            </div>
        </div>
    </div>

    <div ng-repeat="result in listing" class="prop-list-sear-info" >
        <div pt-listing-element project='result' map-support='mapSupport' is-builder='BUILDER_LISTINGS_PAGE' class="listing-element" ng-if="result.type == 'project' && mapSupport"> </div>
        
        <div ng-if="result.type == 'promise'"> 
            <div class="contentBoxContainer marginB15 row-fluid projLeadContainer">
               <div class="span8 relativePostion comm-imag-info">
               		<div class="prom-bott-bg">
                    	<div class="promo-text-info"> 
                        	<div class="promo-head-info">Can’t find what you’re looking for?</div> 
                            <div>Leave it to PropTiger. We promise to find the property of your choice within your budget</div>
                        </div>
                    </div>
                	<div pt-staticimage ></div>
               </div>
               <div class="span4">
                    <div pt-enquireform city-enabled="!leadData.cityId" locality-enabled="!leadData.localityId" data-initial="leadData"></div>
                </div>
            </div>
        </div>

        <div pt-forwardflow id="fflow" ng-if="!BUILDER_LISTINGS_PAGE && result.type == 'forward'"></div>

    </div>

    <div class="more-results-container" ng-if="resultsPending">
        <div pt-loading-block class="searchLoad"></div><div class="searchLoad paddingL5">Loading Search Results</div>   
    </div>
     
    <div class="more-results-container" ng-click="loadMoreResults()" ng-if="listing.length >= autoScrollLimit && totalResultsCount > listing.length-extraCard && !resultsPending">
        <i class="fa fa-caret-down"></i> Load More  
    </div>
    
    <div class="row-fluid" ng-if="!listing.length && !resultsPending && searched">
        <div class="span6 offset3">
            <div class="row-fluid">
            	<div class="span3 no-data-img-info">
                	<img src="styles/images/no-data.jpg">
                </div>
                <div class="span9 no-data-cont-info paddingT15">
                	<div class="noDataHeading">We are sorry!</div>
					<div class="noDataContent paddingT10">We didn’t find anything that matches your requirement</div>
                </div>
            </div>
            <div class="row-fluid paddingT15 marginB20">
            	<div class="span3 no-data-img-info no-data-vert-img">
                	<div class="no-data-img-cont">
                    	<img src="styles/images/to-do.png">
                    </div>                
                </div>
                <div class="span9 no-data-cont-info paddingT15"> 
                	<div class="noDataHeading">What to do?</div> 
                	<div class="noDataContent paddingT10">1. Try reducing the filters <br />
                    	2. Try modifying your search</div>
                </div>
            </div>
        </div>        
    </div>
</div>