<div>
  <div pt-notification ></div>
    <div class="more-results-container" ng-if="!areaInfo.data">
        <div pt-loading-block class="searchLoad"></div><div class="searchLoad paddingL5">Loading ...</div>
    </div>
    <div ng-if="areaInfo.data">
    <div pt-breadcrum b-crum="bCrum" b-crum-text="bCrumText" seo-data="seoData" last-update="lastUpdate"></div>
    <div class="contentBoxContainer row-fluid marginB15 pull-left">        
        <div class="span5 prop-meta-detail-info paddingTB10LR15">
        	<div class="pull-left max-width325">
                <div class="prop-name paddingR10" ng-if="areaInfo.data.locSubName"><h1 class="put-ellipsis"> {{areaInfo.data.locSubName}} </h1></div>
                <div class="prop-name paddingT10" ng-if="areaInfo.type == 'city'">{{areaInfo.data.cityName}}</div>
                <a class="locality-link-label pull-left clear put-ellipsis" href="{{areaInfo.data.cityUrl}}/overview" ng-if="areaInfo.type != 'city'">
                    {{areaInfo.data.cityName}}
                </a>
            </div>
            <div class="pull-left border-Left paddingL15"  pt-appreciation rate="areaInfo.data.trend.avgPriceRisePercentage" time="areaInfo.data.trend.avgPriceRiseMonths"></div>
        </div>
        <div class="span7 paddingTB10L15R0">
            <div class="pull-right">
            	<div tooltip="Safety Score" class="pull-left safety-lyfstyl for-subhdr paddingR15" ng-if="areaInfo.data.trend.safetyScore">
                    <i class="fa fa-shield"></i> <span class="count">{{areaInfo.data.trend.safetyScore}}</span>
                </div>
                <div tooltip="Quality of Life Score" class="pull-left safety-lyfstyl for-subhdr lyfstyl border-Right paddingR15" ng-if="areaInfo.data.trend.livabilityScore">
                    <i class="icons-lifestylesmall pull-left"></i> <span class="count">{{areaInfo.data.trend.livabilityScore}}</span>
                </div>
                <div class="pull-left paddingL20 paddingT10 rating-right-info" ng-if="areaInfo.data.rating.ratingsCount > 0">
                    <div class="pull-left ratingHead">USER RATING</div>
                    <div class="pull-left paddingL10" pt-rating ratings="areaInfo.data.rating"></div>
                </div>                
                <div class="pull-left paddingL20">
                    <button class="btn-action pull-left" ng-click="openLeadForm('hidden-requirement-top', 'locality-city')"><i class="fa fa-phone"></i> Get Call Back</button>
                </div>  
            
            </div>
        
        </div>
    </div>    
    <div pt-onscroll ></div>
    <div class="row-fluid marginB20">
        <div class="span3">
            <div class="{{navClass}}">
                <div ng-if="isHeaderSmall" class="contentBoxContainer row-fluid pull-left paddingTB10LR15 marginB15">
                    <div class="prop-meta-detail-info row-full">
                         <div class="prop-name pull-left">{{areaInfo.data.locSubName}}</div>
                         <div class="prop-name pull-left" ng-if="areaInfo.type == 'city'">{{areaInfo.data.cityName}}</div>
                         <div class="prop-address clear paddingT5 pull-left">
                            <a class="locality-link-label pull-left" href="{{areaInfo.data.cityUrl}}/overview" ng-if="areaInfo.type != 'city'">
                                {{areaInfo.data.cityName}}
                            </a>
                        </div>
                    </div>
                    <div class="pull-left row-full paddingTB15">
                        <div ng-if="areaInfo.data.rating.ratingsCount > 0" class="row-full pull-left">
                            <div class="pull-left ratingHead">AVG RATING</div>
                            <div class="pull-left paddingL10" pt-rating ratings="areaInfo.data.rating"></div>
                        </div>
                        <div ng-if="areaInfo.data.rating.totalReviews > 0" class="paddingT10 row-full pull-left">
                            <div class="pull-left ratingHead">TOTAL REVIEWS</div>
                            <div class="pull-left ratingLabel paddingL10">{{areaInfo.data.rating.totalReviews}}</div>
                        </div>
                    </div>
                    <div class="pull-left row-full paddingTB10">
                        <button class="btn-action pull-left" ng-click="openLeadForm('hidden-requirement-left', 'locality-city')"><i class="fa fa-phone paddingR5"></i>Get Call Back</button>
                        <div pt-compare-button ng-if="project" project='project' class="marginL10 pull-left"></div>
                    </div>
                </div>
                <div pt-projectnavigator ng-if="projectSectionsHash" class="row-fluid pull-left"></div>
            </div>
        </div>
        <div class="span9">
        <div pt-neighborhood neighbor="areaInfo.data.amenityTypeCount" mapurl="areaInfo.data.mapUrl" url="areaInfo.data.exploreUrl" marker="true" marker-type="simple" data="areaInfo.data.position" direction="false" class="marginB20"></div>
            <div pt-areaoverview id="overview"></div>
            <div pt-locationpricetrend areainfo="areaInfo.data.priceTrend" id="ptrend"></div>

            <div style="height:1px" id="projects"></div>
            <div pt-forwardflow ng-if="loadLazy"></div>

            <div style="height:1px" id="rating"></div>
            <div pt-commonratinglocality ng-if="areaInfo.type == 'locality'" ng-if="loadLazy"></div>

            <div style="height:1px" id="review"></div>
            <div pt-review ng-if="loadLazy" areaid="areaInfo.id" areatype="areaInfo.type"></div>

            <div style="height:1px" id="blog"></div>
            <div pt-blog cityid="areaInfo.cityId" cityname="areaInfo.cityName" ng-if="loadLazy"></div>

            <div style="height:1px" id="news"></div>
            <div pt-blog cityid="areaInfo.cityId" cityname="areaInfo.cityName" news="1" ng-if="loadLazy"></div>

            <div class="contentBoxContainer marginB15 row-fluid projLeadContainer comm-prom-info">
                <div class="span8 relativePostion comm-imag-info">
                    <div class="prom-bott-bg">
                        <div class="promo-text-info">
                            <div class="promo-head-info" ng-if="areaInfo.data.locSubName">Interested in {{areaInfo.data.locSubName}}?</div>
                            <div class="promo-head-info" ng-if="!areaInfo.data.locSubName">Interested in {{areaInfo.data.cityName}}?</div>
                            <div>Let us find the property of your choice within your budget</div>
                        </div>
                    </div>
                    <div pt-staticimage ></div>
                </div>
                <div class="span4">
                    <div pt-enquireform city-enabled="cEnabled" locality-enabled="lEnabled" ng-if="getLeadData" data-initial="getLeadData('open-requirement-mid', 'promise-overview')"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
