<div ng-switch on="visibleModule" >
	<div ng-switch-default>
		<div pt-dashboard id="portfolio"></div>
		<div class="clearfix"></div>
	</div>
	<div ng-switch-when="enquiredproperty">
		<div pt-enquiredproperty id="portEnquiredProperty"></div>
		<div class="clearfix"></div>
	</div>
	<div ng-switch-when="savedsearches">
		<div pt-savedsearches id="portSavedSearches"></div>
		<div class="clearfix"></div>
	</div>
	<div ng-switch-when="recentlyviewed">		
		<div pt-recentlyviewed id="portRecentlyViewed"></div>		
		<div class="clearfix"></div>
	</div>
	<div ng-switch-when="myfavorites">		
		<div pt-myfavorites id="portMyFavorites"></div>		
		<div class="clearfix"></div>
	</div>
</div>

