<div class="contentHeader">
  <h5>Property Options</h5>
</div>
<div class="content-info row-fluid">
  <div class="relativePostion pull-left row-full" pt-property-listings project='project' page-type="project-property" ng-if="project && project.properties" properties="project.properties" open-lead-form="openLeadForm" show-error-form = "showErrorForm" floorplanimagelist="floorPlanImageList" page="projectDetail"></div>
  <div class="row-fluid paddingT15 pull-left">
    <div class="pull-left">
      <span class="pull-left paddingL10 report-info"><a ng-click="sellProperty('Project')">Sell Your Property</a></span>
      <span ng-if="paymentPlanImages[0].data.length > 0" class="pull-left paddingL15"><a ng-click="open_payment_plan_modal()">View Payment Plan</a></span>
    </div>
    <div class="pull-right">
      <div class="pull-left discla-info overlay-modal discla-right marginR15">{{labels.common.label.DISCLAIMER}}
        <div class="overlay-Wrapper padding10 content-info">{{labels.common.label.DISCLAIMER_INFO}}</div>
      </div>
      <div class="report-info pull-left"><a ng-click="showErrorForm()" class="grayLink"><i class="fa fa-exclamation-triangle"></i> Report Error</a></div>
    </div>
  </div>
</div>
