<div pt-notification ></div>
<div>
    <div pt-breadcrum b-crum="project.bCrum" b-crum-text="project.bCrumText" last-update="project.lastUpdatedAt" seo-data="seoData"></div>
    <div pt-projectheaderbar ng-if="project" class="row-fluid marginB15"></div>

    <div class="more-results-container" ng-if="!project">
        <div pt-loading-block class="searchLoad"></div><div class="searchLoad paddingL5">Loading Project ...</div>
    </div>
    <div ng-if="project">
      <div class="row-fluid marginB20 projLeadContainer">
        <div class="span9" id="projectImages" unique="uniqueProjectImagesId" pt-imagecarousel ng-if="project" settings="projectCarouselSettings" images="imageData" imagesfullview="imageData"></div>
        <div class="span3 onlyproject-enquire" pt-enquireform  ng-if="project" city-enabled="cEnabled" locality-enabled="lEnabled" data-initial="getLeadData('open-enquiry-right')"></div>
    </div>
    <div pt-onscroll></div>
    <div class="row-fluid marginB20">
        <div class="span3">
        	<div ng-class="{'navPosFixed':navClass}">
            	<div pt-projectheadersmall ng-if="isHeaderSmall" class="row-fluid marginB15"></div>
            	<div pt-projectnavigator class="row-fluid marginB15"></div>
            </div>            
        </div>
        <div class="span9">
            <div pt-projectoverview id="overview" ng-if="project"></div>
            <div pt-projectdeals ng-if="project.offers"></div>
            <div id="proj_specs">
                <div pt-projectoptions></div>
            </div>

            <div style="height:1px" id="ptrend"></div>
            <div pt-locationpricetrend ng-if="loadLazyWidgets" areainfo="areaInfoForGraph"></div>
            <div class="contentBoxContainer padding20 marginB15" ng-if="construction && construction.length>0" >
            <div class="contentHeader" id="construction_update">
				<h5 class="ng-binding">
				  Construction Updates
				</h5>
            </div>
            <div id="constructionImages" ng-if="loadLazyWidgets" pt-imagecarousel unique="uniqueConImagesId" focus="false" settings="projectConstructionCarouselSettings" images="construction" imagesfullview="construction" class="widgeteDetailContainer"></div>
            </div>
            <div pt-similarprojects ng-if="loadLazyWidgets"></div>
            <div pt-builder-overview-card card="project.builderCard" ng-if="loadLazyWidgets" class="prop-builder-card"></div>
            <div pt-projectneighborhood id="loc_overview"></div>
            <div id="home_loan"></div>
            <div pt-projecthomeloan  ng-if="loadLazyWidgets" loanproviderbanks="project.loanProviderBanks" leadform="openLeadForm"></div>
            <div pt-projectemi ng-if="loadLazyWidgets" id="emi_calc"></div>
            <div ng-if="loadDiscussions" class="contentBoxContainer marginB15 row-fluid comm-prom-info projLeadContainer">
               <div class="span8 relativePostion comm-imag-info">
               		<div class="prom-bott-bg">
                    	<div class="promo-text-info"> 
                        	<div class="promo-head-info">Do you like a property but can’t make a decision?</div> 
                            <div>PropTiger promises to help you make the right choice</div>
                        </div>
                    </div>
                	<div pt-staticimage ></div>
               </div>
               <div class="span4">
                    <div pt-enquireform ng-if="project" city-enabled="cEnabled" locality-enabled="lEnabled" data-initial="getLeadData('open-requirement-mid', 'promise-project')"></div>
                </div>
            </div>
            <div id="discuss" style="height:1px"></div>
            <div pt-discussionboard ng-if="loadDiscussions" projectid="project.projectId"></div>
        </div>
    </div>
    </div>
</div>
