/* 
Desc: Media Queries Scss Document 
Author: Sanjeev Verma
Date: 3 Dec 2013
*/ 
@media ( min-width:1200px){
	.header {
		.headerSection, .searchFilter{ width:1170px; }
	}
	.fullMainContainer{ width: $body-width !important;
		padding:55px 0 0 0 !important;
		.fullContContainer{ width:1170px;}
		.propRealEstate{ 
			.fullContContainer{ width:910px !important;}
		}
	}
	.propSliderTab{
		.carousel-indicators{ width:1170px !important;}
	} 
	.mainContainer, .footer-container, .footer-cont-info, .copy-container, .searchFilter{ width:1170px;}
}
