/* 
Desc: Image Zoom Scss Document 
Author: Sanjeev Verma
Date: 05 Mar 2014
*/
.image-view-info{ width:$body-width; 
	height:$body-width;
}
.img-cont-info{ width:$body-width; 
	height:$body-width;
	background:$Black-gray-color;
	position:relative;
	overflow:hidden;
	&.img-buil-view-info{ background:$white-color !important;
		.big-img-info{ position:relative; 
			width:$body-width !important;
			height:$body-width !important;
			top: 0% !important;
			left: 0% !important;
			display:block;
			.img-crop-info{ width:$body-width;
				height:$body-width;
				text-align:center;
				display:block;
				top:0;
				left:0;				
				&:before{
					content: '';
					height:100%;
					display:inline-block;
					vertical-align:middle;
				}
				img{ width:auto;
					height:auto;
					max-width:100%;
					max-height:100%;
					margin:0 auto;
					display:inline-block;
				}
				.parent-blocking{ margin-top:5%; 
					i{ color:$dark-gray-color;}
					.big-loader{display:none;
						display:block\9;
						.spinLoader{ width:20px;
							height:20px;
							display:inline-block;			 
							background: url("../images/loader_small.gif");
						}
					}
				}
			}
		}
	}
	&.img-top-info{
		.big-img-info{ position:absolute; 
			width:140%;
			height:140%;
			top: 0 !important;
			left: -20%;
			display:table;
			.img-crop-info{ width:$body-width;
				height:$body-width;
				text-align:center;
				display:table-cell;
				display:inline-block\9;
				vertical-align:top;
				img{ width:auto;
					height:auto;
					max-width:100%;
					max-height:100%;
					margin:0 auto;
				}
				.parent-blocking{ margin-top:20%;
					i{ color:$White-gray-color;}					
					.big-loader{display:none;
						display:block\9;
						.spinLoader{ width:20px;
							height:20px;
							display:inline-block;			 
							background: url("../images/loader_black_small.gif");
						}
					}
				}
			}
		}
	}
	.big-img-info{ position:absolute; 
		width:140%;
		height:140%;
		top: -20%;
		left: -20%;
		display:table;
		.img-crop-info{ width:$body-width;
			height:$body-width;
			text-align:center;
			display:table-cell;
			vertical-align:middle;
			img{ width:auto;
				height:auto;
				max-width:100%;
				max-height:100%;
				margin:0 auto;
			}
			.parent-blocking{
				i{ color:$White-gray-color;}				
				.big-loader{display:none;
					display:block\0;
					.spinLoader{ width:20px;
						height:20px;
						display:inline-block;			 
						background: url("../images/loader_black_small.gif");
					}
				}
			}
		}
	}
}
.cont-buil-prop-info{ position:absolute;
	left:0px;
	bottom:0px;
	@include fontStyle($openSans:true);
	font-size: $body-font-size + 2px; 
	color:$white-color;
	background: rgba(17,17,17,0.5);
	padding:5px;
	white-space:nowrap;
	z-index:1;
	line-height:16px;
}

