/* 
Desc: Range Slider Scss Document 
Author: Sanjeev Verma
Date: 22 April 2014
*/
.ui-slider { position:relative;
	text-align:left;
	.ui-slider-range{ position:absolute;
		display:block;
		font-size:.7em;
		z-index:1;		
	}
	.ui-slider-handle{ position:absolute;
		top:0;
	}
}
.ui-widget{ font-size:1.1em;}
.ui-widget-content .ui-state-default {
	border: none !important;
	background: url(../images/range-marker.png) no-repeat top left;
	font-weight: normal;
	color: #555555;
	width:10px;
	height:20px;
	outline:none;
}

.ui-slider-horizontal .ui-slider-handle {
	top: 0.5em;	
	@include rounded($radius:0px);
	margin-left: -0.35em;
}

.ui-slider-horizontal .ui-slider-range {
	background:#f39c13;
	@include rounded($radius:0px);
	top:0;
	height:$body-width;
}

.ui-slider-horizontal {
	background:#cccccc;
	border-radius:0px;
	border:none;
	height: .8em;
}


