/* 
Desc: Discussions View Scss Document 
Author: Sanjeev Verma
Date: 13 Jan 2014
*/ 


.posts-container{ width: $body-width;
	margin:0 auto;
	text-align:center;
	.posts-icon-cont{ @include fontStyle($openSansBold:true);
		font-size:$body-font-size + 6px;
		color:$darkligh-gray-color;
		text-align:center;
		i{ margin:0 3px 0 0;}
		.discussLink{
			i{ color:$anchor-link-color;}
		}
	}
	.posts-label{ @include fontStyle($openSans:true);
		font-size:$body-font-size - 1px;
		color:$darkligh-mid-gray-color;
		text-align:center;
	}
	
	
}
.proj-post-info{@include fontStyle($openSansBold:true);
		font-size:$body-font-size + 2px;
		color:$anchor-link-color;
		text-align:center;
		i{ color:$anchor-link-color;}
}
a{ 
	.posts-container{ 
		.posts-icon-cont{ color:$anchor-link-color;
			i{ margin:0 3px 0 0; 
				color:$anchor-link-color;
			}
		}
	}
}
.over-post-info{
 	@extend a;
}



