
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fs0 {
	font-size: 16px;
}

.fs15p {font-size: 15px; line-height:15px;}

.icon-bus-stop:before {
	content: "\53";
}
.icon-train-station:before {
	content: "\54";
}
.icon-metrostation:before {
	content: "\56";
}
.icon-airport:before {
	content: "\55";
}
.icon-Oth:before {
	content: "\68";
}
.icon-Ind:before {
	content: "\68";
}
.icon-car:before {
	content: "\57";
}
.icon-Sec:before {
	content: "\69";
}
.icon-Gym:before {
	content: "\6b";
}
.icon-Pow:before {
	content: "\6a";
}
.icon-Swi:before {
	content: "\6c";
}
.icon-Chi:before {
	content: "\6d";
}
.icon-Caf:before {
	content: "\6e";
}
.icon-Clu:before {
	content: "\6f";
}
.icon-Spo:before {
	content: "\70";
}
.icon-petrol-station:before {
	content: "\4b";
}
.icon-mall:before {
	content: "\e600";
}
.icon-school:before {
	content: "\49";
}
.icon-favorite:before {
	content: "\44";
}
.icon-villa:before {
	content: "\43";
}
.icon-apartment:before {
	content: "\42";
}
.icon-plot:before {
	content: "\41";
}
.icon-Mai:before {
	content: "\77";
}
.icon-Int:before {
	content: "\76";
}
.icon-Gol:before {
	content: "\75";
}
.icon-Lan:before {
	content: "\74";
}
.icon-Rai:before {
	content: "\73";
}
.icon-Mul:before {
	content: "\72";
}
.icon-Jog:before {
	content: "\71";
}
.icon-bank:before {
	content: "\4c";
}
.icon-restaurant:before {
	content: "\4d";
}
.icon-hospital:before {
	content: "\4e";
}

/* makes the font 33% larger relative to the icon container */
.pt-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.pt-2x {
  font-size: 2em;
}
.pt-3x {
  font-size: 3em;
}
.pt-4x {
  font-size: 4em;
}
.pt-5x {
  font-size: 5em;
}
.pt-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.pt-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.pt-ul > li {
  position: relative;
}
.pt-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}
.pt-li.pt-lg {
  left: -1.8571428571428572em;
}
.pt-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pt.pull-left {
  margin-right: .3em;
}
.pt.pull-right {
  margin-left: .3em;
}
.pt-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.pt-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pt-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pt-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.pt-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.pt-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.pt-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.pt-stack-1x,
.pt-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.pt-stack-1x {
  line-height: inherit;
}
.pt-stack-2x {
  font-size: 2em;
}
.pt-inverse {
  color: #ffffff;
}

