/* 
Desc: Overlay View Scss Document 
Author: Sanjeev Verma
Date: 27 Dec 2013
*/

.overlay-modal{
	position:relative;
	&:hover{
		.overlay-Wrapper{ opacity:1;
			visibility:visible;
			@include transition-delay(0.5s);
		}
	}
}

.overlay-Wrapper{ width: 400px;
	position:absolute; 
	margin:0;
	background:$widget-container-bgcolor;
	@include box-shadow($darkligh-gray-color 0px 0px 10px);
	border:1px solid $lighter-gray-color \9;
	z-index:3;
	-moz-transition:opacity 0.2s ease-out, visibility 0.1s linear;
	-webkit-transition:opacity 0.2s ease-out, visibility 0.1s linear;
	-ms-transition:opacity 0.2s ease-out, visibility 0.1s linear;
	-o-transition:opacity 0.2s ease-out, visibility 0.1s linear;
	transition:opacity 0.2s ease-out, visibility 0.1s linear;
	opacity:0;
	visibility:hidden;
	.border-top{ border-top:1px solid $lighter-gray-color;}
	.contentHeader{
		h4{ @include fontStyle($openSans:true); 
			font-size:$body-font-size + 2px;
			color:$dark-gray-color; 
			a{
				span{ float:left;
					max-width:150px; 
					overflow:hidden;
					text-overflow:ellipsis;
					white-space:nowrap;
					padding:0 5px 0 0;
				}
			}
		}		
	}
	.top-container{
		h6{ overflow:hidden;
			span{ float:left; 
				max-width:150px; 
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
			}
		}
	}
	.overlay-cont-container{
		.desc-text{ @include fontStyle($openSans:true);
			font-size:$body-font-size; 
			color:$darkligh-gray-color;
		}
		.stat-content{ width: $body-width - 67%; 
			padding:0 0 5px 0;
			.stat-heading{ @include fontStyle($openSansBold:true); 
				font-size:$body-font-size; 
				color:$darkligh-gray-color;
			}
			.stat-head-info{ @include fontStyle($openSansBold:true); 
				font-size:$body-font-size - 1px; 
				color:$darkligh-gray-color;
			}
			.stat-value{ @include fontStyle($openSansBold:true);
				font-size:$body-font-size + 2px; 
				color:$darkligh-gray-color;
			}
		}
		.block-label{@include fontStyle($openSansBold:true); 
			font-size:$body-font-size - 1px; 
			color:$darkligh-gray-color;
			text-transform:uppercase;
		}
		.block-review-count{@include fontStyle($openSansBold:true);
			font-size:$body-font-size + 2px; 
			color:$dark-gray-color;
		}
	}
	.prop-img-info{ width:$body-width;
		height:100px;
		background:$Black-gray-color;
		.prop-img-dis-info:first-child{ border-left: none;}
		.prop-img-dis-info{ height:$body-width;
			float:left;
			padding:0;
			border-left:2px solid $white-color;
		}
	}
		
}