/* 
Desc: Footer Scss Document 
Author: Sanjeev Verma
Date: 24 Sept 2013
*/
.seo-footer{ background: $light-gray-color; 
	width: $body-width;	
}
.footer-cont-info{ width: $body-width;
	margin:0 auto;
	@include box-sizing(border-box);
	padding:10px 10px 10px 10px;
	@include fontStyle($openSans:true);
	.footer-prop-link{ padding:0 0 5px 0;
		a{ margin:0 5px 0 10px;
			&:hover{ text-decoration:underline;}
		}
	}
}
.page-footer{
	background: $footer-bgcolor;
	width: $body-width;	
	}
.footer-container{ width: $body-width;
	margin:0 auto;
	@include box-sizing(border-box);
	padding:30px 0 20px 10px;
	padding:30px 15px 20px 15px \9;
	background:url(../images/footer-bg.gif) no-repeat bottom center;
	@include fontStyle($openSans:true);
	.corporateLink{
		ul{
			li{ display:block;
			&.suHeading{ padding:0 0 8px 0;}
				a{ @include fontStyle($openSans:true);
				  	font-size:$body-font-size;
					color: $footer-text-color;
					&:hover{ color: $footer-text-color;}
				}
			}
		}		
	}
	.footerContactDetail{ padding:0 0 15px 0;
		.footerCallDetail{ width: $body-width;
			float:left; 
			padding:0 0 10px 0;
			.officeDetail{font-size:$body-font-size;
					@include fontStyle($openSans:true);
					color:#f39c13;}
			.dropdown{
				a{ font-size:$body-font-size + 2px;
					@include fontStyle($latoBold:true);
					display:block;
					color:#f39c13; 
					i{@include rounded($radius:14px);}
					.caret{ border-top: 4px solid #f39c13;}
					}
				&:hover{
						ul{ display:block !important;}
						}
				}
			ul.dropdownlist{ min-width:175px;
				border:none !important;
				display:none;
				position:absolute;
				background:#ffffff;
				@include box-shadow(rgba(0, 0, 0, 0.2) 0px 5px 10px);
				top:100%;
				left:0;
				z-index:1000;
				padding:5px 0; 
				li {
					padding:0;
					height:auto;
					display:block !important;
					a{
						color:$dropdown-color;
						padding:8px 15px;
						background-color:$dropdown-bgcolor;
						font-weight:normal;
						@include fontStyle($openSans:true);
						i{ margin:0px 5px 0 0;}
						&:hover{
							color:$dropdown-active-color;
							background:$dropdown-active-bgcolor !important;
						}
					}
				}
				 
			}
			
		}
		.regionalOfficeDetail{ 
			a{ @include fontStyle($openSans:true);
				font-size:$body-font-size;
				color:$footer-text-color;}
		}		
	}
			
}
.suHeading{ font-size:$body-font-size + 2px;
		color:#cccccc;
		@include fontStyle($openSans:true);
}

.copyright{  width:$body-width;
	background: $copyright-bgcolor;
	text-shadow: none;
	min-height: 20px;
	color: $footer-text-color;
	margin: 0;
	text-align: center;
	font-size: $body-font-size - 1px;
	@include box-sizing(border-box);
	padding:0;
	.copy-container{
		padding:0 10px;
		margin:0 auto;
		@include box-sizing(border-box);}
	a{ text-decoration:none; color:$footer-text-color;}
	.col-followUs{ padding:0; position:relative;
		ul{ list-style-type:none; margin:-5px 0 0 0 !important; 
			li{ display:table-cell;
				padding:0 0 0 10px; 
			a{ margin:0; display:block;}
			a:hover{ text-decoration:none;}				
			}
		}
	}
}

