/* 
Desc: Blog Post Scss Document 
Author: Sanjeev Verma
Date: 16 Jan 2014
*/

.blog-post-content:last-child{ border-bottom:none; margin:10px 0 0 0; padding:0;}
.blog-post-content{ border-bottom:1px solid $lighter-gray-color; margin:10px 0;
	.blog-post-img{ width:$body-width; 
		height:100px;
		background:$Black-gray-color;;
		text-align:center;
		&:before{
			content: '';
			height:100%;
			display:inline-block;
			vertical-align:middle;
		}
		img{ width:auto;
			height:auto;
			max-width:100%;
			max-height:100%;
			margin:0 auto;
		}
	}
}
.blog-post-info{
	.blog-head{ @include fontStyle($openSansBold:true);
		font-size:$body-font-size;
		color:$darkBlack-gray-color;
	}
	.blog-date{ @include fontStyle($openSans:true);
		font-size:$body-font-size;
		color:$darkligh-gray-color;
	}
	
}
.blog-content-info{ @include fontStyle($openSans:true);
	font-size:$body-font-size;
	color:$dark-gray-color;
	line-height:16px;
}
.blog-comm-info{ @include fontStyle($openSansBold:true);
	font-size:$body-font-size - 1px;
	color:$darkligh-mid-gray-color;
}