/* 
Desc: Project View Scss Document 
Author: Sanjeev Verma
Date: 30 Dec 2013
*/
.content-info{ @include fontStyle($openSans:true);
	color:$dark-gray-color;
	font-size:$body-font-size;
}
h6{	margin:0 0 5px 0;
	color:$dark-gray-color;
	&.sub-Header{ color:$dark-gray-color; 
		border-bottom: 1px solid $lighter-gray-color;
		font-weight:normal !important;
		a{ @include fontStyle($openSans:true);
			font-size:$body-font-size;
			color:$darkligh-gray-color !important;
			text-align:right;
			padding:0 2px 0 0;
			cursor:pointer;
			&:hover{ color:$anchor-link-color !important; 
				text-decoration:underline;
			}
		}
	}
}
.forw-link-info{ @include fontStyle($openSans:true);
	font-size:$body-font-size;
	color:$darkligh-gray-color !important;
	cursor:pointer;
	font-weight:normal !important;
	&:hover{ color:$anchor-link-color !important;
		text-decoration:underline;
	}		
}
.prop-buil-logo{ width: auto; 
	height:auto;
	padding:0 10px 0 0;
	@include box-sizing(border-box);
	img{ height:auto; 
		max-height:40px;
	}
}
.prop-speci-info{ width: $body-width - 50%; 
	@include box-sizing(border-box);
	clear:left;
	clear:inherit\9;
	&:nth-child(even){ 
		clear:none;		
	}
}
.prop-over-info{ padding: 0 0 0 15px;
	@include fontStyle($openSans:true);
	color:$dark-gray-color;
	font-size:$body-font-size;
	@include box-sizing(border-box);
	span{ width: $body-width - 50%; 
		float:left; 
	}
}
.over-post-info{ background:$White-gray-color;
	@include rounded($radius:5px);
	&.post-about-it-info{ padding:15px 15px 7px 15px;
		.posts-icon-cont{ padding:5px 0 0 0;}
		.posts-label{ padding:5px 0 0 0;}
	}
	.prop-img-local-info{ background:$Black-gray-color;
		width: $body-width - 70%; 
		height:80px;
		@include rounded($left:true, $radius:5px);
		overflow:hidden;
		img{ width: $body-width; height:$body-width;}
	}
	.prop-local-info{ width: $body-width - 30%;
		@include box-sizing(border-box);
		padding: 7px 10px;
		> div{ width: $body-width; 
			@include box-sizing(border-box);
		}
		.prop-head-info{ @include fontStyle($openSans:true);
			font-size:$body-font-size;
			color:$darkBlack-gray-color;
			font-weight:bold;
		}
		.prop-local-rating-info{ @include fontStyle($openSans:true);
			font-size:$body-font-size - 1px;
			color:$darkligh-gray-color;
			font-weight:bold;
			text-transform:uppercase;
		}
		.prop-local-rev-info{@include fontStyle($openSans:true);
			font-size:$body-font-size - 1px;
			color:$darkligh-gray-color;
			font-weight:bold;
			text-transform:uppercase;
			span{ font-size:$body-font-size;
			color:$dark-gray-color;}
		}
	}
	.ameni-icon-info{ padding:0 0 0 15px;
		.ameni-icon-container{ min-width: 40px; 
			padding:0 15px 10px 0;
			text-align:center;
			@include box-sizing(border-box);
			i{ font-size: $body-font-size + 16px;
				color:$dark-gray-color;
				padding:0;
			}
		}				
	}
	.ameni-link-info{ padding:0 15px 0 0;
		a{ @include fontStyle($openSans:true);
			font-size:$body-font-size - 2px;
			color:$gray-color !important;
			text-align:right;
			padding:0 2px 0 0;
			cursor:pointer;
			text-align:right;
			&:hover{ color:$anchor-link-color !important; 
				text-decoration:underline;
			}
		}
		
	}
}

.sub-date-info{ @include fontStyle($openSans:true);
	font-size:$body-font-size;
	font-weight:bold;
	color:$dark-gray-color;
	padding:0 0 0 5px;
	 display:block;
	.date-info{ @include fontStyle($openSansBold:true);
		color:$darkligh-gray-color;
		font-size:$body-font-size - 1px;
		text-transform:uppercase;
		display:inline-block;
		padding:0 5px 0 0;
	}
	.launch-soon-prot{ background:$mid-blue-color;
		@include fontStyle($openSansBold:true);
		font-size:$body-font-size;
		color:$white-color;
		padding:2px 10px;
		margin:0 0 0 10px;
	}
	.new-launch-prot{ background:$light-green-color;
		@include fontStyle($openSansBold:true);
		font-size:$body-font-size;
		color:$white-color;
		padding:2px 10px;
		margin:0 0 0 10px;
	}	
}
.trend-head-info{
	ul.trend-nav{
		li{ display:block; float:left;
			a{ @include fontStyle($openSansBold:true);
				color:$darkligh-gray-color;
				font-size:$body-font-size + 1px;
				margin:0 15px 0 0;
				&:hover, &.active{ color:$body-selected-color;
				} 
			}
		}
	}
	.trend-head-text{ @include fontStyle($openSansBold:true);
		color:$body-selected-color;
		font-size:$body-font-size + 2px;
	}	
}
.amen-show-text-info{ width: $body-width;
	padding:0 0 10px 0;
	ul{
		li{ width: $body-width - 50%; 
			float:left;
		}
	}
}
.amen-cont-info{ width: $body-width - 75%;
	display:inline-block;
	padding:0 0 10px 0;
	&.disabled{ color:$lighter-gray-color !important;}
	i{ font-size:20px; 
		padding-right:5px;
	}
	.amen-text-info{ width: $body-width - 20%;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		padding:0 0 0 5px;
	}
}
.proj-spec-info{ /*min-height:150px !important;*/}
.proj-neig-info{ padding:10px 0 0 0;
	.contentBoxContainer{ @include box-shadow(none);}
	.proj-neig-about-info{
		.contentBoxContainer{ padding:20px 20px 0 20px !important;}
	}
	.proj-rating-info{ background:$White-gray-color;
		.contentBoxContainer{ background:none;}
	}
	.proj-review-info{ background:$White-gray-color;
		.contentBoxContainer{ background:none; 
			margin:0 !important;
		}
	} 
}
.proj-prop-det-info{ float:left;
	label{ width:$body-width - 70%;
		@include fontStyle($openSans:true);
		font-size:$body-font-size;
		color:$dark-gray-color;
		float:left;
		text-align:right;
		padding:0 10px 0 0;
		@include box-sizing(border-box);
	}
	span{width:$body-width - 30%;
		@include fontStyle($openSansBold:true);
		font-size:$body-font-size;
		color:$dark-gray-color;
		float:left;
	}
}
.proj-floor-plan-info{ @include fontStyle($openSans:true);
		font-size:$body-font-size;
		color:#fff;
		text-align:center;
		padding:2px 5px;
		background:none repeat scroll 0 0 rgba(17, 17, 17, 0.5);
		bottom:0;
		left:0;
		width:$body-width;
		position:absolute;
		white-space:nowrap;
		@include box-sizing(border-box);
}
.proj-floor-plan-img-info{ margin:0 auto; display:table;}
.proj-prpt-img-info{ background:$dark-gray-color;
	max-width:140px;
	max-height:130px;
	height:130px;
	margin:0 auto;
	text-align:center;
	display:block;
	vertical-align:middle;
	img{ width:auto;
		max-width:140px;
		max-height:130px;
	}
}
.proj-see-more-info{ 
	.proj-see-link{ border-top:1px solid $lighter-gray-color;
		padding:10px 0 0 0;
		a{ margin:0 0 0 10px;
			&:hover{ text-decoration:underline !important;}
		}
	}
}
.onlyproject-enquire .formFieldArea .formAutoRow, .onlyproject-enquire .formFieldArea .formRow {
	display:inline-block; height:60px;overflow:visible;
}
.onlyproject-enquire .enq-form-info p { margin:0 0 13px 0;}
.onlyproject-enquire .formFieldArea .formAutoRow.error .error-info, .onlyproject-enquire .formFieldArea .error.formRow .error-info { color:#FF5C00;}
.map_container { width: 100%;
    height: 100%;
}
.nearby-palette{ position:absolute;
	top:15px;
	left:0;
}
.map-fluid{ width:100%; height:100%;}
.proj-map-neigh-info{ min-width:150px;
	background:$white-color;
	padding:6px 4px;
	.proj-map-head-info{ background:$light-mid-gray-color;
		@include fontStyle($openSans:true);
		font-size:$body-font-size;
		color: $dark-gray-color;
		padding:3px 5px;
		margin-bottom:5px;
	}
	ul { padding:0px;
		margin:0px;
		&.prol-map-list-view{
			li{ padding:3px 0;
				a{ @include fontStyle($openSans:true);
					font-size:$body-font-size;
					color: $dark-gray-color;
					padding:3px 5px;
					i{ padding:0 5px 0 0;}
					.icon-school { color: #3a95c4; }
					.icon-restaurant { color: #8059a5; }
					.icon-hospital { color: #ce4f2d; }
					.icon-petrol-station { color: #333333; }
					.icon-bank { color: #c74560; }
					.icon-bus-stop { color:#CC7700;}
					.icon-train-station { color:#501100;}
					.icon-airport { color:#006633;}
					&:hover{ text-decoration:none;
						color:$anchor-link-color;
					}
					&.active{ color:$anchor-link-color;
						font-weight:bold;
					}
				}
			}
		}
	}
	
}
