<div class="widgetContainer">
    <div class="row-fluid tabContainer padding15">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ng-repeat="graph in graphList" ng-class="{'active': graph.active}" ng-click="toggle(graph.name)">
                    <a>{{graph.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-info">
        <div ng-repeat="graph in graphList">
            <div ng-if="graph.active">
                <div pt-widgetchart widget-data="graph.content" ng-if="graph.content" tab-change="tabChange"></div>
            </div>
        </div>
    </div>
</div>