<div>
	<div pt-widgetcontainer id="portPropListHeader" name-param="propDetailWidgetName">
        <div class="widgeteDetailContainer">            
            <div class="btn-primary pull-right marginB10" ng-click="addProperty()"><i class="fa fa-plus"></i> Add Property</div>
            <div ng-show="isNewUser">
                <div class="noPorfolioAccount">
                    <div class="noAccounthead">Things that you can do with My Portfolio:</div>
                    <div class="row-fluid">
                        <div class="span6 padding10">
                            <span><i class="icons-portfolio-track-icon pull-left"></i>Add and track any property that you own.</span>
                            <span><i class="icons-portfolio-price-icon pull-left"></i>Track the price movement of your project vis-a-vis market</span>
                            <span><i class="icons-portfolio-update-icon pull-left"></i>Get the latest update on construction status of your project</span>
                        </div>
                        <div class="span6 padding10">
                            <span><i class="icons-portfolio-goal pull-left"></i>Track the goal amount of your property  </span>
                            <span><i class="icons-portfolio-review-icon pull-left"></i>Follow the project and locality  related discussions and reviews.</span>
                            <span><i class="icons-portfolio-sell-icon pull-left"></i>Inform us if you want to sell your property, or avail a home loan against it.</span>
                        </div>          
                    </div>
                    <div class="noAccountsubhead">More to come:</div>
                    <div class="row-fluid">
                        <ul>
                            <li>Upload and manage documents</li>
                            <li>Manage your payment plan</li>
                            <li>Project Update Notifications through email</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div ng-show="!isNewUser" pt-widgetgrid></div>            
        </div>
    </div>
</div>
