<div>
    <div pt-widgetcontainer name-param="relatedWidgetName">
        <div class="widgeteDetailContainer">
            <div class="row-fluid">
                <div class="span4">
                	<span class="relatedText">{{projectName}}</span>
                    <ul>
                        <li><a ng-click="sendGAEvent('portfolio', 'clicked', 'Project Detail'); mixPanelTracking('Project Detail Clicked', {'Project ID' : projectId , 'Page Name' : pageType});" target="_blank" href="/{{relatedUrl.projectUrl}}">View Project details</a></li>
                        <li><a ng-click="sendGAEvent('portfolio', 'clicked', 'Project Review'); mixPanelTracking('Project Review Clicked', {'Project ID' : projectId , 'Page Name' : pageType});" target="_blank" href="/{{relatedUrl.projectReviewUrl}}">Write/Read a review</a></li>
                    </ul>
                </div>
                <div class="span8">
                	<span class="relatedText">{{areaName}}</span>
                    <ul>
                        <li><a ng-click="sendGAEvent('portfolio', 'clicked', 'Locality Detail');mixPanelTracking('Locality Detail Clicked', {'Locality ID' : localityId , 'Page Name' : pageType});" target="_blank" href="/{{relatedUrl.localityUrl}}">View Locality details</a></li>
                        <li><a ng-click="sendGAEvent('portfolio', 'clicked', 'Locality Review');mixPanelTracking('Locality Review Clicked', {'Locality ID' : localityId , 'Page Name' : pageType});" target="_blank" href="/{{relatedUrl.localityReviewUrl}}">Write/Read a review</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
