<div>
	<div pt-widgetcontainer name-param="portfolio.label.EMAIL_NOTIFICATION">
        <div class="widgeteDetailContainer formArea">
        	<div class="row-fluid">
            	<div class="span12">
                	<input type="checkbox" title="" />
                    <span>Price Change</span>	
                    <input type="checkbox" title="" />
                    <span>Construction Update</span>
                    <input type="checkbox" title="" />
                    <span>New Reviews</span>
                    <input type="checkbox" title="" />
                    <span>New Document Upload</span>
                </div>
                <button class="btn-primary">Save Settings</button>                
            </div>
        </div>
    </div>
</div>