<div ng-if="!isNewUser" class="widgetContainer">
    <div class="row-fluid tabContainer padding15">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ng-repeat="graph in graphList" ng-class="{'active': graph.active}" ng-click="toggle(graph.name)">
                    <a>{{graph.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-info">
        <div ng-repeat="graph in graphList">
            <div ng-if="graph.active">
                <div class="graphTopContentView" data-toggle="buttons" ng-if="graph.name == 'Portfolio Overview'">
                    <label>
                        <input type="radio" name="prop_selected" checked ng-click="setAssessmentData(orig_data.properties)"> Overall Portfolio
                    </label>
                    <label ng-if="orig_data.properties.length > 1" ng-repeat="prop in orig_data.properties">
                    	<input type="radio" name="prop_selected" ng-click="setAssessmentData(prop)"> {{prop.name}}				
                    </label>
                </div>
                <div pt-widgetchart widget-data="graph.content" tab-change="tabChange" class="clear"></div>
            </div>
        </div>
    </div>
</div>