<div class="row-fluid paddingB40 paddingT15 error-page-info">
	<div class="span10 offset2 relativePostion">
    	<img src="/styles/images/404.jpg">
    	<div class="error-cont-info">
        	<div class="error-top-info">Error 404!</div>
            <div class="error-bottom-info">
            	<div class="row-full error-mess-info marginB20">This wild page has escaped from our servers.</div> 
                <a href="/" target="_self" class="btn-primary small-btn">go to homepage</a>
            </div>
        </div>
    </div>
    
</div>