<div pt-Sidebar class="span3 paddingT15">
  <div pt-quicklinks id="portQuickLinks"></div>
</div>
<div class="span9 marginT21 contactus-wrap" >
  <div class="contentBoxContainer marginB15 paddingTB20LR25">
    <div class="contentHeader">
      <h4>Contact Us</h4>
    </div>
    <p>Get in touch with us for your property requirement, query, complaint or feedback on our dedicated customer service helpdesk number & email ID</p>
    <div class="row-fluid">
      <div class="span5">
        <address>
          <strong>Helpdesk :</strong>  +91-92788-92788 <br/>
	  <strong>eMail : </strong> <a class="link" href="mailto:customer.service@proptiger.com">customer.service@proptiger.com</a>
        </address>
        <p>Please note that our helpdesk agents are available from 9:00 a.m. to 7:30 p.m. *365 days except festival holidays</p>
        <div class="contentHeader">
	  <h5>Write to us</h5>
	</div>
        <address>
	  Write to us on the below mentioned address:<br/><br/>
	  <strong>Head Office Address : </strong>D-12, 1st Floor, Sector-3,<br/> Noida - 201301 (Uttar Pradesh) India.
	</address>
	
      </div> 
      <div class="span6" ng-controller="leadController">
        <div class="enqu-form-container" pt-enquireform city-enabled="cEnabled" locality-enabled="lEnabled" data-initial="myData"></div>
      </div>
    </div>
    
    
    
  </div>

  <div class="contact-head paddingB15"> REGIONAL OFFICES </div>
  <div class="" pt-widgetlinkcontainer name-param="fsWidgetNameContact[1]">
    <div class="widgeteDetailContainer">
      <div class="span4">
        <h6>Noida - Sales Office</h6>
        <address>
          A-4, Ist Floor, Sector 4, Noida 201301 (U.P.)<br />
          Helpdesk: +91 92788 92788<br />
        </address>
      </div>
      <div class="span4">
        <h6>Gurgaon</h6>
        <address>
          SCO-11 & 12, 1st Floor, Near Om Sweets,<br />
          Sector-31, Gurgaon - 122001.<br />
          Helpdesk: +91 92788 92788<br />
        </address>
      </div>
    </div>
    </div>
    <div class="" pt-widgetlinkcontainer name-param="fsWidgetNameContact[3]">
      <div class="widgeteDetailContainer">
        <div class="span4">
          <h6>Ahmedabad</h6>
          <address>
            A-803, Infinity, Beside Hotel Ramada, Corporate Road,<br />
            Near Prahlad Nagar Garden, Ahmedabad- 15.<br />
            Helpdesk: +91 92788 92788<br />
          </address>
        </div>
        <div class="span4">
          <h6>Mumbai</h6>
          <address>
            1st Floor, Runwal Chambers, <br />
            Opp - BMC Office, <br />
            Near - Chembur Railway Station,<br />
            Chembur - East, Mumbai - 400071.<br />
            Helpdesk: +91 92788 92788<br />
          </address>
        </div>
        <div class="span4">
          <h6>Pune</h6>
          <address>
            Office Number - 1B/2, B3, Cerbrum IT Park,<br />
            Kalyani Nagar, Pune - 411014.<br />
            Helpdesk: +91 92788 92788<br />
          </address>
        </div>
      </div>
    </div>
    
    <div class="" pt-widgetlinkcontainer name-param="fsWidgetNameContact[4]">
      <div class="widgeteDetailContainer">
        <div class="span4">
          <h6>Bangalore</h6>
          <address>
            No.16 KMC Arcade, 100 feet inner ring road<br />
            Ejipura,Koramangala,<br />
            Bangalore 560047 (Karnataka)<br />
            Helpdesk: +91 92788 92788<br />
          </address>
        </div>
        <div class="span4">
          <h6>Chennai</h6>
          <address>
            Office Number - C-53, 1st floor, Karthika Industries,<br />
            Guindy Industrial Estate, Chennai- 600032<br />
            Helpdesk: +91 92788 92788<br />
          </address>
        </div>
      </div>
    </div>
    
    <div class="" pt-widgetlinkcontainer name-param="fsWidgetNameContact[2]">
      <div class="widgeteDetailContainer">
        <div class="span4">
          <h6>Kolkata</h6>
          <address>
            Office Number - 86/B/2 Topsia Road, <br />
            Gajraj Chambers, 3rd Floor, <br />
            Suite # 3 B, Kolkata - 700046<br />
            Helpdesk: +91 92788 92788<br />
          </address>
        </div>
      </div>
      
    </div>
  </div>

