<div pt-Sidebar class="span3 paddingT15">
	<div pt-quicklinks id="portQuickLinks"></div>
</div>
<div class="span9 marginT21">
    <div class="contentBoxContainer marginB15 paddingTB20LR25 tabContainer">
    	<div class="contentHeader">
            <h4>Careers</h4>
        </div>
        <div class="row-full paddingL15">
            <tabset justified="true">
                <tab heading="Meet Proptiger">
                    <div class="contentHeader">
                        <h5>Work @ Prop<span class="orangeTxt">Tiger</span></h5>
                    </div>
                    <p>PropTiger recognises the contributions of its employees and treats each individual fairly and consistently in all matters, with a uniform application of the following Human Resources philosophies:</p>
                    <div class="row-fluid marginTB20">
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/teamwork.jpg">
                                <div class="prop-car-pop-info">Team Work</div>
                            </div>
                            <div class="prop-car-cont-info">Our success, our lessons and our failures are shared.
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/expertise.jpg">
                                <div class="prop-car-pop-info">Expertise</div>
                            </div>
                            <div class="prop-car-cont-info">The company is committed to training its people and helping them grow professionally.
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/communication.jpg">
                                <div class="prop-car-pop-info">Integrity</div>
                            </div>
                            <div class="prop-car-cont-info">Maintaining highest standards & integrity is non-negotiable while building a profitable organisation.
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid marginTB20">
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/openess.jpg">
                                <div class="prop-car-pop-info">Openness</div>
                            </div>
                            <div class="prop-car-cont-info">We are an open organization. We are equal stakeholders. Feel free to ask anyone in the organization for any assistance
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/innovation.jpg">
                                <div class="prop-car-pop-info">Innovation</div>
                            </div>
                            <div class="prop-car-cont-info">Feel free to innovate! That's how you will contribute to your and the organization's learning
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/employee-centric.jpg">
                                <div class="prop-car-pop-info">Employee Centricity</div>
                            </div>
                            <div class="prop-car-cont-info">The company is committed to internal as well as external customers
                            </div>
                        </div>
                    </div>                
                    <div class="row-fluid marginT20" ng-show="workProptiger">
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/candor.gif">
                                <div class="prop-car-pop-info">Candor / Introspection</div>
                            </div>
                            <div class="prop-car-cont-info">Introspect your actions and activities of the company to ensure that we are heading in the right direction.
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/passion.jpg">
                                <div class="prop-car-pop-info">Passion</div>
                            </div>
                            <div class="prop-car-cont-info">Feel the passion towards the company and your work. It is this passion which will motivate you to come to work every day.
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/ownership.jpg">
                                <div class="prop-car-pop-info">Ownership</div>
                            </div>
                            <div class="prop-car-cont-info">Taking ownership of the tasks assigned to you.
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid prop-car-link-info marginT20">
                        <div ng-hide="workProptiger"><a ng-click="workProptiger = !workProptiger">view more <i class="fa fa-chevron-right"></i></a></div>
                        <div ng-show="workProptiger"><a ng-click="workProptiger = !workProptiger">less more <i class="fa fa-chevron-right"></i></a></div>
                    </div>
                    <div class="row-full paddingT20">
                        <div class="contentHeader">
                            <h5>Life @ Prop<span class="orangeTxt">Tiger</span></h5>
                        </div>
                    </div>
                    <p>Our employees are at the heart of our company and we value teamwork, integrity, and positive energy. We believe every employee joining PropTiger is blessed with some unique talent and our customised training helps to further sharpen their skill set and focus on overall professional development of the employee.</p>
                    <p>We ensure that our employees’ efforts are fully recognised and substantially rewarded with our Rewards & Recognition programme. Top performers are sent to sponsored national and international destinations. Being a young and vibrant organization there is a lot of room for innovation and creativity. Work hard and party harder is our way of life!</p>
                    <p>It’s a firm belief in PropTiger that communication is the key to build great teams and our culture reflects an open communication at levels and across hierarchies. We strongly believe in women's empowerment and take continuous initiatives to support this. If being part of a dynamic company excites you, join our dedicated and talented team and build an exciting career with PropTiger.</p>
                    <div class="row-fluid marginTB20">
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_07.jpg">
                                <div class="prop-car-pop-info" title="Where Winning is a habit!">Where Winning is a habit!</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_08.jpg">
                                <div class="prop-car-pop-info" title="Annual Tiger’s meet Thailand">Annual Tiger’s meet Thailand</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_09.jpg">
                                <div class="prop-car-pop-info" title="Focussed group activity">Focussed group activity</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid marginTB20">
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_01.jpg">
                                <div class="prop-car-pop-info" title="Togetherness is a way of life">Togetherness is a way of life</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_02.jpg">
                                <div class="prop-car-pop-info" title="Gender equality">Gender equality</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_03.jpg">
                                <div class="prop-car-pop-info" title="Lead by example">Lead by example</div>
                            </div>
                        </div>
                    </div>                
                    <div class="row-fluid marginT20 ng-hide" ng-show="lifeProptiger">
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_04.jpg">
                                <div class="prop-car-pop-info" title="Leadership Trainings">Leadership Trainings</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_05.jpg">
                                <div class="prop-car-pop-info" title="Celebrating Personal Milestones">Celebrating Personal Milestones</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/life@Proptiger_06.jpg">
                                <div class="prop-car-pop-info" title="Founders Day Celebrations">Founders Day Celebrations</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid prop-car-link-info marginT20">
                        <div ng-hide="lifeProptiger"><a ng-click="lifeProptiger = !lifeProptiger">view more <i class="fa fa-chevron-right"></i></a></div>
                        <div ng-show="lifeProptiger"><a ng-click="lifeProptiger = !lifeProptiger">less more <i class="fa fa-chevron-right"></i></a></div>
                    </div>
                    <div class="row-full paddingT20">
                        <div class="contentHeader">
                            <h5>Employee Testimonials</h5>
                        </div>
                    </div> 
                    <div class="row-fluid paddingB10">
                        <div class="span6">
                            <p class="testimo-quote-info"><i class="fa fa-quote-left left"></i> I am working with PropTiger since last 2.5 years. I find this company one of the best in terms of management. My seniors are very supportive. They ensure an excellent working environment. It is a growing company, so scope of growth for employees is very high. I would like to serve this company for long term and I am pretty satisfied.<i class="fa fa-quote-right right"></i></p>
                            <h6 class="paddingL20">Dimpal<br /> 
                                <span class="lightColor">Sales Manager (Homeloan)</span>
                            </h6>
                        </div>
                        <div class="span6">
                            <p class="testimo-quote-info"><i class="fa fa-quote-left left"></i> I am associated with the company since its inception and have seen the company grow and flourish into one of the biggest brands today in real estate. The overall experience is very encouraging and I have learnt a lot throughout. From working individually to handling a team I played variety of roles to the best of my abilities and no doubt the support of the Management has been commendable , without which the journey was impossible . I would love to achieve new milestones and take up new responsibilities under the flagship of PropTiger.com.<i class="fa fa-quote-right right"></i></p>
                            <h6 class="paddingL20">Saurabh<br /> 
                                <span class="lightColor">Area Manager (Sales)</span>
                            </h6></div>
                    </div>
                    <div class="row-fluid ">
                        <div class="span6 border-Top paddingT15">
                            <p class="testimo-quote-info"><i class="fa fa-quote-left left"></i> I have completed 2 years in this organization and it has been a wonderful experience. I have learnt so many things from my seniors and Management during my tenure. PropTiger is the best brand for beginners and for experienced as well.<i class="fa fa-quote-right right"></i></p>
                            <h6 class="paddingL20">Manglesh<br /> 
                                <span class="lightColor">Sr. Executive (Admin)</span>
                            </h6>
                        </div>
                        <div class="span6 border-Top paddingT15">
                            <p class="testimo-quote-info"><i class="fa fa-quote-left left"></i> I started my career as a Management trainee in PropTiger and currently I work in the capacity of Sr. Executive Finance. The kind of experience and skills I have learnt here, I could not have not imagined. PropTiger has always acknowledged my work and gave me a healthy and supportive working environment which I feel is, rarely available in any other corporate. I am happy and grateful to my management for giving me the best opportunity. I look forward to work with the company for a long term.<i class="fa fa-quote-right right"></i></p>
                            <h6 class="paddingL20">Jyoti Sharma<br /> 
                                <span class="lightColor">Sr. Executive (Finance)</span>
                            </h6></div>
                    </div>            	
                
                </tab>
                <tab heading="Proptiger & You">
                    <div class="contentHeader">
                        <h5>Why Prop<span class="orangeTxt">Tiger</span>?</h5>
                    </div>
                    <p>PropTiger recognises the contributions of its employees and treats each individual fairly and consistently in all matters, with a uniform application of the following human resources philosophies:</p>
                    
                    <div class="row-fluid paddingTB20">
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/team_work_img.jpg">
                                <div class="prop-car-pop-info">Employee centricity</div>
                            </div>                    
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/expertise_img.jpg">
                                <div class="prop-car-pop-info">Equality & transparency</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="prop-car-img-info">
                                <img src="styles/images/integrity_img.jpg">
                                <div class="prop-car-pop-info">Effective communication</div>
                            </div>
                        </div>
                    </div>
                    <h6>Employee Centricity</h6>
                    <ul class="nrl-txt">
                        <li>Human resources are best allocated to achieve optimum productivity and efficiency;</li>		
                        <li>Pay and benefits offered are fair, equitable and competitive;</li>
                        <li>Employees are always encouraged to well-equip themselves for the present job and future development of PropTiger;</li>
                        <li>Reward is based on merit and high performers are given priority to take up more responsible positions;</li>
                        <li>PropTiger recruits the best qualified people and cultivates and retains the best possible talent in the Industry;</li>
                        <li>PropTiger endeavours to transfer or promote well performing and capable employees to fill vacancies so that employees are provided with opportunities to widen their exposure and further their career development within PropTiger;</li>
                    </ul>
                    <h6>Equality and Transparency</h6>
                    <ul class="nrl-txt">
                        <li>All applicants have equal opportunities of employment irrespective of their age, sex, marital status, pregnancy, family status, disability, race, nationality or religion (provided that these do not impede the abilities of the prospective appointees to carry out normal job duties or affect the health and safety of fellow employees);</li>
                        <li>Job applicants are treated fairly and equally. Employment is offered only to the best qualified applicants with reference to their merits and abilities to meet the requirements of the jobs irrespective of whether they are referrals or direct applicants;</li>
                        <li>The protection of human rights in employment is supported, as guided by relevant internationally accepted principles and is reflected in our Employment Policy and Equal Opportunities Policy. Employees’ freedom of speech and association are respected as long as they are within the legal boundaries;</li>
                    </ul>
                    <h6>Effective Communication</h6>
                    <ul class="nrl-txt">
                        <li>Two-way communications between employees and the management are promoted as a means of building mutual understanding and trust;</li>
                        <li>PropTiger believes that effective communication contributes to a constructive and cheerful working environment, high performance and organisational success.</li>
                    </ul>
                </tab>
                <tab heading="Open Positions">
                    <div class="contentHeader">
                        <h5>Current Openings</h5>
                    </div>
                    <p>We have following positions open with us currently. Please apply if you feel you are a fit for any of the profiles below. </p>
                </tab>
            </tabset>
        </div>        
    </div>
</div>

