<div pt-breadcrum b-crum="bCrum" b-crum-text="bCrumText" seo-data="seoData"></div>
<div class="row-fluid">
    <div pt-Sidebar class="span3 staticView">
        <div pt-quicklinks id="portQuickLinks"></div>
    </div>
    <div class="span9">
        <div class="contentBoxContainer marginB15 paddingTB20LR25">
            <div class="contentHeader">
                <h4>Property Buying Steps</h4>
            </div>
            <p>Our endeavor is to simplify the most important decision of your life - buying a home. We combine the power of the internet to provide comprehensive information along with the services of a property advisor who offers genuine and unbiased advice and helps conclude the transaction successfully.</p>
            <h6>I Step: Check out our website</h6>
            <p>Visit proptiger.com to see and compare the best suited property from a vast database of properties from best builders. We provide comprehensive information on location, builder, unique selling points of the project, layout plan, floor plans, pricing, specifications and amenities on all properties.</p>
            <h6>II Step: Select the property that meets your criteria</h6>
            <p>Property selection is based on the following:</p>
            <ul class="nrl-txt">
                <li>Evaluating various choices available on the basis of your requirement</li>
                <li>Meeting our advisors who will help you shortlist the properties that suit your needs.. We will advise you on the location, price and future prospects of the property, home loans, etc. All properties are verified and available in 100%  cheque</li>
                <li>We arrange a site visit to all the shortlisted properties</li>
            </ul>
            <h6>III Step: Closing the deal</h6>
            <p>Once you have decided on the property of your choice, we help you:</p>
            <ul class="nrl-txt">
                <li>Close the deal by handling all the paperwork</li>
                <li>Guiding you through the application forms, allotment and arranging home loan from a reputed bank, if required</li>
                <li>Ensure a convenient and hassle free transaction</li>
                <li>Our services to you continue till the registry of the flat. This includes payment reminders, collection of cheques and handling all documentation with the builder and the bank.</li>
            </ul>
        
        </div>
    </div>
</div>

