<div pt-breadcrum b-crum="bCrum" b-crum-text="bCrumText" seo-data="seoData"></div>
<div class="row-fluid">
    <div pt-Sidebar class="span3 staticView">
        <div pt-quicklinks id="portQuickLinks"></div>
    </div>
    <div class="span9">
        <div class="contentBoxContainer marginB15 paddingTB20LR25">
            <div class="contentHeader">
                <h4>Home Loan</h4>
            </div>	
            <p>A home loan is a loan taken for buying or constructing a home or to make improvements to a residential property. You can get a loan from from banks and registered housing finance companies.</p>
            <p>Your home loan is secured against the property that you buy. This means that in case you are unable to repay the loan, the lending bank will have the right to take possession of your home.</p>
            
            <h6 class="openSansFamily">Q1. What are the types of Home loans available?</h6>
            <p><span class="an-text-info">Ans.:</span> The following different kinds of home loans are available:</p>
            <ul class="nrl-txt">
                <li><span class="font-weight">Home Purchase Loan</span><br />
                A common type of loan taken for purchasing a home.</li>
                <li><span class="font-weight">Home Improvement Loan</span><br />
                A loan given for implementing repair works and renovations at home.</li>
                <li><span class="font-weight">Home Construction Loan</span><br />
                A loan available for the construction of a new home.</li>
                <li><span class="font-weight">Home Extension Loan</span><br />
                Home extension loans are given for expanding or extending an existing home. For example, addition of an extra room, etc.</li>
                <li><span class="font-weight">Land Purchase Loan</span><br />
                This type of loan is sanctioned for purchase of a land, for both home construction or investment purposes.</li>
                <li><span class="font-weight">Balance Transfer Loan</span><br />
                This loans help you pay off an existing home loan with a higher interest rate, and avail of a loan with a lower rate of interest.</li>
                <li><span class="font-weight">Refinance Loan</span><br />
                This loan helps you pay off the debt you may have incurred from private sources such as relatives and friends in order to purchase your present home.</li>
                <li><span class="font-weight">Loans for NRIs</span><br />
                This loan is tailored to suit the requirements of NRIs who wish to build or buy a home in India.</li>
            </ul>
            <h6 class="openSansFamily">Q2. What is an EMI?</h6>
            <p><span class="an-text-info">Ans.:</span> EMI (Equated Monthly Installment) is the amount payable to the lending institution every month, till the loan is paid back in full. It consists of a portion of the interest as well as the principal.</p>
            <h6 class="openSansFamily">Q3. What are the eligibility conditions for a home loan?</h6>
            <p><span class="an-text-info">Ans.:</span> To qualify for a home loan, most of the lending institutions in India require you to be:</p>
            <ul class="nrl-txt">
                <li>An Indian resident or NRI</li>
                <li>Above 24 years of age at the commencement of the loan</li>
                <li>Below 60 or retirement age when the loan matures</li>
                <li>Either self employed or salaried</li>
            </ul>
            <h6 class="openSansFamily">Q4. What are the interest rates offered for home loans? What are: Daily Reducing, Monthly Reducing and Yearly Reducing?</h6>
            <p><span class="an-text-info">Ans.:</span> Interest rates are different from institution to institution and generally range from about 8.75% to around 12 %. The interest on home loans in India is usually calculated either on monthly reducing or yearly reducing balance. In some cases, daily reducing basis is also adopted.</p>
            <ul class="nrl-txt">
                <li><span class="font-weight">Annual reducing:</span><br />
                In this system, the principal, for which you pay interest, reduces at the end of the year. Thus you continue to pay interest on a certain portion of the principal which you have actually paid back to the lender. This means the EMI for the monthly reducing system is effectively less than the annual reducing system.</li>
                <li><span class="font-weight">Monthly reducing:</span><br />
                In this system, the principal, for which you pay interest, reduces every month as you pay your EMI.</li>
                <li><span class="font-weight">Daily Reducing:</span><br />
                In this system, the principal, for which you pay interest, reduces from the day you pay your EMI. EMI in the daily reducing system is less than the monthly reducing system.</li>
            </ul>
            <h6 class="openSansFamily">Q5. What is a fixed rate of interest?</h6>
            <p><span class="an-text-info">Ans.:</span> Some institutions have a fixed rate of interest, which means the rate of interest remains unchanged for the entire duration of the loan. This means you do not benefit, even if rates of interest drop in the market.</p>
            <h6 class="openSansFamily">Q6. What is a floating rate?</h6>
            <p><span class="an-text-info">Ans.:</span> This is the rate of interest that fluctuates according to the market lending rate. This means you stand the risk of paying more than you budgeted for in case the lending rate goes up</p>
            <h6 class="openSansFamily">Q7. What are the other costs that usually accompany a home loan?</h6>
            <p><span class="an-text-info">Ans.:</span> Home loans are usually accompanied by the following extra costs:</p>
            <ul class="nrl-txt">
                <li><span class="font-weight">Processing Charge:</span><br /> 
                A fee payable to the lender on applying for a loan. It is either a fixed amount not linked to the loan or may also be a percentage of the loan amount. The loan amount required cannot be less than the processing fee.</li>
                <li><span class="font-weight">Pre-payment Penalties:</span><br /> 
                When a loan is paid back before the end of the agreed duration, a penalty is charged by some banks/companies, which is usually 2% of the amount being paid. </li>
                <li><span class="font-weight">Miscellaneous Costs:</span><br /> 
                Some lenders may levy documentation or consultant charges.</li>
            </ul>
            <h6 class="openSansFamily">Q8. How do HFCs decide on the loan amount?</h6>
            <p><span class="an-text-info">Ans.:</span> Usually, most companies give up to a maximum of 85% of the cost of the house. The 15%, sometimes called 'seed money', will have to be provided by the loan applicant. The amount, for which the applicant is eligible, is determined by the age, income, no. of dependents, monthly outgoing and repayment capacity. This varies from case to case.</p>
            <h6 class="openSansFamily">Q9. Are securities required for home loans?</h6>
            <p><span class="an-text-info">Ans.:</span> In most cases, the property to be purchased itself becomes the security and is mortgaged to the lending institution till the entire loan is repaid. Some institutions may ask for additional security such as life insurance policies, FD receipts and share or savings certificates.</p>
            <h6 class="openSansFamily">Q10. What is the time required for loan disbursement?</h6>
            <p><span class="an-text-info">Ans.:</span> On an average, loans are disbursed within 3-15 days after satisfactory and complete documentation and completion of all relevant procedures, including proof that 15% of the cost has been paid upfront to the seller of the property.</p>
            <h6 class="openSansFamily">Q11. What are the tax benefits of home loans?</h6>
            <p><span class="an-text-info">Ans.:</span> Both principal as well as interest of home loans attract tax benefits. With effect from 1st April 2005 (i.e. assessment year 2005-07) under section 80C of the Income Tax Act 1965:</p>
            <p>Principal amount of repayment of loan along with other savings such as PF, PPF, Life Insurance premium etc up to a maximum of Rs 1, 00,000/- will be eligible for deduction from gross income.</p>
            <p>Interest paid up to a maximum of Rs 1, 50,000/- will be eligible for deduction from gross income on loan after completion of construction will be deductible from income from property.</p>
                
        </div>
    </div>
</div>
