<div pt-breadcrum b-crum="bCrum" b-crum-text="bCrumText" seo-data="seoData"></div>
<div class="row-fluid">
    <div pt-Sidebar class="span3 staticView">
        <div pt-aboutlinks></div>
        <div pt-quicklinks id="portQuickLinks"></div>
    </div>
    <div class="span9">
        <div class="contentBoxContainer marginB15 paddingTB20LR25">
            <div class="contentHeader">
                <h4>PropTiger in the Media</h4>
            </div>
            <p>PropTiger is a well-known expert in the Indian residential real estate market, and is a regular contributor to leading newspapers and magazines.</p>
             <div class="row-fluid media_page">
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://www.youtube.com/watch?v=L2E2zogDrH4">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/ET-kartik-ahmedabad.gif"><br>
                    </a>
                    <b>PropTiger on ET Now Ahmedabad (15/10/2013)</b>
                </div>
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://in.finance.yahoo.com/video/property-guide-investment-options-dwarka-073029419.html;_ylt=Ai9aFg0XW_5M3ZYT86X6Tt9xUrlG;_ylu=X3oDMTE2cjhkOHQwBG1pdAMEcG9zAzYEc2VjA01lZGlhQkNhcm91c2VsTWl4ZWRMUENB;_ylg=X3oDMTBhM285c21iBGxhbmcDZW4tSU4-;_ylv=3">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/proptiger_on_et_now_dwarka_expressway.png">
                    </a>
                    <b>PropTiger on ET Now Dwarka Expressway (05/10/2013)</b>
                </div>
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://in.finance.yahoo.com/video/property-guide-investing-premium-projects-073029634.html">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/PropTiger-on-ET-Now_Oct-4.jpg"><br>
                    </a>
                    <b>PropTiger on ET Now Mumbai (05/10/2013)</b>
                </div>
                
                <div class="clearfix"></div><hr />
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://ibnlive.in.com/videos/396581/what-does-the-real-estate-bill-mean-for-the-home-buyers.html">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/ibn-june-5-kartik.gif"><br></a>
                    <b>PropTiger on CNN-IBN (05/06/2013)</b>
                </div>
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://cdn.proptiger.com/images/Proptiger-yourstory_in_2013_06.pdf">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/yourstory-in.gif"><br>
                    </a>
                    <strong>
                        YourStory.in (28/06/2013)<br>
                        <a target="_blank" href="http://cdn.proptiger.com/images/Proptiger-yourstory_in_2013_06.pdf">
                            <img width="16" border="0" align="absmiddle" height="16" src="http://cdn.proptiger.com/images/320_pdf_icon_16.gif">
                        </a>&nbsp;<a target="_blank" href="http://cdn.proptiger.com/images/Proptiger-yourstory_in_2013_06.pdf">Download PDF</a>
                    </strong>
                </div>
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://profit.ndtv.com/videos/the-property-show/video-delhi-ncr-realty-market-an-overview-272495">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/NDTV-prashan.gif"><br>
                    </a>
                    <strong>PropTiger on NDTV</strong><br>
                </div>
                
                <div class="clearfix"></div><hr />
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://cdn.proptiger.com/images/gurutalk_magicbricks_prashan-agarwal.pdf">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/magicbricks-gurutalk-prashan.gif"><br>
                    </a>
                    <strong>
                        MagicBricks.com - GURUTALK (30/10/2012)<br>
                        <a target="_blank" href="http://cdn.proptiger.com/images/gurutalk_magicbricks_prashan-agarwal.pdf">
                            <img width="16" border="0" align="absmiddle" height="16" src="http://cdn.proptiger.com/images/320_pdf_icon_16.gif">
                        </a>&nbsp;<a target="_blank" href="http://cdn.proptiger.com/images/gurutalk_magicbricks_prashan-agarwal.pdf">Download PDF</a>
                    </strong>
                </div>
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://cdn.proptiger.com/images/techcircle_vccircle_com_2012_04_20_proptiger.pdf">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/techcircle_vccircle_com_2012_04_20_proptiger.gif"><br>
                    </a>
                    <strong>
                        Techcircle.in - PropTiger (20/04/2012)<br>
                        <a target="_blank" href="http://cdn.proptiger.com/images/techcircle_vccircle_com_2012_04_20_proptiger.pdf">
                            <img width="16" border="0" align="absmiddle" height="16" src="http://cdn.proptiger.com/images/320_pdf_icon_16.gif">
                        </a>&nbsp;<a target="_blank" href="http://cdn.proptiger.com/images/techcircle_vccircle_com_2012_04_20_proptiger.pdf">Download PDF</a>
                    </strong>
                </div>
                
                <div class="row-three-column pull-left">
                    <iframe width="230" height="189" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/sQmzVv3-fOU?hl=en&amp;fs=1"></iframe>
                    <b>PropTiger on CNN-IBN</b>
                </div>
                
                <div class="clearfix"></div><hr />
                
                <div class="row-three-column pull-left">
                    <a target="_blank" href="http://cdn.proptiger.com/images/proptiger-article.pdf">
                        <img class="playimg" width="230" height="189" src="http://cdn.proptiger.com/images/et.jpg"><br>
                    </a>
                    <strong>
                        The Economic times - Wealth (01/8/2011)<br>
                        <a target="_blank" href="http://cdn.proptiger.com/images/proptiger-article.pdf">
                            <img width="16" border="0" align="absmiddle" height="16" src="http://cdn.proptiger.com/images/320_pdf_icon_16.gif"></a>&nbsp;<a target="_blank" href="http://cdn.proptiger.com/images/proptiger-article.pdf">Download PDF</a>
                    </strong>
                </div>
                
             </div>
        </div>
    </div>
</div>

