<div class="row-fluid paddingB20 paddingT15">
	<div class="span7 paddingT30 paddingB40">
    	<div class="server-error-img-info pull-left"><img src="/styles/images/server.jpg"></div>    
    </div>
    <div class="span5 paddingT15">
    	<div class="server-head-info">Our Servers are tired at the moment</div>
        <div class="font-normal server-subhead-info paddingT10">Please try again in a while</div>
		<div class="marginT30">
        	<a href="/" target="_self"><i class="icons-logo"></i></a>
        </div>
    </div>
</div>