/* 
Desc: Listing View Scss Document 
Author: Sanjeev Verma, Hardeep Singh
Date: 23 December 2013
*/

.no-data-img-info{ background:$dark-gray-color; }
.no-data-vert-img{ display:table !important;  
	height:110px;
}
.no-data-img-cont{ width:$body-width; 
	height:$body-width; 
	display:table-cell;
	vertical-align:middle;
	text-align:center;	
	img{ width:auto;
		height:auto;
		max-width:100%;
		max-height:100%;
		margin:0 auto;
	}
	
}
.no-data-cont-info{ padding-left:4%; 
	@include box-sizing(border-box);
	.noDataHeading{ @include fontStyle($openSansBold:true);
	font-size:$body-font-size + 6px;
	color: $dark-gray-color;}
	.noDataContent{ @include fontStyle($openSans:true);
	font-size:$body-font-size + 2px;
	color: $dark-gray-color;
	}
}

/* Project result section */
.result-info{ margin:0 0 15px 0;
	.count-info{ @include fontStyle($openSans:true);
		font-size:$body-font-size + 2px;
		color:$gray-color;
		padding:4px 0 0 0;
		min-height:20px;
		.count{ @include fontStyle($openSansBold:true); 
			color:$dark-gray-color;
			text-transform:capitalize;
		}
		h2{ font-size:$body-font-size + 2px;
			line-height:16px;
			display:inline-block;
			@extend .count;
		}
	}	
	.sort-action{ @include fontStyle($openSans:true);
		font-size:$body-font-size;
		color:$gray-color;
		min-height:20px;
		.button-set{
			margin:0 0 0 10px;
			.filter-radio{
				.btn{ @include fontStyle($openSansBold:true); 
					text-transform:capitalize !important;
				}
			}
		}
	}
}
.build-list-info{ position:absolute;
	width:100px;
	height:40px;
	right:15px;
	top:5px;
}
.list-loca-blog-info{
	.contentHeader{
		h5{color:$dark-gray-color; 
			font-weight:normal !important;
			a{ @include fontStyle($openSans:true);
			}
		}
	}	
}
.listings-container{ min-height:300px;
	.prop-list-perview{ width:$body-width;
		margin:0 0 25px 0;
		position:relative;
		&:hover{ 
			.prop-img-cont{ @include box-shadow($white-color 15px 0px 0px, $darkligh-mid-gray-color 0px 0px 15px);
				.img-overlay{opacity:0;}
			}
			.prop-info-cont{ @include box-shadow($darkligh-mid-gray-color 0px 0px 15px);}
			.prop-builder{ 
				.builder-logo{opacity:1 !important;}	
			}
			.prop-info-call{ opacity:1;
				visibility:visible;
				filter: alpha(opacity=100);	
				&.prop-comp-act{ visibility:visible;
					opacity:1;
					filter: alpha(opacity=100);				
				}
				.btn-shaking{  -moz-animation: ring 2s ease 3;
					-moz-transform-origin-x: center;
					-moz-transform-origin-y: center;
					-moz-transform-origin-z: initial;
					-moz-animation-delay:1s;
				
					-webkit-animation: ring 2s ease 3;
					-webkit-transform-origin-x: center;
					-webkit-transform-origin-y: center;
					-webkit-transform-origin-z: initial;
					-webkit-animation-delay:1s;
				
					-ms-animation: ring 2s ease 3;
					-ms-transform-origin-x: center;
					-ms-transform-origin-y: center;
					-ms-transform-origin-z: initial;
					-ms-animation-delay:1s;
				
					animation: ring 2s ease 3;
					transform-origin-x: center;
					transform-origin-y: center;
					transform-origin-z: initial;
					animation-delay:1s;
				}
			}
		}
		.prop-img-cont{ 
			width:25%;
			height:215px;
			background:$dark-gray-color;
			.launch-soon-prot{ background:$mid-blue-color;
				position:absolute;
				top:20px;
				left:-10px;
				padding:5px 15px;
				z-index:0;
				&:after {
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					left: 0px;
					top: 100%;
					border-width: 5px;
					border-style: solid;
					border-color: #264959 #264959 transparent transparent;
				}
				&.status-label{ @include fontStyle($openSansBold:true);
					font-size:$body-font-size;
					color:$white-color;
				}
				&.new-launch-prot{ background:$light-green-color;
					position:absolute;
					top:20px;
					left:-10px;
					padding:5px 15px;
					z-index:0;
					&:after {
						content: ' ';
						position: absolute;
						width: 0;
						height: 0;
						left: 0px;
						top: 100%;
						border-width: 5px;
						border-style: solid;
						border-color: #1b4d30 #1b4d30 transparent transparent;
					}
				}
			}
			.img-overlay{ width:$body-width;
				height:$body-width;
				background:black;
				opacity:0.3;
				position:absolute;
				top:0px;
				z-index:0;
			}		
		}
		.prop-info-cont{ width:72.87234042553192%; 
			min-height:215px;
			background:$white-color; 
			padding:0 0 0 2.127659574468085%;
		}
		.prop-result-info{ padding:15px 0;			
			@include box-sizing(border-box);
			.prop-meta-info{ width:$body-width;
				margin:0 0 8px 0;
				display:block;
                                
				.prop-meta-container{  width:$body-width - 55%;
					.prop-name{ 
						.textWrap{ max-width:90%; 
							max-width:87%\9;
						}
						a{
							&:hover{ text-decoration:underline;}
						}
					}
				}
				.prop-name{ @include fontStyle($openSansBold:true);
					font-size:$body-font-size + 4px;
					color:$anchor-link-color;
					i{ margin:0 0 0 5px;
					}
				}
				.prop-address{
					.locality-label{ @include fontStyle($openSans:true);
						font-size:$body-font-size;
						color:$lighter-grey-textColor;
						padding-bottom:1px;
						border-bottom:1px dashed $gray-color;
					}
					.city-label{ @include fontStyle($openSans:true);
						font-size:$body-font-size;
						color:$lighter-grey-textColor;
					}
				}
				.prop-appreciation {
					width: 15%;
					border-left: solid 1px #ccc; 
					padding-left: 10px; 
					width: 100px; 
					display: block;
				}
				.prop-builder{ height: 40px;
					width: 160px;
                    a:hover{text-decoration:none;}
					.builder-logo{ opacity:0.5;
						border:1px solid $white-color;
						display:block;
						height: 40px;
						width: 160px;
						.projBuilderLogoInfo{ @include fontStyle($openSans:true);
							font-size:$body-font-size + 2px;
							color:$dark-gray-color;
							display:block;
							position:relative;
							width:$body-width;
							height:$body-width;
							top:0px;
							left:0px;							
							z-index:2;
							text-align:center;
							&:before{
								content: '';
								height:100%;
								display:inline-block;
								vertical-align:middle;
							}
						}
						&:hover{background:$White-gray-color;}
						span{
							.parent-blocking{
								line-height: 20px;
							}
						}
					}
				}
			}
		}
		.prop-postdetails-info{ padding:15px 20px 20px 0;			
			@include box-sizing(border-box);
			.prop-update-info{ text-align:center;
				padding:0 0 5px 0;
				border-bottom:1px solid $lighter-gray-color;
				.price-range{ 
					span{@include fontStyle($openSansBold:true);
						font-size:$body-font-size + 4px;
						color:$dark-gray-color;
					}
				}
				.possession-date{ @include fontStyle($openSans:true);
					font-size:$body-font-size;
					color:$darkligh-mid-gray-color;
					text-align:center;
					padding:5px 0 0 0;
					.list-poss-date-info{ font-size:$body-font-size;
						font-weight:bold;
						color:$dark-gray-color;
						padding:0 0 0 3px;
					}
				}
				.price-na{@include fontStyle($openSansBold:true);
					font-size:$body-font-size + 2px;
					color:$darkBlack-gray-color;
					i{ color:$dark-gray-color;}
					a{ display:none; visibility:hidden;}
					&:hover{ span{ display:none;}
						a{ display:inline-block; visibility:visible;}
					}
				}
			}
			
		}
		.prop-pct-post-info{ width:$body-width;
			padding:20px 0 0 0;
			@include box-sizing(border-box);
			.posts-appraisals{ width:$body-width;
				text-align:center; 
				margin:0 auto;
				a{
					&:hover{
						.appraisal-icon-cont{ 
							.appraisal-neg-info{ text-decoration:underline;}
							.appraisal-post-info{ text-decoration:underline;}
							i{ text-decoration:underline;}
						}
						.posts-icon-cont{ text-decoration:underline;
							i{ text-decoration:underline;}
						}
					}
				}
			}
		}
		.prop-info-call{ width:$body-width; 
			padding:25px 0 0 0;
			opacity:0.5;
			visibility:visible;
			&.prop-comp-act{ visibility:visible;
				opacity:0.5;
				filter: alpha(opacity=50);				
			}
		}		
	}	
}
.prop-fetch-info{
	font-size:$body-font-size + 18px;
	color:$body-selected-color;
	text-align:center;
	i{ padding:10px;}
}
.more-detail-info{ position:absolute; 
	top:5px; 
	right:5px;	
	@include fontStyle($openSans:true);
	font-size:$body-font-size + 6px;
	color:$White-gray-color;
	padding:4px 6px 6px 6px;
	cursor:pointer;
	line-height:20px;
	z-index:0;
	@include rounded( $radius:5px);
	@include box-sizing(border-box);
	.more-detail-bgarea{ position:absolute; 
		top:0;
		left:0;
		width:$body-width;
		height:$body-width; 
		background:$darkBlack-gray-color;
		background-color:$darkBlack-gray-color \9;
		@include rounded( $radius:5px);
		opacity:0.6;
		filter: alpha(opacity=60);
		z-index:-1;
	}
	&:hover{
		.more-detail-bgarea{ opacity:1;
			filter: alpha(opacity=100);
		}
	}
}
.buld-img-info{ width:$body-width;
	height:50px;
}
.proj-local-rat-info{ width:$body-width;
	a{ width:$body-width;
		display:block;
		@include fontStyle($openSans:true);
		font-size:$body-font-size + 2px;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		max-width:$body-width - 4;
		width:auto;
	}
}
.proj-list-head-info{ border-bottom:none; 
	margin:0 0 10px 0;
	padding:0 !important;
}
.buil-prop-local-info{ position:absolute;
	bottom:0;
	background:rgba(51,51,51,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80333333,endColorstr=#80333333);
	width:$body-width;
	padding:2px 5px;
	@include box-sizing(border-box);	 
	.prop-name{ @include fontStyle($openSans:true);
		font-size:$body-font-size;
		color:$white-color;
		line-height:15x;
		font-weight:normal;
		display:block;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	.prop-address{ @include fontStyle($openSans:true);
		font-size:$body-font-size - 1px;
		color:$gray-color;
		line-height:16px;
		display:block;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
}
.prop-buil-cont-info{ margin:0;
	padding: 0 20px 20px 20px;
	@include box-sizing(border-box);	
}
.buil-head-cont-info{ padding:20px 20px 0 20px;}
.buil-left-info{ width:$body-width;
	display:block;
	float:left;
	padding:0; 
	@include box-sizing(border-box);
	.border-Bottom{ border-bottom:none;}
	.prop-buil-detail-info{ width:$body-width - 50%; 
		float:left;
	}
	.prop-buil-descr-info{ width:$body-width - 50%; 
		float:left;		
		padding: 0 2% 0 0; 
		@include box-sizing(border-box);
	}
}
.buil-right-info{ width:$body-width - 60%;
	display:block;
	float:left; 
	@include box-sizing(border-box);	
}
.prop-builder-card{ 
	.build-list-info{ display:none !important;}
	.buil-head-cont-info{ padding:20px 20px 0 20px;}
	.buil-right-info+ .buil-left-info{ width:$body-width - 50% !important;
		.prop-buil-detail-info{ width:$body-width;}
		.prop-buil-descr-info{ width:$body-width;}	
	}
	.buil-left-info{ width:$body-width;
		padding:0 2% 0 0; 
		.prop-buil-detail-info{ width:$body-width/2;}
		.prop-buil-descr-info{ width:$body-width/2;}
	}
	.buil-right-info{ width:$body-width - 50%;
		background:$Black-gray-color;
		float:right;
		.builder-image{ margin:0;
			height:120px;
			position:relative;
			overflow:hidden;
			padding:0;
			border-left:2px solid $white-color;
			.buil-prop-local-info{ height:$body-width - 65%; 
				color:$white-color;
			}
			a{
				 &:hover{
					 .buil-prop-local-info{ width:$body-width;
						height:$body-width;
						color:$white-color;						
						font-size:$body-font-size - 1px;
						.prop-name{ overflow:inherit;
							text-overflow:inherit;
							white-space:inherit;
						}
						.prop-address{ overflow:inherit;
							text-overflow:inherit;
							white-space:inherit;
						}
					}
				 }
			}
			
		}
	}
}
.prop-local-over-info{
	.overlay-Wrapper{
		.content-info{ line-height:18px;}
	}
}
.list-builder-overlay{
	.overlay-Wrapper{
		.marginB15{ margin:0;}
		.contentBoxContainer{ @include box-shadow(none);}
		.buil-head-cont-info{ padding:10px 15px 0 15px;}
		.build-list-info{ display:none !important;}
		h5{ @include fontStyle($openSans:true);
			font-size:$body-font-size + 2px;
			color:$dark-gray-color;
			font-weight:normal !important;
			overflow:hidden;	
			.head-overflow-text{ width: 170px;
				max-width: 180px;
				float:left;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
			}			
		}
		.prop-buil-cont-info{ margin:0;
			padding: 0;
			@include box-sizing(border-box);	
		}
		.buil-left-info{ width:$body-width;
			padding:0 15px;
			.content-info{ line-height:18px;}
			.border-Bottom{ border-bottom:1px solid $lighter-gray-color;}
			.paddingL15{ padding-left:0;}
			.prop-buil-detail-info{ width:$body-width;
				margin:0 0 15px 0;
				.ratingHead{ font-size:$body-font-size - 2px;}
			}
			.prop-buil-descr-info{ width:$body-width;
				padding:0 0 15px 0;
			}
		}
		.buil-right-info{ width:$body-width;
			padding:0;
			background:$Black-gray-color;
			.builder-image:first-child{ border-left: none;}		
			.ratingHead{ font-size:$body-font-size - 2px;}
			a{
				 &:hover{
					 .buil-prop-local-info{ width:$body-width;
						height:$body-width;
						.prop-name{ overflow:inherit;
							text-overflow:inherit;
							white-space:inherit;
						}
						.prop-address{ overflow:inherit;
							text-overflow:inherit;
							white-space:inherit;
						}
					}
				 }
			}
					
		}
		.buil-prop-local-info{ display:block;height:$body-width - 60%;
			color:$white-color;
			.prop-name{ @include fontStyle($openSans:true);
				font-size:$body-font-size + 2px !important;
				color:$white-color !important;
				line-height:18px;
				font-weight:normal;
				text-align:left;
				display:block;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
			}
			.prop-address{ @include fontStyle($openSans:true);
				font-size:$body-font-size;
				color:$gray-color !important;
				line-height:16px;
				text-align:left;
				display:block;
				color:$white-color;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
			}
		}
		.builder-image{ height:100px;
			padding:0;
			position:relative;
			overflow:hidden;
			background:$dark-gray-color;
			border-left:2px solid $white-color;
			a{ width:$body-width;
				height:100px;
				.card-image{ width:$body-width;
					height:$body-width;
				}
				
			}			
		}
	}	
}
.prop-deals-card+ .prop-list-perview{ margin:35px 0 25px 0;}
.list-cit-loca-info{ background:$lighter-mid-gray-color; 	
	.list-cit-loca-left-info{ background:$white-color; width:$body-width - 15% !important;
		padding-right: 1.8%;
	}
	.list-cit-loca-right-info{ width:$body-width - 85% !important; margin:0 !important;
	}
}

/* Deals style */
.listing-element{ position:relative;}
.prop-deals-card{ position:absolute;
	width:240px;
	min-width:200px;
	top:-27px;
	right:10px;
	background:$white-color;
	@include rounded($top:true, $radius:5px);
	border:1px solid $body-selected-color;
	z-index:0;
	&:hover{ z-index:1;
		@include box-shadow($darkligh-gray-color 0px 0px 10px);
		.prop-card-content{ height:200px; 
			visibility:visible;
		}
	
	}
	.prop-card-header{ background:$body-selected-color;
		padding:4px 10px 5px 10px;
		@include fontStyle($openSans:true);
		color:$white-color;
		text-align:center;
	}
	.prop-card-content{ width:$body-width;
		height:10px;
		overflow:hidden;
		visibility:hidden;
		-webkit-transition: height 600ms linear;
		-moz-transition: height 600ms linear;
		-o-transition: height 600ms linear;
		-ms-transition: height 600ms linear;
		transition: height 600ms linear;
		@include box-sizing(border-box);
		.deal-items{ width: 220px;
			height:135px;
			padding:5px 10px;			
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			.deal-name-info{ @include fontStyle($openSans:true); 
				font-size:$body-font-size + 1px;
				color:$darkBlack-gray-color;
				font-weight:bold;
				line-height:16px; 
			}
			.deal-text-info{@include fontStyle($openSans:true);
				font-size:$body-font-size;
				color:$darkBlack-gray-color;
				line-height:14px;
			} 
		}
		.deal-bottom-info{ background: $lighter-mid-gray-color; padding:10px;}
		.deals-remaining{ @include fontStyle($openSans:true); 
			font-size:$body-font-size;
			color:$darkBlack-gray-color; 
			text-align:center;
			padding:20px 0 5px 0;
		}
		a:hover{ text-decoration:underline;}
		.deals-btn-info{ text-align:center;}	
	}
}
.list-loca-img-view-info{ height:42px; overflow:hidden;}
.list-loca-med-img-info{ height:105px; overflow:hidden;}
.list-over-img-info:first-child{ padding-top:0;}
.list-over-img-info{ height:130px; padding-top:2px;}
.list-no-img-info{ height:100%; background:$lighter-mid-gray-color;}
.contentHeader{ 
	h4{
		.local-sub-top-link{ 
			a{ @include fontStyle($openSans:true);
				font-size:$body-font-size; 
				color:$anchor-link-color !important;
				i{ font-size:$body-font-size + 2px;}
				&:hover{ color:$anchor-link-color !important;
				}
			}
		}
	}
	h1 {
		font-size:$body-font-size + 6;
		display:inline-block;
		line-height:20px;
	}
}
.list-prom-info{
	.projLeadContainer{ height:270px; overflow:hidden;
		.prom-img-info{}
		.enq-form-info{ padding:10px 0 0 0;
			.contentHeader{ margin:0 0 5px 0;}
			p{ margin: 0 0 10px 0;}
			.paddingT15{ padding-top:10px;}
		}
	}
}
@-moz-keyframes ring {
	0%{-moz-transform:rotate(-15deg);}
	2%{-moz-transform:rotate(15deg);}
	4%{-moz-transform:rotate(-18deg);}
	6%{-moz-transform:rotate(18deg);}
	8%{-moz-transform:rotate(-22deg);}
	10%{-moz-transform:rotate(22deg);}
	12%{-moz-transform:rotate(-18deg);}
	14%{-moz-transform:rotate(18deg);}
	16%{-moz-transform:rotate(-12deg);}
	18%{-moz-transform:rotate(12deg);}
	20%{-moz-transform:rotate(0deg);}
}
@-webkit-keyframes ring {
	0%{-webkit-transform:rotate(-15deg);}
	2%{-webkit-transform:rotate(15deg);}
	4%{-webkit-transform:rotate(-18deg);}
	6%{-webkit-transform:rotate(18deg);}
	8%{-webkit-transform:rotate(-22deg);}
	10%{-webkit-transform:rotate(22deg);}
	12%{-webkit-transform:rotate(-18deg);}
	14%{-webkit-transform:rotate(18deg);}
	16%{-webkit-transform:rotate(-12deg);}
	18%{-webkit-transform:rotate(12deg);}
	20%{-webkit-transform:rotate(0deg);}
}
@-ms-keyframes ring {
	0%{-ms-transform:rotate(-15deg);}
	2%{-ms-transform:rotate(15deg);}
	4%{-ms-transform:rotate(-18deg);}
	6%{-ms-transform:rotate(18deg);}
	8%{-ms-transform:rotate(-22deg);}
	10%{-ms-transform:rotate(22deg);}
	12%{-ms-transform:rotate(-18deg);}
	14%{-ms-transform:rotate(18deg);}
	16%{-ms-transform:rotate(-12deg);}
	18%{-ms-transform:rotate(12deg);}
	20%{-ms-transform:rotate(0deg);}
}
@keyframes ring {
	0%{transform:rotate(-15deg);}
	2%{transform:rotate(15deg);}
	4%{transform:rotate(-18deg);}
	6%{transform:rotate(18deg);}
	8%{transform:rotate(-22deg);}
	10%{transform:rotate(22deg);}
	12%{transform:rotate(-18deg);}
	14%{transform:rotate(18deg);}
	16%{transform:rotate(-12deg);}
	18%{transform:rotate(12deg);}
	20%{transform:rotate(0deg);}
}
