/* 
Desc: Overview View Scss Document 
Author: Sanjeev Verma
Date: 15 Jan 2014
*/

.ratingHead{@include fontStyle($openSans:true);
	font-size:$body-font-size - 1px;
	color:$darkligh-gray-color;
	font-weight:bold;
	text-transform:capitalize;
}
.ratingLabel{@include fontStyle($openSans:true);
	font-size:$body-font-size;
	color:$darkligh-gray-color;
	font-weight:bold;
}
.proj-text-justify{ text-align:justify;}
ul.neigh-Nav{ position:absolute;
	width: $body-width;
	left:0; 
	bottom:0;
	background: rgba(255, 255, 255, 0.6);
	li{ display:block;
		padding:5px 10px;	
		margin:0;
		float:left;
		span{ display:block;}
		i{ font-size:$body-font-size + 10px; 
			color:$dark-gray-color;
		}
		.neigCount{@include fontStyle($openSans:true);
			font-size:$body-font-size + 2px;
			color:$dark-gray-color;
			padding:0 0 0 10px;
		}
		.icon-school { color: #3a95c4; }
		.icon-restaurant { color: #8059a5; }
		.icon-hospital { color: #ce4f2d; }
		.icon-petrol-station { color: #333333; }
		.icon-bank { color: #c74560; }
		.icon-bus-stop { color:#CC7700;}
		.icon-train-station { color:#501100;}
		.icon-airport { color:#006633;}
	}
}
.neig-explo-info{ position: absolute;
	bottom: 15px;
	right: 10px;
	margin: 0;
}	
.over-img-info{ position:relative;
	img:first-child{ padding:0; }
	img{ width:50%;
		height:100px;
		float:left;
		padding:0 0 0 2px;
		@include box-sizing(border-box);
	}
	.more-img-info{ position:absolute;
		background:$darkBlack-gray-color;
		@include fontStyle($openSans:true);
		font-size:$body-font-size;
		color:$White-gray-color;
		bottom:0;
		right:0;
		padding:2px 5px;
	}
}
.project-head-info{@include fontStyle($openSans:true);
	font-size:$body-font-size + 2px;
	color:$darkligh-gray-color;
}
.project-sub-text-info{@include fontStyle($openSans:true);
	font-size:$body-font-size;
	color:$darkligh-gray-color;}
.over-count-text-info{ color:$darkBlack-gray-color;}
.project-text-info{ @include fontStyle($openSans:true);
	font-size:$body-font-size;
	color:$darkligh-gray-color;
}
.proj-over-rating-info{
	.total-rating-cont-info{ padding:5px 0 0 20px;
		@include box-sizing(border-box);
		&.row-fluid [class*="span"]{ min-height:10px;}
	}
}
/**** Show Localities and builders on the city / suburb / locality pages   --  by Nimit 05 March 2014 ****/


#fflow {
	.proj-see-link { 
		padding:5px 0 0 0;
		margin:15px 0 0 0;
		a { margin:0 0 0 10px;			
			&:hover{ text-decoration:underline !important;}
		}
	}
}


.show_loc {
	padding: 10px 5px 5px 5px;
	
	.proj-local-rat-info {
		
		.loc_name {
			display:block;
			max-width:98%;
			white-space: nowrap;
			overflow: hidden; /* "overflow" value must be different from "visible" */
			text-overflow: ellipsis;
			text-align: left;
			line-height: 30px;
		}
		
		.loc_rating {
			display:block;
		}
		
		.loc_appreciation {
			display:block;
		
			.appraisal {
				
				.appraisal-icon-cont {
					font-size:12px;
					text-align: left;
				}
				
				.appraisal-label {
					text-transform:capitalize;
					line-height:normal;
					text-align: left;
				}
			}
		}
		
		.not-rated {
			
		}
	}
}

.show_builder {
	padding: 10px 15px 5px 0;

	.build-name {
		font-size: 12px;
		font-weight: bold;
	}
}		
