/* 
Desc: Projects list Item for ALV Scss Document 
Author: Nimit Mangal
Date: 27 Nov 2013
*/

/* Projects ALV list Item Starts */
.alv-listitem-projects {
	position:relative;
		
	.proj-name-wrap {
		padding:0 0px 5px 0;
		
		.proj-name {
			display:block;
			float:left;
			font-size:14px;
			white-space: nowrap;
			max-width: 47%;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor:pointer;
			color:#333;
			
			&.big {
				max-width:68%;
			}
		}
		
		.rise-fall {
			margin-left:10px;
		}
		
		.btn-area {
			height: 24px;
			float: right;
			clear: right;
			width: 85px;
			text-align: right;
			
			.wrap {
				display:block; 
				float:left;
				margin:0px;
				width: 28px;
				height: 30px;
				text-align: right;
			}


			.gray-icon-btn-primary, .gray-icon-btn-action {
				background: #dfdfdf;
				border-top-color: #dfdfdf;
				border-bottom-color: #dfdfdf;
				padding: 2px 6px;
				cursor: pointer;
				outline: none;
				color: #333;
				font-size: 14px;
				line-height: 14px;
				min-width: 20px;
				display:none;
				
				&:hover { 
					background: $btn-primary-bgcolor;
					color: $btn-primarycolor;
					border-top:4px solid $btn-primary-bgcolor;
					border-bottom:4px solid $btn-primary-hov-bordercolor;
				}	
	
				&:active {
					background: $btn-primary-act-bgcolor;
					color:$btn-primarycolor;
					border-top:4px solid $btn-primary-act-bordercolor;
					border-bottom:4px solid $btn-primary-hov-bordercolor;
				}
				
				&.active { 
					background: $btn-primary-bgcolor;
					color: $btn-primarycolor;
					border-top: 4px solid $btn-primary-hov-bordercolor;
					border-bottom: 4px solid $btn-primary-bgcolor;
					display: block;
				}
				
				i {
					font-size:14px;
					line-height: 14px;
				}
			}
			
			.gray-icon-btn-action {
				&:hover { 
					background: $btn-action-bgcolor;
					color: $btn-actioncolor;
					border-top:4px solid $btn-action-bgcolor;
					border-bottom:4px solid $btn-action-hov-bordercolor;
				}	
	
				&:active, &.active {
					background: $btn-action-act-bgcolor;
					color:$btn-actioncolor;
					border-top:4px solid $btn-action-hov-bordercolor;
					border-bottom:4px solid $btn-action-act-bordercolor;
				}
			}
			
			div[pt-favorite] {
				span {
					padding: 5px 0 0 0;
					display:none;
				}
				
				&.active {
					
					span {
						display: block;
					}
				}
			}
		}
	}
	
	.col1 {
		width:28%;
		float:left;
		
		&.img-wrap {
			position:relative;
			
			img.proj-imgs {
				border:solid 1px #ccc;
				width:70px;
				height:45px;
				padding:1px;
				background:url('../img/bg-logo.gif') no-repeat 2px 2px;
			}
			
			.proj-status {
				position:absolute;
				top:0px;
				
				.bnr {
					position:relative;
					font-size:9px;
					line-height:12px;
					text-transform:uppercase;
					padding: 1px 3px;
					margin: 5px 0 0 -4px;
					color: #FFFFFF;
					background-color: #3AC00B;
					min-width:30px;
					max-width:65px;
					
					&:after {
						content: ' ';
						position: absolute;
						width: 0;
						height: 0;
						left: 0px;
						top: 100%;
						border-width: 2px;
						border-style: solid;
						border-color: #666 #666 transparent transparent;
					}	
									
					&.green {
						background-color: #3AC00B;
					}
					&.blue {
						background-color: #00AEFF;
					}
					&.orange {
						background-color: #F7941E;
					}
					&.red {
						background-color: #EE1A39;
					}
				}
			}
		}
	}
	
	.col2 {
		width:62%;
		float:left;
		margin-left:2px;
		
		.address {
			white-space: nowrap;
			max-width: 95%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.prop-types {
			white-space: nowrap;
			max-width: 95%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.prices {
			white-space: nowrap;
			max-width: 95%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	
	.deal-wrap {
		width:18px;
		float:right;
		height:54px;
		
		.deal-bar {
			position:relative;
			width:8px;
			border-left:solid 2px #d77500;
			background-color:$active-color;
			padding:2px 7px 3px;
			color:#fff;
			margin:0px 0 0 0;
			cursor:pointer;
			margin-left:-8px\9;
			
			strong {
				font-size:11px;
				line-height:12px;
				letter-spacing: 1px;
				margin: 25px 0 0;
				transform: rotate(-90deg);
			}
			
			.deal-info {
				display: none;
				opacity: 0;
				position: absolute;
				right: 24px;
				top: 0;
				bottom: 0px;
				/*height:0px;*/
				overflow:hidden;
				width: 257px;
				padding: 3px 5px;
				background-color: #fff9ae;
				color: #333;
				text-align: left;
				font-size: 11px;
				line-height: 11px;
			}
			
			&:hover {
				.deal-info {
					opacity: 0.9;
					display:block;
					/*height: auto;
					transition:opacity 1s ease;
					-webkit-transition:opacity 1s ease;
					-moz-transition:opacity 1s ease;
					-o-transition:opacity 1s ease;*/
				}
			}
		}
	}
	
	&:hover {
		border:solid 1px #ccc;
		background-color:#f5f5f5;
		box-shadow:0px 3px 3px #999;
		cursor:pointer;
		
		.proj-name {
			color:#4097ce;
		}
		
		.btn-area {
			.gray-icon-btn-primary, .gray-icon-btn-action {
				display: block;
			}
			
			div[pt-favorite] {
				span {
					display: block;
					float: left;
				}
			}
		}
	}
}

	



/* Projects ALV list Item Ends */
