/* 
Desc: Zoom Button on Map Scss Document 
Author: Nimit Mangal
Date: 02 Dec 2013
*/


/********************************************************
**************  Zoom Button on Maps ********************
********************************************************/		
.zoom-wrap {
	position: absolute;
	bottom: 20px;
	right: 5px;
	
	.btn-group.btn-group-vertical {
		
		button.btn {
			border-radius: 0px;
			background: #fff;
			padding: 5px 12px;
			outline: none;
			
			&.disabled {
				background: none repeat scroll 0 0 #F5F5F5;
			    border: 1px solid #CCCCCC;
				opacity: 0.78;
			}
		}
	}
}
	
.backBtn {
	position: absolute;
	bottom: 20px;
	right: 45px;
	
	button.btn {
		border-radius: 0px;
		background: #fff;
		padding: 5px 16px;
		outline: none;
		
		.fa-arrow-left { 
			display: inline-block;
		}
		
		.show {
			display: none;
		}
		
		&:hover, &.backtocity {
			border-color: #2691ec;
			background: #2691ec;
			color: #fff;
			transition: background 0.1s linear 0s, border-color 0.1s linear 0s;
			
			.fa-arrow-left { 
				margin-right: 5px;
			}

			.show {
				display:inline-block;				
			}
		}
	}
}
