<div left-panel></div>
<div id='content_center'>
		<dl class="curved">
			<dt><span  class='heading'>Change Password</span></dt>
	      	<dd> 
			    <form name="editProfile"  id="update-profile" style='width:600px' >
			        <p class='frmleft'>Current Password:</p>
			        <p class="frmright"><input type="password" name="current_password" value="" ng-model='current_password'></p>
			      	<div class="clear"></div>
			        <p class='frmleft'>New Password:</p>
			        <p class="frmright"><input type="password" name="new_password" value="" ng-model='new_password'></p>
			        <div class="clear"></div>
			        <p class='frmleft'>Confirm New Password:</p>
			        <p class="frmleft"><input type="password" name="confirm_password" value="" ng-model='confirm_password'></p>
			        <div class="clear"></div>
			        <div ng-if="valSuccsMsg!==''">
				        <p class='frmleft'></p>
				        <p class="frmleft" style='color:green;'>{{valSuccsMsg}}</p>
			    	</div>
			    	<div ng-if="valErrMsg!==''">
				        <p class='frmleft'></p>
			        	<p class="frmleft" style='color:red;'>{{valErrMsg}}</p>
			    	</div>
			        <p class='frmleft'>&nbsp;</p>
			        <p class="frmleft"><input type="submit" name="Update" value="Update" ng-click='change_pwd();'></p>
			        <div class="clear"></div>
		        </form>		        
	      	</dd>
	  	</dl>	
</div>