<div left-panel></div>
<div class="send_invitation">
      <h1>Send Invitation</h1>
      <form name="invitationForm"  id="invite-form">
        <p><input type="text" name="invite" value="" ng-model='email' placeholder="Email"></p>
        <div ng-if="valErrMsg!==''" style='color:red'>{{valErrMsg}} </div>
        <div ng-if="valSucsMsg!==''" style='color:green'>{{valSucsMsg}} </div>
        <p class="submit"><input type="submit" name="invite" value="Submit" ng-click='invite();'></p>
      </form>
</div>