<div left-panel></div>
<div id='content_center'>
<dl class="curved">
	<dt><span class='heading'>Send Invitation</span></dt>
	<dd> <br/>
      <form name="invitationForm"  id="invite-form">

        <p>
        	<input type="text" name="invite" value="" ng-model='email' placeholder="Email">
        	<select ng-model='project_id'>
                <option value=''>Please Select</option>
        		<option ng-repeat="project in projects" value='{{project.id}}'>
        			{{project.name}}
	          	</option>
        	</select>
        </p>
        

        <div ng-if="valErrMsg!==''" style='color:red' ng-bind-html="valErrMsg"></div>
        <div ng-if="valSucsMsg!==''" style='color:green' ng-bind-html="valSucsMsg"></div>
        <p class="submit"><input type="submit" name="invite" value="Submit" ng-click='invite();'></p>
      </form>
    </dd>
</dl>
</div>