<div left-panel></div>
<div id='content_center' ng-show='addCR'>
		<dl class="curved">
			<dt><span  class='heading'>Add CR</span><span style='float:right;color:#000;cursor:pointer' title='Close' ng-click='close("addCR")'> X </span></dt>
	      	<div ng-if="valErrMsg!==''" style='color:red'>{{valErrMsg}} </div>
	      	<dd> 
			    <form name="loginForm"  id="login-form" style='width:600px' >
			      
			        <p class='frmleft'>Title</p>
			        <p class="frmright"><input type="text" name="title" value="" ng-model='cr_title'></p>
			      	<div class="clear"></div>
			        <p class='frmleft'>Description</p>
			        <p class="frmright">
			        <textarea rows="7" cols="35" name="description" value="" ng-model='cr_description'></textarea>
			        </p>
			        <div class="clear"></div>
			       <p class='frmleft'>Upload Files</p>
			       <p><input type="file" ng-file-select="onFileSelect($files)" multiple></p>

			       <div class="clear"></div>


			        <p class='frmleft'>&nbsp;</p>
			        <p class="frmleft"><input type="submit" name="Login" value="Submit" ng-click='add_cr(projectId);'></p>
			        <div class="clear"></div>
		        </form>		        
	      	</dd>
	  	</dl>	
</div>
<div id='content_center' ng-show='editCR'>
		<dl class="curved">
			<dt><span  class='heading'>Edit CR</span><span style='float:right;color:#000;cursor:pointer' title='Close' ng-click='close("editCR")'> X </span></dt>
	      	<div ng-if="valErrMsg!==''" style='color:red'>{{valErrMsg}} </div>
	      	<dd> 
			    <form name="loginForm"  id="login-form" style='width:600px' >
			      
			        <p class='frmleft'>Title</p>
			        <p class="frmright"><input type="text" name="title" value="" ng-model='cr_title'></p>
			      	<div class="clear"></div>
			        <p class='frmleft'>Description</p>
			        <p class="frmright">
			        <textarea rows="7" cols="35" name="description" value="" ng-model='cr_description'></textarea></p>
			        <div class="clear"></div>
			        <p class='frmleft' ng-if="userType==='cr'">Status</p>
			        <div class="clear"></div>
			        <p class="frmright" ng-if="userType==='cr'"><select ng-model='$parent.cr_status' >			        	
			        	<option value='1'>Pending</option>
			        	<option value='2'>Approved</option>
			        	<option value='3'>Reject</option>
			        </select></p>
			         <p class='frmleft'>Upload Files</p>
			         <p><input type="file" ng-file-select="onFileSelect($files)" multiple></p> 
			         <p class='frmleft' ng-if='file_name.length'>Attached Files</p>
			         <span ng-repeat='file1 in file_name'><a target='_blank' href='/cr_files/{{file1.file_name}}'>{{file1.real_name}}</a> <a> Delete </a><br></span>
			          <div class='clear'>&nbsp;</div>
			        <p class='frmleft'>&nbsp;</p>
			        <p class="frmleft"><input type="submit" name="Login" value="Submit" ng-click='cr_edit(cr_id);'></p>
			        <div class='clear'>&nbsp;</div>
		        </form>		        
	      	</dd>
	  	</dl>	
</div>

<div id='content_center' ng-show='viewCR'>
		<dl class="curved">
			<dt><span  class='heading'>View CR</span><span style='float:right;color:#000;cursor:pointer' title='Close' ng-click='close("viewCR")'> X </span></dt>	      	
	      	<dd> 
			  
			        <p class='tdleft'>ID</p>
			        <p class="tdright">{{10000+cr_id}}</p>
			      	<div class="clear"></div>
			        <p class='tdleft'>Title</p>
			        <p class="tdright">{{cr_title}}</p>
			      	<div class="clear"></div>
			        <p class='tdleft'>Description</p>
			        <p class="tdright">{{cr_description}}
			        </p>
			        <div class="clear"></div>
			        <p class='tdleft'>Date</p>
			        <p class="tdright">{{cr_date}}
			        </p>
			        <div class="clear"></div>
			        <p class='tdleft'>Status</p>
			       
			        <p class="tdright" ng-if="cr_status==='1'">Pending</p>
			        <p class="tdright" ng-if="cr_status==='2'">Approved</p>
			        <p class="tdright" ng-if="cr_status==='3'">Rejected</p>
			         <div class="clear"></div>
			         <p class='tdleft' ng-if='file_name.length'>Attached Files</p>
			         <p class="tdright"><span ng-repeat='file1 in file_name'><a target='_blank' href='/cr_files/{{file1.file_name}}'>{{file1.real_name}}</a> <br></span></p>
			         <div class='clear'>&nbsp;</div>
	      	</dd>
	  	</dl>	
</div>

<div id='content_center'>
	<dl class="curved">
		<dt><span  class='heading'>CR Listing</span></dt>
	<div align='center' ng-show='showNoti' style='background:#34567;color: red;background-color: #F68310;color:#fff;'>{{msg}}</div>
		
		<dd> <br />
		    <div ng-if='!allCRs' class='msg'> There is No CR Added yet!!.</div>
		    <div class='leftlink' style='color:#286e87' ng-show='!addCR'><a  ng-click='showadd();'> Create New CR(+)</a></div>
		     <div class='clear'>&nbsp;</div>
		    <table style='width:900px;' ng-if='allCRs'>
		    	<tr class='about'>
		    		<th style='width:90px;'>ID</th>
		    		<th style='width:150px;'>Title</th>
		    		<th style='width:280px;'>Description</th>
		    		<th style='width:60px;'>Status</th>
		    		<th style='width:60px;'>Date</th>
		    		<th style='width:60px;'>Files</th>
		    		<th>Action</th>
		    	</tr>
		    
			<tr ng-repeat="cr in allCRs" class='about'>
				<td style='width:90px;'>{{10000+cr.id}}</td>
				<td style='width:150px;'> {{cr.title | limitTo:30}}</td>
				<td style='width:280px;'>{{cr.description | limitTo:70}} </td>
				<td style='width:60px;' ng-if='cr.status==1'>Pending</td>
				<td style='width:50px;color:green' ng-if='cr.status==2'>Approved</td>
				<td style='width:50px;color:red' ng-if='cr.status==3' >Rejected</td>
				<td style='width:60px;'>{{cr.cr_date | date:'dd-MM-yyyy'}}</td>
				<td style='width:60px;' ng-if='cr.file_name.length'>{{cr.file_name.length}}</td>
				<td style='width:60px;' ng-if='!cr.file_name.length'>0</td>
				<td><a style="cursor:pointer;color:#286e87" ng-click="showCR(cr.id)">View | </a><a style="cursor:pointer;color:#286e87" ng-click="showEdit(cr.id)">Edit</a>  <a style="cursor:pointer;color:#286e87" ng-click="cr_delete(cr.id)" ng-if="userType==='pms'"> | Delete</a></td>				
			</tr>
			</table>
			<p class="last">&nbsp;</p>
      	</dd>
	</dl>
</div>