<div left-panel></div>
<div id='content_center' ng-show='viewProfile'>
	<dl class="curved">
		<dt><span  class='heading'>View Profile</span></dt>
      	<div ng-if="valErrMsg!==''" style='color:red'>{{valErrMsg}} </div>
      	<dd>
      		<p><a class='link padright30' title="Edit Profile" ng-click='edit_profile();'>Edit Profile</a></p>
	        <p class='frmleft padLeft30'>First Name :</p>
	        <p class="frmright blue">{{userDetails.first_name}}</p>
	        <div class="clear"></div>
	        <p class='frmleft padLeft30'>Last Name :</p>
	        <p class="frmright blue">{{userDetails.last_name}}</p>
	        <div class="clear"></div>
	        <p class='frmleft padLeft30'>Email :</p>
	        <p class="frmright blue">{{userDetails.email}}</p>
	        <div class="clear"></div>
	        <p class='frmleft padLeft30'>Mobile No. :</p>
	        <p class="frmright blue">{{userDetails.mobile_no}}</p>
	        <div class="clear"></div>
      	</dd>
	</dl>
</div>
<div id='content_center' ng-show='updateProfile'>
		<dl class="curved">
			<dt><span  class='heading'>Edit Profile</span></dt>
	      	<div ng-if="valErrMsg!==''" style='color:red'>{{valErrMsg}}</div>
	      	<dd> 
			    <form name="editProfile"  id="update-profile" style='width:600px' >
			        <p class='frmleft'>First Name :</p>
			        <p class="frmright"><input type="text" name="first_name" value="" ng-model='first_name'></p>
			      	<div class="clear"></div>
			        <p class='frmleft'>Last Name :</p>
			        <p class="frmright">
			        <p class="frmright"><input type="text" name="last_name" value="" ng-model='last_name'></p>
			        <div class="clear"></div>
			        <p class='frmleft'>Email :</p>
			        <p class="frmright">{{userDetails.email}}</p>
			        <div class="clear"></div>
			        <p class='frmleft'>Mobile No.:</p>
			        <p class="frmleft"><input maxlength="10" type="text" name="mobile_no" value="" ng-model='mobile_no'></p>
			        <div class="clear"></div>
			        <p class='frmleft'>&nbsp;</p>
			        <p class="frmleft"><input type="submit" name="Update" value="Update" ng-click='profile_submit();'></p>
			        <div class="clear"></div>
		        </form>		        
	      	</dd>
	  	</dl>	
</div>